@import '_base';

@import 'signin/_signin';
@import 'register/_register';
@import 'settings/_settings';

$html-name-space:'.page-account';

#{$html-name-space} {
  .blob-image{
    .image-area{
      width: 128px;
      height: 128px;
      border-radius: 2px;
    }
  }
}
