@import '_base';


.blob-image{

  .image-area{
    width: 64px;
    height: 64px;
    border-radius: $border-radius;
  }

  .pending-image{
    border: 2px dashed $grey-light-4;
    box-sizing: border-box;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    min-height: 64px;

    .fa{
      font-size: 20px;
    }
  }

  .available-image{

  }
}

