@import '_base';


.blob-image {
  display: inline-block;
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: $border-radius;

  .vertical-aspect-ratio {
    padding-top: 100%; /* Default ratio is square (so 64x64 including default width) */
  }

  .image-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: $border-radius;
  }

  img.image-area {
    width:100%; // Left and top do not scale the image beyond its native size.
  }

  .pending-image {
    border: 2px dashed $grey-light-4;
    box-sizing: border-box;
    font-size: 16px;

    .fa {
      position: absolute;
      font-size: 20px;
      top:50%;
      left:50%;
      margin: -10px 0 0 -8px;
    }
  }
}

