@import '_base';

h4.bread-crumb {
  font-size: 16px;
  color:$grey-dark-3;
  background: $white-3;
  border: 1px solid $grey-light-3;
  border-radius: 4px;
  margin-top:-8px;
  padding:9px $main-cont-padding-small;

  i {
    margin:0 7px 0 9px;
    &:first-child {
      margin:0 3px 0 0;
    }
  }

  a {
    color:$grey-dark;
    #{$state-active-hover-focus} {
      text-decoration: none;
      color: $link-color;
    }
  }
}
