@import '_base';

h4.bread-crumb {
  font-size: 19px;
  margin-top:-8px;
  > span {
    color:$grey-dark-3;
    margin-left:5px;
    i {
      margin-right:5px;
    }
  }
  a {
    color:$grey-dark;
    #{$state-active-hover-focus} {
      text-decoration: none;
      color: $link-color;
    }
  }
}
