@import '_base';

#breadcrumb {
  font-size: $p-font-size;
  font-weight: bold;
  margin: -6px 0 25px 0;
  color:$grey-dark-2;

  i {
    margin:0 7px 0 9px;
  }

  a.item {
    color:$grey-dark-2;
    #{$state-active-hover-focus} {
      text-decoration: none;
      color: $link-color;
    }

    &:first-child {
      i {
        margin:0 3px 0 0;
      }
    }
  }

  span.item span {
    color: $link-color;
  }
}
