@import '_base';

h4.bread-crumb {
  font-size: 19px;
  font-weight: normal;
  color:$grey-dark-3;

  i {
    margin:0 7px 0 9px;
    &:first-child {
      margin:0 3px 0 0;
    }
  }

  a {
    color:$grey-dark;
    #{$state-active-hover-focus} {
      text-decoration: none;
      color: $link-color;
    }
  }
}
