@import '_base';

/*
 * Non-default settings required since we do not know the aspect ratio of the uploaded image.
 */
.compose-upload-form {

  @include content-container;

  .select-channels-area{
    text-align: center;
  }
  
  .select-channel-text {
    margin-bottom: $post-margin-sm;
  }

  .channel-selection-button{
    margin-bottom: $post-margin-sm;
  }

  .btn-file{
    min-width: 100px;
  }
  .file-name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .image-container{
    max-width: 300px;
    .image-area{
      width: auto;
      height: auto;
      max-width: 300px;
      max-height: 300px;
      position: relative;
    }

    .pending-image{
      width: 300px;
      height: 200px;
    }

    .vertical-aspect-ratio{
      padding-top: 0;
    }
  }
}

.compose-upload-schedule {
  .radio {
    margin-bottom:15px;
  }
}
