
.hour-of-week{

  .timepicker {
    font-size: $p-font-size;
    margin-top: -35px;
    button, input {
      height: $input-height-base;
    }
  }

  .row {
    >.day-of-week {
      padding-right: 0;
    }
    >.hour-of-day {
      padding-left: 2px;
      padding-right: 0;
    }
    >.timezone {
      padding-left: 15px;
      font-weight: bold;
      padding-top: 10px;
      color:$grey-light-1;
    }
  }
}
