@import '_base';

.navigation-hidden {
  @media (min-width:$navbar-lg-min) {
    &:after {
      display: none;
    }
  }
}

.navbar {
  margin-bottom: 0;
  min-height: $navbar-height-sm;
  @media (min-width:$navbar-lg-min) {
    min-height: $navbar-height-lg;
  }
}

.navbar-fixed-top {
  background:$navbar-default-bg;
  border: $panel-border;
  border-width: 0 0 1px 1px;
  border-left-color: $navbar-default-bg;
  margin-left: -2px;
  overflow:hidden;

  @media (min-width:$screen-md-min) {
    left:$sidebar-width;
  }
  .inner {
    text-align:left;
    @media(min-width:$screen-lg-min) {
      max-width:810px;
    }
  }
  h1 {
    @include inline-block(top);
    font-size:18px;
    padding:15px 11px;
    margin:0;
    @include header-navbar-heading-spacing;

    @media (min-width:$screen-ss-min) {
      font-size:21px;
    }
    @media (min-width:$screen-s-min) {
      float:left;
      margin-left:0;
    }
  }
}

@media (max-width:$screen-sm-max) {
  .navbar-fixed-top {
    position: relative;
    top: auto;
    width: 100%;
  }

  .main-container {
    margin-top: 81px - $navbar-height-sm;
  }

  .info-page {
    .right-container{
      .main-container {
        margin-top: 0 !important;
      }
    }
  }
}


//@import '../elements/_header-navbar-brand';
@import '../elements/_header-navbar-toggle';
@import '../elements/_header-navbar-menu';
