@import '_base';

.jumbo-panel {
  @media (min-width:$bp-medium) {
    padding:$main-cont-padding-large;
  }
  p:last-child {
    margin-bottom:0;
  }
  .col-md-4 {
    padding-bottom:25px;
    
    &:last-child {
      padding-bottom:0;
    }
    @media (min-width:$bp-m-large) {
      padding-bottom:0;
    }
  }
}
