@import '_base';

.jumbo-panel-starts-with-header {
  padding-top: 0;
}

@media (min-width: $screen-sm-min) {
  .jumbo-panel {
    padding: $grid-gutter-width;
  }

  .jumbo-panel-starts-with-header {
    padding-top: ($grid-gutter-width - 20px);
  }
}