@import '_base';

.jumbo-panel {
  @media (min-width:$screen-sm-min) {
    padding:$main-cont-padding-large;
  }
  p:last-child {
    margin-bottom:0;
  }
  .col-md-4 {
    padding-bottom:25px;

    &:last-child {
      padding-bottom:0;
    }
    @media (min-width:$screen-md-min) {
      padding-bottom:0;
    }
  }
}

.jumbo-panel-small-padding {
  padding:{
    top:$main-cont-padding-x-small;
    bottom:$main-cont-padding-x-small;
  }
  @media (min-width:$screen-sm-min) {
    padding:{
      top:$main-cont-padding-x-small;
      bottom:$main-cont-padding-x-small;
    }
  }
}