@import '_base';

html,
body {
  height:100%;
}

body {
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch; //prevent safari scrolling 'lag'
}

.row {
  margin:0;
}

.panel-body,
.footer {
  .row {
    margin:0 -15px;
  }
}

.left-right-container-wrap {
  @media (min-width:$screen-md-min) {
    display:table;
    width:100%;
    height:100vh;
  }
}

#{$left-container},
#{$right-container} {
  @media (min-width:$screen-md-min) {
    display:table-cell;
    vertical-align:top;
  }
}

#{$left-container} {
  @media (min-width:$screen-md-min) {
    background:$blue-dark-2;
    width:$sidebar-width;
    min-width:$sidebar-width;
  }
}

#{$right-container} {
  padding:0;
  @media (min-width:$screen-s-min) {
    padding:0 60px;
  }
}

.main-container {
  margin-top:81px;
  padding-bottom: 80px; /* Allow users to bring bottom of a scrolling page further into view */

  //ensure vimeo embeds do not overlay header nav
  /*
  position:relative;
  z-index:-1;
  @media(min-width:992px) {
    z-index:1;
  }
  */
  @media(min-width:$screen-lg-min) {
    max-width:710px;
  }
}
