@import '_base';

.managed-list {
  .row {
    @include vcenter;

    .btn {
      float: right;
    }
  }
  .managed-list-create {
    @include panel-body-slim;

    h5 {
      margin: 0;
    }
  }
  .btn-icon-right {
    @media (max-width: $screen-s-max) {
      margin: 0;
    }
  }
}

.managed-list-sm {
  .row-outer {
    border-bottom: 1px solid $grey-light-3;
    padding: 10px 0;
    &:last-child {
      border-bottom:none;
    }
    #{$state-active-hover-focus} {
      background: #f9fdff;
      cursor: pointer;
      .row .action {
        i, p {
          font-weight: bold;
        }
      }
    }
    .row {
      @include vcenter;
      .action {
        p {
          float: right;
          margin-right: 2px;
        }
      }
    }
  }
}
