@import '_base';

.managed-list {
  .row {
    @include vcenter;

    .btn {
      float: right;
    }
  }
  .managed-list-create {
    @include panel-body-slim;

    h5 {
      margin: 0;
    }
  }
  .btn-icon-right {
    @media (max-width: $screen-s-max) {
      margin: 0;
    }
  }
}

.managed-list-sm {
  margin-top: 10px;
  .row-outer {
    border-top: 1px dashed $grey-light-3;
    margin:0 -6px;
    padding: 10px 6px;
    #{$state-active-hover-focus} {
      background: $white-4;
      cursor: pointer;
    }
    .row {
      @include vcenter;
      .action {
        p, button {
          float: right;
        }
      }
    }
  }
}
