@import '_base';

.panel {
  box-shadow: none;
  border: $panel-border;
  margin-top:15px;
  border-radius: $panel-border-radius;
  h2:first-child {
    margin-top: 0;
  }
}
.panel:first-child {
  margin-top:0;
}
