@import '_base';

$post-sm-max:$screen-ss-max;
$post-lg-min:$screen-s-min;
$post-max-width:600px;
$post-margin-text-vertical-sm:20px;
$post-margin-sm:$main-cont-padding-small;
$post-margin-lg:27px; /* Footer is too padded if we use the standard 30px */
$footer-margin:10px;
$queued-image-width-sm: 38.20%; /* Golden ratio, proven by W ~= (W*0.382) + ((W*0.382)*1.618) */
$queued-image-width-lg: 27.66%; /* Golden ratio, proven by: W ~= (W*0.276) + ((W*0.276)*1.618*1.618) */
$post-font-size: 14px;
$post-line-height: 20px;
$post-bottom-margin-sm: $main-cont-padding-small;
$post-bottom-margin-lg: 45px;
$reorder-menu-width: 29px;
$line-height-compensation: -5px;

@mixin post-top-bottom-padding {
  // Remains constant.
  padding-top: $post-margin-sm;
  padding-bottom: $post-margin-sm;
  @media (min-width:$post-lg-min) {
    padding-top: $post-margin-lg;
    padding-bottom: $post-margin-lg;
  }
}

@mixin post-left-right-padding {
  padding-left: $post-margin-sm;
  padding-right: $post-margin-sm;
  @media (min-width:$post-lg-min) {
    padding-left: $post-margin-lg;
    padding-right: $post-margin-lg;
  }
}

@mixin post-padding {
  @include post-top-bottom-padding;
  @include post-left-right-padding;
}

@mixin post-core {
  position: relative;
  box-shadow: $post-shadow;
  border-radius: $post-border-radius;
  background: #fff;
  margin-bottom: $post-bottom-margin-sm;
  @media (min-width:$post-lg-min) {
    margin-bottom: $post-bottom-margin-lg;
  }
}

@mixin post-border-top-radius {
  border-top-left-radius: $post-border-radius;
  border-top-right-radius: $post-border-radius;
}

@mixin post-visual {
  > img:first-child, > .video:first-child iframe {
    @include post-border-top-radius;
    cursor: pointer;
    width: 100%;
  }
  > .video:first-child {
    padding-bottom:56.25%; /* 16x9 */
    .video-radius-fix {
      img {
        width:4px;
      }
      img:first-child {
        position: absolute;
        top:0px;
        left:0px;
      }
      img:last-child {
        position: absolute;
        top:0px;
        right:0px;
      }
    }
  }
}

@mixin li-cancel-first-last-spacing {
  li:first-child {
    margin-left:0;
    padding-left:0;
  }
  li:last-child {
    margin-right:0;
    padding-right:0;
  }
}

.posts {
  @import 'actions-drop-down';
  margin: 0 auto;
  max-width: $post-max-width;

  .post {
    @include post-core;

    .text {
      @include post-padding;

      .content {
        @include clearfix;
        @media (max-width:$post-sm-max) {
          padding: ($post-margin-text-vertical-sm - $post-margin-sm) 0;
        }

        img {
          margin: 12px 0;
        }

        p:first-child {
          margin-top: $line-height-compensation;

          img {
            margin-top: $line-height-compensation * -1;
          }
        }
        p:last-child {
          margin-bottom: $line-height-compensation;

          img {
            margin-bottom: ($line-height-compensation * -1) + 1;
          }
        }
      }

      hr {
        width:auto;
        display:block;
        margin-top:$post-margin-sm;
        margin-bottom:$post-margin-sm;
        margin-left: $post-margin-sm * -1;
        margin-right: $post-margin-sm * -1;
        @media (min-width:$post-lg-min) {
          margin-top:$post-margin-lg;
          margin-bottom:$post-margin-lg;
          margin-left: $post-margin-lg * -1;
          margin-right: $post-margin-lg * -1;
        }

        &:first-child {
          display: none;
        }
      }

      ul {
        padding: 0;
        margin: 0;
      }
      li, p {
        font-size: $post-font-size;
      }
      li i {
        font-size: 18px;
      }

      .info-actions {
        @include vcenter;
        clear:both;
        margin-top: $line-height-compensation;
        margin-bottom: $line-height-compensation;
      }

      .info {
        .author {
          float:left;
          padding-top:4px;
          .author-image{
            width: 32px;
            height: 32px;
            border-radius: 16px;
          }
        }

        > ul {
          float:left;
          padding-left: 10px;
          @media (min-width:$post-lg-min) {
            padding-left: 16px; /* 10 and 16 are golden rations from 27 - the border */
          }
          > li {
            color:$grey-light-4;
            font-weight: bold;
            list-style-type:none;
            margin-bottom:0;

            .poster-name {
              color:$grey-light-1;
            }

            .container-name{
              color:$grey-light-4;
            }

            .live-in-info{
              color:$grey-light-4;
              cursor:pointer;
            }
          }
        }
      }

      .actions > ul {
        color:$grey-light-6;
        float:right;
        > li {
          @include inline-block(top);
          padding:0 5px;
          margin:0 5px;
          cursor:pointer;
          @media (min-width:$screen-xs - 100px) {
            padding:0 10px;
            margin:0 10px;
          }

          button {
            border:0 none;
            background:none;
            padding:0;
            outline:0 none;

            &:hover {
              i {
                color: $link-color;
              }
            }
          }

          &.actions-more {
            position:relative;
          }
        }

        @include li-cancel-first-last-spacing;
      }
    }
  }

  .image-post {
    @include post-visual;
  }

  .file-size{
    margin-left: 35px;
    font-size: $p-font-size - 2;
    color: $grey-light-1;
  }

  .btn-file-download{
    cursor: pointer;
  }

  >.updating-area{
    font-size: 18px;
    text-align: center;
  }
}

.tagged-posts {
  .non-image-post {
    padding-top: 32px;
  }

  .tag {
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2);
    font-size: 12px;
    position: absolute;
    top:8px;
    left:-2px;
    border-left: 2px solid #bdbdbd;
    border-radius: 2px;
    background: $gray-lighter;
    padding: 3px 6px;
  }

  .image-post .tag {
    background: #fff;
  }
}

.queue .post {
  cursor: move;
  margin-bottom: 20px;

  .text {
    padding-bottom: $post-margin-lg;
    padding-right: $reorder-menu-width + $post-margin-sm;
    @media (min-width:$post-lg-min) {
      padding-right: $reorder-menu-width + $post-margin-lg;
    }

    .actions {
      cursor: pointer;
      border-top-right-radius: $post-border-radius;
      border-bottom-right-radius: $post-border-radius;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 15px;

      &:hover {
        i {
          color: $link-color;
        }
      }

      > ul {
        margin-top:-10px;
        position: absolute;
        top:50%;
        > li {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .content {
    > * {
      display: none;
    }

    p:first-child {

      max-height: $post-line-height * 3; /* Fallback for non-webkit */
      line-height: $post-line-height; /* Fallback for non-webkit */
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content-file {
      display: block;
    }
  }

  /* Display only 2 lines of comment for files, to compensate for displaying the file itself */
  .file-post .content p:first-child {
    max-height: $post-line-height * 2; /* Fallback for non-webkit */
    -webkit-line-clamp: 2;
  }

  .image-post {
    > img:first-child {
      cursor: pointer;
      border-radius: 0;
      border-top-left-radius: $post-border-radius;
      border-bottom-left-radius: $post-border-radius;

      width:$queued-image-width-lg;
      @media (max-width:$screen-s-max) {
        width:$queued-image-width-sm;
      }
    }

    .text {
      position: absolute;
      top: 0;
      bottom: 0;
      left:$queued-image-width-lg;
      width:100% - $queued-image-width-lg;
      @media (max-width:$screen-s-max) {
        left:$queued-image-width-sm;
        width:100% - $queued-image-width-sm;
      }
    }
  }
}

.modal-fw-large-image {
  .modal-dialog {
    @media (min-width:$screen-sm-min) {
      width: auto;
      margin: 0.5%;
      max-width: 99%;
      max-height: 99%;
    }
  }
  .modal-content {
    background:none;
    box-shadow:none;
    border:0 none;
  }
  .modal-body {
    text-align:center;
  }
  img {
    @include modal-box-shadow;
    margin: 0px auto;
  }

  .image-button{
    @include modal-box-shadow;
    background: #000;
    color: #ffffff;
    padding-left: 3px;
    padding-top: 5px;
    font-size: 16px;
    border-color: $grey-light-1;
    margin: 0px 10px 10px 0px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    float:right;
  }

  a{
    color: #fff;
  }

  .image-button-close{
    padding-left: 0px;
    padding-top: 3px;
  }
}
