@import '_base';

$post-sm-max:$screen-ss-max;
$post-lg-min:$screen-s-min;
$post-max-width:900px;
$post-margin-text-vertical-sm:20px;
$post-margin-sm:$main-cont-padding-small;
$post-margin-lg:27px; /* Footer is too padded if we use the standard 30px */
$footer-margin:10px;
$queued-image-width-sm: 38.20%; /* Golden ratio, proven by W ~= (W*0.382) + ((W*0.382)*1.618) */
$queued-image-width-lg: 27.66%; /* Golden ratio, proven by: W ~= (W*0.276) + ((W*0.276)*1.618*1.618) */
$post-font-size: 16px;
$post-line-height: 1.8em;
$post-bottom-margin-sm: $main-cont-padding-small;
$post-bottom-margin-lg: 45px;
$reorder-menu-width: 29px;
$line-height-compensation: -5px;
$post-header-margin-top: 31px;
$post-header-margin-bottom: 16px;
$post-border-color: lighten($gray, 30%);

$post-p-margin: 28px;

@mixin post-top-bottom-padding {
  // Remains constant.
  padding-top: $post-margin-sm;
  padding-bottom: $post-margin-sm;
  @media (min-width:$post-lg-min) {
    padding-top: $post-margin-lg;
    padding-bottom: $post-margin-lg;
  }
}

@mixin post-narrow-top-bottom-padding {
  padding-top: $post-margin-sm;
  padding-bottom: $post-margin-sm;
}

@mixin post-zero-top-bottom-padding {
  padding-top: 0;
  padding-bottom: 0;
}

@mixin post-left-right-padding {
  padding-left: $post-margin-sm;
  padding-right: $post-margin-sm;
  @media (min-width:$post-lg-min) {
    padding-left: $post-margin-lg;
    padding-right: $post-margin-lg;
  }
}

@mixin post-padding {
  @include post-top-bottom-padding;
  @include post-left-right-padding;
}

@mixin post-padding-narrow {
  @include post-narrow-top-bottom-padding;
  @include post-left-right-padding;
}

@mixin post-padding-none {
  @include post-zero-top-bottom-padding;
  @include post-left-right-padding;
}

@mixin post-core {
  position: relative;
  border: $panel-border;
  border-radius: $post-border-radius;
  border-color: $post-border-color;
  background: #fff;
  margin-bottom: $post-bottom-margin-sm;
  margin-left: -($main-cont-padding-small + 1);
  margin-right: -($main-cont-padding-small + 1);
  @media (min-width:$post-lg-min) {
    margin-bottom: $post-bottom-margin-lg;
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin post-visual {
  > .full-width-image-container{
    //display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    > img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
  > img:first-child, > .full-width-image-container, > .video:first-child iframe {
    width: 100%;
  }
  > .video:first-child {
    padding-bottom:56.25%; /* 16x9 */
  }
}

@mixin li-cancel-first-last-spacing {
  li:first-child {
    margin-left:0;
    padding-left:0;
  }
  li:last-child {
    margin-right:0;
    padding-right:0;
  }
}

@mixin post-text-style {
  h1,h2{
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    margin-top:$post-p-margin;
    margin-bottom:$post-p-margin;
    padding: 0;
    text-transform: none;
    font-weight: normal;
  }
  h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color:lighten(black, 20%);
  }
  h2{
    font-weight: 300;
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -0.022em;
    color:lighten(black, 50%);
  }
  p {
    line-height: $post-line-height;
    margin-top:$post-p-margin;
    margin-bottom:$post-p-margin;
  }
  li, p {
    font-size: $post-font-size;
    color:lighten(black, 20%);
    font-family: georgia,"times new roman",times,serif;
  }
  li {
    margin-bottom: 10px;
  }
  hr {
    width:auto;
    display:block;
    margin-top:$post-margin-sm;
    margin-bottom:$post-margin-sm;
    margin-left: $post-margin-sm * -1;
    margin-right: $post-margin-sm * -1;
    @media (min-width:$post-lg-min) {
      margin-top:$post-margin-lg;
      margin-bottom:$post-margin-lg;
      margin-left: $post-margin-lg * -1;
      margin-right: $post-margin-lg * -1;
    }

    color: $grey-light-1;
    &:first-child {
      display: none;
    }
  }
  blockquote{
    $blockquote-bar-width: 3px;
    padding: $post-margin-sm 0 $post-margin-sm $post-margin-sm;
    border-left-width: $blockquote-bar-width;
    border-color: $brand-highlight;
    p:first-child{
      margin-top: 0;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
  pre,code {
    // https://css-tricks.com/snippets/css/make-pre-text-wrap/
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}

@mixin comment-like-count-style {
  color:$grey-light-1;
  font-size: 13px;
  font-weight: bold;
  > span {
    margin-right: 12px;
    &:last-child{
      margin-right: 0;
    }
    > a{
      @include thin-fonts;
      cursor: pointer;
      color: $grey-light-1;
      font-size: 13px;
    }
    &.likes-count{
      &.has-liked{
        &:before{
          font-family:'FontAwesome';
          margin-right: 4px;
          content: '\f004';
          color: #AA0000;
        }
      }
      &.has-not-liked{
        &:before{
          font-family:'FontAwesome';
          margin-right: 4px;
          content: '\f08a';
        }
      }
    }
    &.comments-count{
      &:before{
        font-family:'FontAwesome';
        margin-right: 4px;
        content: '\f0e5';
      }
    }
    &.post-link-size{
      &:before{
        font-family:'FontAwesome';
        margin-right: 4px;
        content: '\f06b';
      }
    }
  }
}

@mixin author-image {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

@mixin post-info {
  .author {
    float:left;
    padding-top:4px;
    .author-image{
      @include author-image;
    }
  }

  > ul {
    float:left;
    padding-left: 10px;
    margin-bottom: 0px;

    @media (min-width:$post-lg-min) {
      padding-left: 16px; /* 10 and 16 are golden rations from 27 - the border */
    }
    > li {
      color:$grey-light-1;
      font-weight: bold;
      @include thin-fonts;
      list-style-type:none;
      margin-bottom:0;

      .poster-name {
        color:$gray-dark;
      }

      .container-name{
        color:$grey-light-1;
      }

      .live-in-info{
        color:$grey-light-1;
      }
      .live-in-link{
        cursor:pointer;
      }
    }
  }
}

.angular-medium-editor {
  @include post-text-style;
}

.post-list-information {
  .price{
    font-weight: bold;
  }

  .price-information{
    .price-row{
      margin-top: 20px;
      margin-bottom: 20px;
      &:first-of-type{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.posts-header{
  p {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.posts {
  @import 'actions-drop-down';
  margin: 0 auto;
  //max-width: $post-max-width;

  text-align: left;

  .post {
    @include post-core;

    > hr {
      width:auto;
      display:block;
      margin-top:0;
      margin-bottom:0;
      margin-left: 0;
      margin-right: 0;
    }

    .post-section-standard-border {
      @include post-padding;
    }
    .post-section-narrow-border {
      @include post-padding-narrow;
    }
    .post-section-no-border {
      @include post-padding-none;
    }

    .info-actions {
      @include vcenter;
      clear:both;
      margin-top: $line-height-compensation;
      margin-bottom: $line-height-compensation;

      .info {
        @include post-info;
      }

      .actions > ul {
        color:$grey-light-6;
        float:right;
        margin-bottom: 0px;
        > li {
          @include inline-block(top);
          padding:0 5px;
          margin:0 5px;
          cursor:pointer;
          @media (min-width:$screen-xs - 100px) {
            padding:0 10px;
            margin:0 10px;
          }

          button {
            border:0 none;
            background:none;
            padding:0;
            outline:0 none;

            &:hover {
              i {
                color: $link-color;
              }
            }
          }

          &.actions-more {
            position:relative;
          }
        }

        @include li-cancel-first-last-spacing;
      }
    }

    .post-blocks{
      >.post-block{
        margin-top: $post-p-margin;
        margin-bottom: $post-p-margin;

        &:first-child{
          margin-top: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    .text {
      @include post-left-right-padding;
      @include post-text-style;
    }

    .post-footer-actions{
      .like-comment-buttons{
        > span {
          font-size: $p-font-size;
          color:$grey-light-1;

          > a{
            cursor: pointer;
            font-size: $p-font-size;
            color:$grey-light-1;
            font-weight: bold;
            @include thin-fonts;
          }

          margin-right: 12px;
          &:after{
            content: '·';
            margin-left: 12px;
          }

          &:last-child{
            margin-right: 0;
            &:after{
              content: '';
              margin-left: 0px;
            }
          }
        }
      }

      .read-more-actions{
        > span {
          font-size: $p-font-size;
          color:$grey-light-1;

          > a{
            cursor: pointer;
            font-size: $p-font-size;
            color:$gray-dark;
            font-weight: bold;
            @include thin-fonts;
          }

          margin-right: 12px;

          &:last-child{
            margin-right: 0;
          }
        }
      }

      .like-comment-counters{
        @include comment-like-count-style;
        float:right;
      }
    }

    .read-access-image{
      cursor: pointer;
    }
  }

  .post-visual {
    @include post-visual;
  }

  .file-size{
    margin-left: 35px;
    font-size: $p-font-size - 2;
    color: $grey-light-1;
  }

  .btn-file-download{
    cursor: pointer;
  }

  >.updating-area{
    font-size: 18px;
    text-align: center;
  }
}

/*.posts:not(.tagged-posts){
  .tag{
    display: none;
  }
}*/
.posts,.tagged-posts {
  .tag {
    border: 1px solid $post-border-color;
    font-size: 12px;
    background: #fff;
    padding: 3px 6px;
    position: absolute;
    top:-1px;
    right:-1px;
  }
}

.modal-fw-large-image {
  .modal-dialog {
    @media (min-width:$screen-sm-min) {
      width: auto;
      margin: 0.5%;
      max-width: 99%;
      max-height: 99%;
    }
  }
  .modal-content {
    background:none;
    box-shadow:none;
    border:0 none;
  }
  .modal-body {
    text-align:center;
  }
  img {
    @include modal-box-shadow;
    margin: 0px auto;
  }

  .image-button{
    @include modal-box-shadow;
    background: #000;
    color: #ffffff;
    padding-left: 3px;
    padding-top: 5px;
    font-size: 16px;
    border-color: $grey-light-1;
    margin: 0px 10px 10px 0px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    float:right;
  }

  a{
    color: #fff;
  }

  .image-button-close{
    padding-left: 0px;
    padding-top: 3px;
  }
}

.edit-post-form {

  .btn-file{
    min-width: 100px;
  }
  .file-name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .image-container{
    max-width: 300px;
    .image-area{
      width: auto;
      height: auto;
      max-width: 300px;
      max-height: 300px;
      position: relative;
    }

    .pending-image{
      width: 300px;
      height: 200px;
    }

    .vertical-aspect-ratio{
      padding-top: 0;
    }
  }
}

.full-post-dialog {
  .post-buttons-container {
    margin: 15px auto;
  }

  .modal-title {
    @include clearfix;

    padding: 14px 18px;

    .fa-close{
      font-size: 24px;
      margin-top: 8px;
    }
    .info {
      @include post-info;
    }
  }

  .live-date-information{
    @include post-left-right-padding;
    font-style: italic;
  }

  .full-post-container {
    position: relative;
    max-width:$content-max-width;
    padding: 0;

    .post {
      margin: 0;
      border: 0;
    }
    .post-buttons-container {
      text-align: center;
    }
  }

  .share-post-link{
    text-align: center;
    color: $gray;
    padding: 20px 0;
  }
}

.post-additional-content{
  @include post-left-right-padding;
  margin:0 auto;
  max-width:$content-max-width;
  margin-top: $post-margin-sm * 2;
  position:relative;
}
