@import '_base';

.sidebar {
  @media (min-width:992px) {
    position:fixed;
    top:0;
    left:0;
    width:200px;
  }
  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type:none;
    a {
      display:inline-block;
      width:100%;
      padding:7px 15px;
      color:$gray-light;
      &:hover,
      &:focus {
        text-decoration:none;
      }
    }
  }
}