@import '_base';

.sidebar {
  @media (min-width:992px) {
    position:fixed;
    top:0;
    left:0;
    width:200px;
  }
  .fifthweek-logo {
    font-size:30px;
    margin:0;
    padding:0;
    a {
      display:inline-block;
      vertical-align:top;
      width:100%;
      padding:9px 21px;
      background:$blue-dark-1;
    }
  }
  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type:none;
    .fa {
      min-width:17px;
      margin-right:8px;
      color:#697789;
    }
    a {
      display:inline-block;
      width:100%;
      padding:14px 21px;
      color:$white-1;
      border-bottom:solid 1px $grey-dark-1;
      &.active,
      &:hover,
      &:focus {
        text-decoration:none;
        background:$blue-light-1;
        border-bottom-color:$blue-light-1;
        .fa {
          color:#2780F8;
        }
      }
    }
    //force default state for parent items
    //to avoid duplicate hover/active states
    &.parent-wrap a {
      &.active,
      &:hover,
      &:focus {
        background:none;
        border-bottom:solid 1px $grey-dark-1;
      }
    }
    &:last-child a {
      border-bottom:0 none;
    }

    ul a {
      padding-left:42px;
    }

  }
}