<div class="row">
  <div class="col-md-12">
    <h2 class="hidden-md hidden-lg">{{$state.current.data.pageTitle}}</h2>
    <div class="panel panel-default">
      <div class="panel-body jumbo-panel">
        <h4>Drop us a line!</h4>
        <p>We're busy building a service to revolutionise the way content is shared on the Web. Though we still have more work to do at Fifthweek, we're encouraging creators to provide early feedback.</p>
        <br/>
        <p class="last"><strong>
          <a href="mailto:hello@fifthweek.com?subject=Feedback&body=Hi Fifthweek! This is my feedback:"
             analytics-category="Link"
             analytics-event="Clicked &quot;send feedback&quot;"
             analytics-on>hello@fifthweek.com</a></strong></p>
      </div>
    </div>
  </div>
</div>