<form novalidate
      role="form"
      name="editBacklogPostForm">

  <fw-form-modal name="Edit Post">
    <form-body>
      <div ng-if="model.isImage || model.isFile">
        <div class="form-group-file" ng-if="model.isFile">
          <div class="row">
            <div class="col-s-6 bottom-buffer">
              <a class="btn-file-download" href="images/avatar-default.png" target="_blank">
                <i class="fa fa-link"></i>
                <span>comic-ebook.pdf</span>
              </a>
            </div>
            <div class="col-s-6 bottom-buffer">
              <fw-file-upload class="pull-right" description="Upload File" on-upload-complete="onUploadComplete(data)" file-purpose="post-file" accept="*"></fw-file-upload>
            </div>
          </div>
        </div>

        <div class="form-group-file" ng-if="model.isImage">
          <label>Image</label>
          <div class="row">
            <div class="col-s-6 bottom-buffer">
              <fw-blob-image control="blobImage" pending-width="300px" pending-height="200px" thumbnail="300x300"></fw-blob-image>
            </div>
            <div class="col-s-6 bottom-buffer">
              <fw-file-upload description="Upload Image" on-upload-complete="onUploadComplete(data)" file-purpose="post-image" accept="image/jpeg,image/gif,image/png"></fw-file-upload>
            </div>
          </div>
        </div>

        <label>Comment</label>
        <fw-form-input-comment
          ng-model="model.comment"
          placeholder="Add a comment, if you like"
          focus>
        </fw-form-input-comment>

        <label>Post to</label>
        <div class="form-group">
          <fw-form-input-select selected-item="model.selectedCollection" items="model.collections"></fw-form-input-select>
        </div>
      </div>

      <div ng-if="model.isNote">
        <label>Note</label>
        <fw-form-input-note ng-model="model.note" required focus></fw-form-input-note>

        <label>Share with</label>
        <div class="form-group" ng-if="model.channels.length > 1">
          <fw-form-input-select selected-item="model.selectedChannel" items="model.channels"></fw-form-input-select>
        </div>
      </div>

      <div class="form-group">
        <fw-form-subsection name="Release time">
          <summary>
            <p>Currently scheduled for <strong>Wednesday 21st Jan</strong></p>
          </summary>
          <section>
            <div class="radio">
              <label><input type="radio"
                            ng-model="model.scheduleMode"
                            ng-value="scheduleModes.now"/> Post now</label>
            </div>

            <div class="radio" ng-if="model.isImage || model.isFile">
              <label>
                <input
                  type="radio"
                  ng-model="model.scheduleMode"
                  ng-value="scheduleModes.queued" />
                Scheduled by queue
                <span ng-if="model.savedScheduleMode !== scheduleModes.queued">(will appear <strong>Wednesday 7th Jan</strong>)</span>
              </label>
            </div>

            <div class="radio">
              <label><input type="radio"
                            ng-model="model.scheduleMode"
                            ng-value="scheduleModes.scheduled" /> On specific date:</label>
            </div>

            <div class="row">
              <div class="col-sm-7">
                <div fw-datepicker ng-disabled="model.scheduleMode !== scheduleModes.scheduled"></div>
              </div>
            </div>
          </section>
        </fw-form-subsection>
      </div>
    </form-body>
    <form-buttons>
      <button
        id="save-post-button"
        class="btn btn-block btn-success"
        data-loading-text="Saving..."
        data-event-title="Backlog post edited"
        data-event-category="Edited post"
        form-name="editBacklogPostForm"
        fw-form-submit="save()">{{model.scheduleMode === scheduleModes.now ? 'Post Now' : 'Save'}}</button>
    </form-buttons>
  </fw-form-modal>

</form>
