<fw-breadcrumb current="{{model.collectionName}}"></fw-breadcrumb>

<div class="posts queue restore-row-behaviour">
  <div class="post tagged-post" ng-repeat="post in posts">
    <div ng-class="{'non-image-post': !post.imagePath, 'image-post': post.imagePath, 'file-post': post.filePath}">
      <img ng-if="post.imagePath" ng-src="{{post.imagePath}}" ng-click="viewImage(post)"/>

      <p class="tag">Queued, {{post.date}}</p>

      <div class="text">
        <div class="content" ng-if="post.comment || post.filePath">
          <md ng-model="post.comment" ng-if="post.comment"></md>

          <p ng-if="post.filePath" class="content-file">
            <a class="btn-file-download file-content" href="{{post.filePath}}" target="_blank">
              {{post.fileName}}
            </a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
