<fw-panel12>

  <form novalidate
        role="form"
        name="form"
        id="createBlogForm">

    <h4>Create your first channel</h4>
    <p>
      Before posting content we need to create a channel. You also can change your channel settings later.
    </p>

    <fw-form-input-blog-name ng-model="newBlogData.name" placeholder="Channel name" required focus show-help></fw-form-input-blog-name>

    <fw-form-input-channel-price ng-model="newBlogData.basePrice" required></fw-form-input-channel-price>

    <div class="row-btn">
      <button
        id="create-blog-button"
        class="btn btn-block btn-success"
        data-loading-text="Saving..."
        data-event-title="Blog created"
        data-event-category="Registration"
        fw-form-submit="continue()">Create Channel</button>
    </div>

    <fw-error-message value="form.message"></fw-error-message>
  </form>

</fw-panel12>
