<fw-panel12>

  <form novalidate
        role="form"
        name="form"
        id="createBlogForm">

    <h4>Create Your Blog</h4>
    <p>
      Please give us some initial information about your blog. You can change these settings at any time.
    </p>

    <fw-form-input-blog-name ng-model="newBlogData.name" placeholder="Blog title" required focus show-help></fw-form-input-blog-name>

    <fw-form-input-channel-price ng-model="newBlogData.basePrice" required show-help></fw-form-input-channel-price>

    <div class="row-btn">
      <button
        id="create-blog-button"
        class="btn btn-block btn-success"
        data-loading-text="Saving..."
        data-event-title="Blog created"
        data-event-category="Registration"
        fw-form-submit="continue()">Create Blog <i class="fa fa-angle-double-right" style="margin-left: 4px"></i></button>
    </div>

    <fw-error-message value="form.message"></fw-error-message>
  </form>

</fw-panel12>
