<div class="full-description">
  <fw-form-group>
    <label for="video">Your Video</label>
    <div class="row">
      <div class="col-sm-10">
        <input type="url" id="video" name="video" class="form-control"
               ng-model="model.settings.video"
               ng-maxlength="100"
               maxlength="100"
               ng-pattern="/^https?:\/\/(www\.)?((youtube\.com)|(youtu\.be)|(vimeo\.com))\/.*$/"
               placeholder="http://" />
        <p class="light-grey">
          <small>Creators with videos have a much higher success rate. <br/>
          <strong>Paste in the url of your video from Youtube, Vimeo, etc.</strong></small>
        </p>
      </div>
      <div class="col-xs-12">
        <p fw-form-input-invalid-p="pattern">YouTube and Vimeo videos only. Must start with 'http://' or 'https://'.</p>
        <p fw-form-input-invalid-p="maxlength">Allowed 100 characters at most.</p>
      </div>
    </div>
  </fw-form-group>

  <label for="description">Full Description</label>
  <fw-form-group>
    <div class="row">
      <div class="col-xs-12">
        <fw-sir-trevor-editor
          maxlength="50000"
          ng-model="model.settings.description"
          editor-id="description"
          name="description"
          text-only="true"
          no-focus="true"
          placeholder="This is where you can really sell your content... tell everyone why they need to subscribe.">
        </fw-sir-trevor-editor>
      </div>
    </div>
  </fw-form-group>
</div>
