@import '_base';

.browsehappy {
  margin: 0px;
  padding: 8px 24px;
  background: #ccc;
  color: #000;
  text-align: center;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display:none !important;
}

::-moz-selection {
  background:$brand-highlight;
  color:$white-full;
  text-shadow:none;
}
::selection {
  background:$brand-highlight;
  color:$white-full;
  text-shadow:none;
}

.vcenter {
  @include vcenter;
}

.full-width-float {
  width:100%;
  float:left;
}

.no-bottom-margin {
  margin-bottom: 0;
}

img {
  max-width:100%;
}

.tab-content {
  margin-top:-2px;
}

.disable-animations *,
.disable-animations *:after,
.disable-animations *:before {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.updating-area{
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.inline-updating-area{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.position-relative{
  position: relative;
}
