//shame/misc, temp styles - TBC
//full width pages (can be improved if/when there are multiples)
.page-landing {
  .main-container {
    max-width:100%;
  }
}

//pages with no top navbar (can be improved if/when there are multiples)
.page-landing {
  .navbar-fixed-top {
    display:none;
  }
}



#{$right-container} .nav-tabs {
  padding-left:0;
  li {
    margin-bottom:0;

    &.active a {
      background:$white-full !important;
    }
  }
}


div[fw-datepicker] {
  margin-bottom:$main-cont-padding-large - 10px;

  .input-group {
    border:solid 1px $grey-light-3;
    border-radius:$input-border-radius;
    .form-control {
      height:auto;
      padding:8px 12px;
      border:0 none;
      background:$body-bg;
      box-shadow:none;
    }
  }

  .input-group-btn {
    .btn {
      background:#ededed;
      border:0 none;
      border-left:solid 1px $grey-light-3;
      margin-left:0;
      padding:{
        top:8px;
        bottom:8px;
      }
    }
  }
  .fa {
    margin-left:2px;
  }

  .dropdown-menu {
    padding:0 0 10px 0;
  }
  table {
    outline:0 none;
  }
}