//shame/misc, temp styles - TBC
.browsehappy {
  margin: 0px;
  padding: 8px 24px;
  background: #ccc;
  color: #000;
  text-align: center;
}

.panel h2:first-child {
  margin-top: 0;
}

.top-of-page {
  margin-top:15px;
}

.help-block {
  margin-bottom:9px;
}

.sub-form-alert {
  margin: ($grid-gutter-width / 2) 0 0 0;
}

.fullscreen-validated-form h2 {
  @media (min-width: $screen-md-min) {
    text-align:center;
  }
}

.vcenter {
  vertical-align:middle;
}
