//shame/misc, temp styles - TBC
//full width pages (can be improved if/when there are multiples)
.page-landing {
  .main-container {
    max-width:100%;
  }
}

//pages with no top navbar (can be improved if/when there are multiples)
.page-landing {
  .navbar-fixed-top {
    display:none;
  }
}

#{$right-container} .nav-tabs {
  padding-left:0;
  li {
    margin-bottom:0;

    &.active a {
      background:$white-full !important;
    }
  }
}

/* The site should be updated so the following is not necessary.
 * Non-standard rows should be the exception rather than the rule.
 */
.restore-row-behaviour {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
