@import '_base';

body {
  font-family:'Lato', cursive;
  font-size:0; /* Anything other than 0 appears to add excess margin/padding to elements */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:$grey-dark;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //color:$blue-light-1;
  color:$grey-dark;
}

h1 {
  font-weight:600;
  color:$grey-dark-3;
  margin:10px 0 20px 0;
}
h2 {
  font-weight:400;
  margin:10px 0 20px 0;
}

//h4 styles maybe global for all headings
h4 {
  margin-bottom:20px;
  font-weight:700;
  color:$blue-dark-3;
}
h5 {
  font:{
    size:16px;
    weight:bold;
  }
}

.heading-light {
  font-weight:normal;
}

p {
  font-size:$p-font-size;
  &.last {
    margin-bottom:0;
  }
}

p.small {
  font-size:$p-font-size - 1;
}

a {
  color:$blue-light-3;
  &:hover,
  &:focus {
    color:$blue-light-3;
  }
}


.light-grey {
  color:$grey-light-1;
}

#{$right-container} {
  ul,
  ol,
  dl {
    padding-left:20px;
    @media (min-width:$screen-s-min) {
      padding-left:30px;
    }
  }

  li,
  dd {
    font-size:$p-font-size;
    margin-bottom:20px;
  }
}

hr {
  clear:both;
  display:inline-block;
  width:100%;
  margin:15px 0 20px 0;
  border:{
    width:1px;
    color:#E8E8E8;
  }
}

.form-control {
  font-size:$input-font-size;
}

.btn {
  font-size:16px;
  font-weight:bold;
}

.form-group {
  small {
    font-size:14px;
    color:#9e9ea6;
  }
}

.nav-tabs > li {
  font-weight:bold;
}

.glyphicon {
  font-size:14px;
}
