@import '_base';

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:$blue-light-1;
}

h1 {
  font-weight:400;
  margin:10px 0 20px 0;
}
h2 {
  font-weight:400;
  margin:10px 0 20px 0;
}

//h4 styles maybe global for all headings
h4 {
  margin-bottom:20px;
  font-weight:700;
  color:#2D3E50;
}

p {
  font-size:15px;
  &.last {
    margin-bottom:0;
  }
}

a {
  color:$blue-light-3;
  &:hover,
  &:focus {
    color:$blue-light-3;
  }
}

.form-control {
  font-size:18px;
}

.btn {
  font-size:16px;
}

