$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$gray-base: #000;
$gray-lighter: #e0e0e0;
$gray-light: #e0e0e0;
$body-bg: #f5f5f5;
$panel-default-border: $gray-light;
$panel-default-heading-bg: #ebebeb;
$navbar-default-bg: #ebebeb;
$well-bg: #fff;
$well-border: $gray-light;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0px;
  padding: 8px 24px;
  background: #ccc;
  color: #000;
  text-align: center;
}

/*
 * Required to clear fixed navbar.
 */
body {
  padding-top: 70px;
}
h1 {
  font-weight: 200;
  margin:10px 0 20px 0;
}
h2 {
  font-weight: 200;
  margin:10px 0 20px 0;
}

.panel h2:first-child {
  margin-top: 0;
}

.jumbo-panel-starts-with-header {
  padding-top: 0;
}

@media (min-width: $screen-sm-min) {
  .jumbo-panel {
    padding: $grid-gutter-width;
  }

  .jumbo-panel-starts-with-header {
    padding-top: ($grid-gutter-width - 20px);
  }
}


.help-block {
  margin-bottom:9px;
}
.sub-form-alert {
  margin: ($grid-gutter-width / 2) 0 0 0;
}

@media (min-width: $screen-md-min) {
  .fullscreen-validated-form h2 {
    text-align: center;
  }
}

/*
 * override the default Loading Bar CSS
 */
#loading-bar .bar {
  background: #DDDDDD;
}
#loading-bar-spinner {
  top: 20px;
  left: 1px;

  .spinner-icon {
    border-top-color: #DDDDDD;
    border-left-color: #DDDDDD;
  }
}
@media (min-width: $screen-sm-min) {
  #loading-bar-spinner {
    left: 6px;
  }
}

/*
 * Fifthweek logo
 */
.fifthweek-logo{
  font-family: 'Oleo Script', cursive;
}
.header-logo{
  font-size: 32px;
}



/*
 * Fifthweek video
 */
.fifthweek-video{

}
.fifthweek-video p {
  margin-bottom: 20px;
}

@media (min-width: $screen-md-min) {
  .fifthweek-video h4:first-child {
    margin-top: 0;
  }
}

@media (max-width: $screen-sm-max) {
  .fifthweek-video .embed-responsive {
    margin-bottom: 20px;
  }
}

/*
 * Misc
 */
.vcenter {
    vertical-align: middle;
}
