$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$gray-base: #000;
$gray-lighter: #e0e0e0;
$gray-light: #e0e0e0;
$body-bg: #f5f5f5;
$panel-default-border: $gray-light;
$panel-default-heading-bg: #ebebeb;
$navbar-default-bg: #ffffff;
$brand-primary: darken(#428bca, 6.5%);
$navbar-default-link-color: $brand-primary;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 15%);
$navbar-default-link-active-color: #ffffff;
$navbar-default-link-active-bg: $navbar-default-link-color;
$well-bg: #fff;
$well-border: $gray-light;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0px;
  padding: 8px 24px;
  background: #ccc;
  color: #000;
  text-align: center;
}

.navbar-fixed-top {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  border: none;
}

/*
 * Required to clear fixed navbar.
 */
body {
  padding-top: 70px;
}
h1 {
  font-weight: 200;
  margin:10px 0 20px 0;
}
h2 {
  font-weight: 200;
  margin:10px 0 20px 0;
}

.panel h2:first-child {
  margin-top: 0;
}

.jumbo-panel-starts-with-header {
  padding-top: 0;
}

@media (min-width: $screen-sm-min) {
  .jumbo-panel {
    padding: $grid-gutter-width;
  }

  .jumbo-panel-starts-with-header {
    padding-top: ($grid-gutter-width - 20px);
  }
}

.top-of-page {
  margin-top:15px;
}

.help-block {
  margin-bottom:9px;
}
.sub-form-alert {
  margin: ($grid-gutter-width / 2) 0 0 0;
}

@media (min-width: $screen-md-min) {
  .fullscreen-validated-form h2 {
    text-align: center;
  }
}

/*
 * override the default Loading Bar CSS
 */
#loading-bar .bar {
  background: #DDDDDD;
}
#loading-bar-spinner {
  top: 20px;
  left: 1px;

  .spinner-icon {
    border-top-color: #DDDDDD;
    border-left-color: #DDDDDD;
  }
}
@media (min-width: $screen-sm-min) {
  #loading-bar-spinner {
    left: 6px;
  }
}

/*
 * Fifthweek logo
 */
.fifthweek-logo{
  font-family: 'Oleo Script', cursive;
}
.header-logo{
  font-size: 32px;
}



/*
 * Fifthweek video
 */
.fifthweek-video{

}
.fifthweek-video p {
  margin-bottom: 20px;
}

@media (min-width: $screen-md-min) {
  .fifthweek-video h4:first-child {
    margin-top: 0;
  }
}

@media (max-width: $screen-sm-max) {
  .fifthweek-video .embed-responsive {
    margin-bottom: 20px;
  }
}

/*
 * Misc
 */
.vcenter {
    vertical-align: middle;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

//temp for sidebar
.snap-content {
  background:$body-bg;
}
.snap-drawer-left {
  background:#ebebeb;
}

//active snap-drawer
.snapjs-left {
  .snap-drawer-left {
    //z-index:1032;
  }
  .navbar-fixed-top {
    //left:265px;
    //transition:all 0.2s ease;
  }
}


.header-wrapper {
  position:fixed;
  top:0;
  left:0;
  z-index:1030;
}

.main-container {
  //match header height
  margin-top:70px;
}
