<li class="parent-wrap" data-ng-hide="!currentUser.authenticated">
  <span class="dummy" ng-click="menuCustomize = ! menuCustomize"><i class="fa fa-eye"></i>Customize</span>
  <ul ng-show="menuCustomize || $state.includes('creators')">
    <li>
      <a class="pink" ui-sref="creators.customize.landingPage" ui-sref-active="active" snap-close>
        <i class="fa fa-arrow-circle-down"></i>Landing Page
      </a>
    </li>
    <li>
      <!--<a class="pink" ui-sref="creators.customize.collections" ui-sref-active="active" snap-close>-->
      <a class="pink" ui-sref="creators.customize.landingPage" snap-close>
        <i class="fa fa-th"></i>Collections
      </a>
    </li>
    <li>
      <!--<a class="pink" ui-sref="creators.customize.channels" ui-sref-active="active" snap-close>-->
      <a class="pink" ui-sref="creators.customize.landingPage" snap-close>
        <i class="fa fa-list-alt"></i>Channels
      </a>
    </li>
  </ul>
</li>
