<li data-ng-hide="currentUser.authenticated" data-match-route="/register*">
  <a class="pink" ui-sref="register" ui-sref-active="active" aria-label="Register" snap-close><i class="fa fa-ticket"></i>Register</a>
</li>
<li data-ng-hide="currentUser.authenticated" data-match-route="/signin*">
  <a class="green" ui-sref="signin" ui-sref-active="active" aria-label="Sign in" snap-close><i class="fa fa-sign-in"></i>Sign In</a>
</li>
<li class="parent-wrap" data-ng-hide="!currentUser.authenticated" data-match-route="/account*">
  <span class="dummy" ng-click="menuAccount = ! menuAccount"><i class="fa fa-user"></i>{{currentUser.username}}</span>
  <ul ng-show="menuAccount">
    <!--<li><a class="blue" ui-sref="account" ui-sref-active="active" snap-close><i class="fa fa-gear"></i>Account Settings</a></li>-->
    <li><a class="green" ui-sref="signout" ui-sref-active="active" snap-close><i class="fa fa-sign-out"></i>Sign Out</a></li>
  </ul>
</li>