<li ng-hide="currentUser.authenticated" data-match-route="/register*">
  <a class="pink" ui-sref="home" ui-sref-active="home" aria-label="Register" snap-close><i class="fa fa-ticket"></i>Register</a>
</li>
<li ng-hide="currentUser.authenticated" data-match-route="/signin*">
  <a class="green" id="signInLink" ui-sref="signIn" ui-sref-active="active" aria-label="Sign in" snap-close><i class="fa fa-sign-in"></i>Sign in</a>
</li>
<li class="parent-wrap" ng-hide="!currentUser.authenticated" data-match-route="/account*">
  <span class="dummy" ng-click="menuAccount = ! menuAccount"><i class="fa fa-user"></i>{{currentUser.username}}</span>
  <ul ng-show="menuAccount">
    <!--<li><a class="blue" ui-sref="account" ui-sref-active="active" snap-close><i class="fa fa-gear"></i>Account Settings</a></li>-->
    <li><a class="green" ui-sref="signOut" ui-sref-active="active" snap-close><i class="fa fa-sign-out"></i>Sign Out</a></li>
  </ul>
</li>
