<div class="form-group form-input-select-collection">
  <div class="row">
    <div class="col-xs-12 col-s-7 col-sm-6">
      <div class="select">
        <select id="{{id}}" class="select-full-width" ng-model="selectedItem" ng-options="item.name for item in items"></select>
      </div>
    </div>
    <div class="col-xs-12 col-s-5 col-sm-6">
      <button class="btn btn-link create-collection-link"
              ng-disabled="createNewCollectionDisabled"
              ng-click="createNewCollection()">Create New Collection</button>
    </div>
  </div>
</div>
