@import '_base';

$html-name-space:'.page-customize-channels';

#{$html-name-space} {
  .row {
    .price {
      color:$grey-dark-2;
      margin-left: 5px;

      &::before {
        content: "-";
        margin-right: 5px;
      }
    }

    ul {
      margin-bottom: 0;

      li {
        margin-bottom:5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
