@import '_base';

.page-customize-collections {
  .row {
    .channel {
      color:$grey-dark-3;
      margin-left: 5px;

      &::before {
        content: "-";
        margin-right: 5px;
      }
    }
  }
}

.release-times span {
  color:$grey-dark-3;
  margin-right: 5px;

  &::after {
    @include dot-separator;

    margin-left: 5px;
  }

  &:last-child {
    &::after {
      content: "";
    }
  }
}

.release-time-of-day {
  color:$grey-dark-3;
}
