@import '_base';

$html-name-space:'.page-customize-collections';

#{$html-name-space} {
  .row {
    .every {
      color:$grey-dark-3;
      margin-right: 5px;

      &::after {
        @include dot-separator;

        margin-left: 5px;
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
    .channel {
      color:$grey-dark-3;
      margin-left: 5px;

      &::before {
        content: "-";
        margin-right: 5px;
      }
    }
  }
}
