@import '_base';

$html-name-space:'.page-customize-landing';

#{$html-name-space} {

  .panel:first-child {
    margin-top:0;
  }

  //this can probably be commonised (TBC)
  form .row > .col-md-6 {
    padding:0;
  }

  //this can probably be commonised (TBC)
  label {
    display:block; 
  }

}