
<div class="row">
  <div class="col-xs-12 col-ss-8 col-sm-6">
    <div class="input-group">
      <input type="text"
           class="form-control"
           datepicker-popup="{{format}}"
           ng-model="date"
           is-open="opened"
           datepicker-options="dateOptions"
           ng-click="openDatePicker($event)"
           close-text="Close"
           readonly>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="col-xs-12 col-ss-4 col-sm-6">
    <div class="timepicker">
      <timepicker ng-model="time" minute-step="15" show-meridian="false"></timepicker>
    </div>
  </div>
</div>
