<fw-form-group input-name="creatorname">
  <label ng-if="label" for="{{inputId}}">{{label}}</label>
  <div class="row">
    <div class="col-{{breakpoint}}-{{inputColumns}}">
      <div fw-form-input-glyphs>
        <input
          id="{{inputId}}"
          type="text"
          class="form-control"
          name="creatorname"
          placeholder="Your name"
          ng-model="ngModel[ngModelAccessor]"
          ng-model-options="{ debounce: 500 }"
          ng-minlength="1"
          ng-maxlength="25"
          maxlength="25"
          focus="{{focus}}"
          ng-required="required">
      </div>
    </div>
    <div class="col-{{breakpoint}}-{{inputColumns}}">
      <p fw-form-input-invalid-p="minlength">Must be at least 1 characters.</p>
      <p fw-form-input-invalid-p="maxlength">Allowed 25 characters at most.</p>
      <p fw-form-input-invalid-p="required">A name is required.</p>
    </div>
  </div>
</fw-form-group>
