<div class="panel panel-default">
  <div class="panel-body jumbo-panel">
    <div class="col-md-12">

      <form>
        <div class="inner-row cancel-col-widths">
          <div class="col-md-10">
            <label>Your Video</label>
            <input type="url" class="form-control" ng-model="landingPageData.videoUrl" placeholder="https://www.youtube.com/watch?v=vEQrP3bGX8k" />
            <p class="light-grey"><small>Creators with videos have a much higher success rate. <br/><strong>Paste in the url of your video from Youtube, Vimeo, etc.</strong></small></p>
          </div>
        </div>
        <div class="inner-row">
          <label>About the subscription</label>
          <textarea msd-elastic class="form-control" ng-model="landingPageData.subscriptionAbout" placeholder="Hi, I'm Marc. I do a web comic called Something. That's my job, and my income is generated entirely by selling Something books, doing commissions and subscriptions from people like you. By becoming a subscriber you can help me pay for business and living expenses, meaning that I'll be able to spend more time making comics and art for everyone to enjoy! 

What your subscriptions will allow me to do: Right now I post a new Something strip 3 times a week (most of the time). Your money will go directly to paying my rent, food, insurance and business expenses, leaving me with more time to make comics, including stuff like my Something 24 hour comics, my super hero comic or weird stuff like my Turtles! I'll be creating comics and art full time, which means more cool stuff for you to read and enjoy! 

**Will Something still be free to read?** Yes! Everyone will always be able to read Something for free on my site (and a whole bunch of other places on the internet)."></textarea>
          <p class="light-grey"><small>Syntax: <strong>&#42;&#42;bold&#42;&#42;</strong> &#124; <i>&#42;italic&#42;</i> &#124; !(imageurl)</small></p>
        </div>
        <div class="row">
          <input type="submit" class="btn btn-success" value="Save Changes" />
        </div>
      </form>

    </div>
  </div>
</div>