<div class="panel panel-default">
  <div class="panel-body jumbo-panel">

    <div class="col-md-12">
      <div class="row">
        <h5>URL</h5>
        <a ng-href>http://fifthweek.com/slackbot-comics</a>
      </div>

      <form>
        <div class="row">
          <div class="col-md-6">
            <label>Subscription name</label>
            <input type="text" class="form-control" value="Slackbot comics" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Tagline</label>
            <input type="text" class="form-control" value="Bots that slack" />
          </div>
        </div>

        <div class="row">
          <label>Quick introduction</label>
          <textarea class="form-control">Hi! I'm Slackbot. Right le derp in just drink hulk.facepalm amet really? Note sexy time sandwich lol a wodka avengers tank. Portfolio left that so close why facebook geek crying trolololo. T-rex nother to do here dummies i know that feel lose yao silent hill dog face.</textarea>
        </div>

      </form>
    </div>

  </div>
</div>