<div class="panel panel-default header-image">
  <div class="panel-body jumbo-panel">
    <div class="col-md-12">

      <form>
        <div class="inner-row cancel-col-widths">
          <div class="col-md-8">
            <h5>Header Image</h5>
            <img ng-src="{{landingPageData.headerImage}}" alt="Header Image" />
          </div>
          <div class="col-md-4 file-upload">
            <label>Select a file to upload</label>
            <input type="file" />
            <input type="submit" 
                   class="btn btn-sm btn-grey" 
                   value="Upload Image" />
          </div>
        </div>
        <div class="row">
          <input type="submit" 
                 class="btn btn-block btn-success" 
                 value="Save Changes" />
        </div>
      </form>

    </div>
  </div>
</div>