<div class="panel panel-default">
  <div class="panel-body jumbo-panel">
    <div class="col-md-12">

      <form>
        <div class="row cancel-col-widths">
          <div class="col-md-8">
            <h5>Header Image</h5>
            <img ng-src="{{landingPageData.headerImage}}" alt="Header Image" />
          </div>
          <div class="col-md-4">
            <label>Select a file to upload</label>
            <input type="file" />
            <input type="submit" class="btn btn-grey"/>
          </div>
        </div>
        <div class="row">
          <input type="submit" class="btn btn-success" value="Save Changes" />
        </div>
      </form>

    </div>
  </div>
</div>