@import '_base';

$html-name-space:'.page-creators-backlog-post-list';

#{$html-name-space} {

  .full-width-image{
    .blob-image{
      border-radius: 6px 6px 0px 0px;

      .image-area{
        width: 100%;
        height: auto;
        max-width: 600px;
        position: static;
        border-radius: 6px 6px 0px 0px;
      }

      .pending-image{
        width: 600px;
        height: 400px;
      }

      .vertical-aspect-ratio{
        padding-top: 0;
      }
    }
  }

  .updating-area{
    font-size: 18px;
    text-align: center;
  }

  .file-download{
    font-size: $p-font-size + 1;

  }
  .file-size{
    margin-left: 35px;
    font-size: $p-font-size - 2;
    color: $grey-light-1;
  }
}
