
<form novalidate
      role="form"
      name="submitFeedbackForm"
      ng-if="model.page === pages.form">
  <fw-form-dirty-confirmation form="submitFeedbackForm" is-modal="true"></fw-form-dirty-confirmation>
  <fw-form-modal name="Send us feedback">
    <form-body>
      <fw-form-input-comment ng-model="model.input.message" placeholder="Your message" focus required></fw-form-input-comment>

      <fw-error-message value="submitFeedbackForm.message" id="register-message"></fw-error-message>
    </form-body>
    <form-buttons>
      <button
        class="btn btn-success btn-block btn-continue"
        type="submit"
        id="register-button"
        data-event-title="{{model.trackingEventTitle}}"
        data-event-category="{{model.trackingEventCategory}}"
        fw-form-submit="submitFeedback()">Send</button>
    </form-buttons>
  </fw-form-modal>
</form>

<form novalidate
      role="form"
      name="form"
      ng-if="model.page === pages.done">
  <fw-form-modal-title name="Send us feedback"></fw-form-modal-title>
  <div class="modal-body">
    <p><strong>Thank you for your feedback!</strong> Someone from our team will be in touch shortly if a response is required.</p>
  </div>
  <div class="row-btn">
    <button
      id="dismiss-button"
      class="btn btn-success btn-block"
      type="submit"
      ng-click="$close()">Okay</button>
  </div>
</form>
