<div ng-init="collections = [
  {id:'a', name:'Blog', schedule:['Monday', 'Wednesday', 'Friday']},
  {id:'b', name:'Side Comic', channel:'HD Channel', schedule:['Sunday']},
  {id:'c', name:'Wallpapers', channel:'Extras Channel', schedule:['Tuesday', 'Thursday']}
]">

  <fw-managed-list item-name="collection" items="collections" new-item-state="creators.customize.collections.new" manage-item-state="creators.customize.collections.manage">
    <h5>
      <a href>{{item.name}}</a>
      <span class="tail" ng-if="item.channel !== undefined">{{item.channel}}</span>
    </h5>
    <p class="release-times">
      <span ng-repeat="weekday in item.schedule">{{weekday}}</span>
    </p>
  </fw-managed-list>

</div>
