<fw-panel12 class="page-customize-collections-manage">

  <form novalidate
        role="form"
        name="manageCollection"
        ng-show="!model.addingReleaseTime && !model.selectedReleaseTime">

    <fw-form-input-collection-name ng-model="model.name" placeholder="Collection name" required focus></fw-form-input-collection-name>

    <div class="form-group">
      <fw-form-input-select selected-item="model.selectedChannel" items="model.channels"></fw-form-input-select>
    </div>

    <fw-managed-list-sm
      item-name="release time"
      items="model.schedule"
      new-item="model.addingReleaseTime = true"
      manage-item="manageReleaseTime(item)">
      <p><strong>{{item.day}}</strong> {{item.time}}</p>
    </fw-managed-list-sm>

    <div class="row">
      <div class="col-s-8">
        <button
          id="save-collection-button"
          class="btn btn-block btn-success"
          data-loading-text="Saving..."
          data-event-title="Collection edited"
          data-event-category="Customization"
          form-name="manageCollection"
          fw-form-submit="save()">Save</button>
        <button class="btn btn-default btn-block"
                ui-sref="creators.customize.collections">Cancel</button>
      </div>
      <div class="col-s-4">
        <fw-form-input-delete
          item="model.savedName"
          item-type="Collection"
          link-id="delete-collection-link"
          data-event-title="Collection deleted"
          data-event-category="Customization"
          delete="delete()"></fw-form-input-delete>
      </div>
    </div>

  </form>

  <form novalidate
        role="form"
        name="newReleaseTimeForm"
        ng-show="model.addingReleaseTime">

    <button class="btn btn-default btn-block"
            ng-click="model.addingReleaseTime = false">Cancel</button>
  </form>

  <form novalidate
        role="form"
        name="manageReleaseTimeForm"
        ng-show="model.selectedReleaseTime">

    <fw-form-input-hour-of-week></fw-form-input-hour-of-week>

    <div class="row">
      <div class="col-s-8">
        <button
          id="save-release-time-button"
          class="btn btn-block btn-success"
          ng-click="saveReleaseTime()">Save</button>
        <button
          class="btn btn-default btn-block"
          ng-click="model.selectedReleaseTime = null">Cancel</button>
      </div>
      <div class="col-s-4">
        <fw-form-input-delete
          item-type="Release Time"
          link-id="delete-release-time-link"
          delete="deleteReleaseTime()"></fw-form-input-delete>
      </div>
    </div>
  </form>

</fw-panel12>
