/* Define custom breakpoints */
$screen-ss:500px;
$screen-s:600px;

/* Redefine Bootstrap breakpoints */
$screen-sm:768px;
$screen-md:992px;
$screen-lg:1100px;

/* Redefine Bootstrap XS max (incorrectly inferred from SM otherwise) */
$screen-xs-max:($screen-ss - 1);

/* Define min/max for custom breakpoints */
$screen-ss-min:$screen-ss;
$screen-ss-max:($screen-s - 1);
$screen-s-min:$screen-s;
$screen-s-max:($screen-sm - 1);

//breakpoint behaviours
$navbar-lg-min:$screen-md;

$grid-float-breakpoint: $screen-md;
