$gray-base:#000;
$gray-lighter:#eeeeee;
$gray-light:#e0e0e0;

$grey-light-1:#9e9ea6;
$grey-light-2:#FBFBFB;
$grey-light-3:#e8e8e8;
$grey-light-4:#B7B7BD;
$grey-light-5:#C5C8CC;
$grey-light-6:#ccd5de;

$grey-dark:#555459;
$grey-dark-1:#3B4550;
$grey-dark-2:#777b80;
$grey-dark-3:#35393D;
$grey-dark-4:#333333;
$body-bg:#f1f1f1;

$black-full:#000;
$white-full:#FFF;
$white-1:#F4F4F4;
$white-2:#FEFEFE;
$white-3:#FCFCFC;

$red-dark-1:#6E2C15;
$red-dark-2:#d95e40;

$pink-light-1:#EB4D5C;

$orange-light-1:#f2992e;

$yellow-light-1:#FFCF3B;

$green-light-1:#2AB27B;

$blue-dark:#2D3E50;

$blue-light-1:#3D4b5B;
$blue-light-2:#2C99EE;
$blue-light-3:#439FE0;
$blue-light-4:#0A86CF;

$indigo-light-1:#9e7da6;

$state-success-text:#689489;
$state-success-bg:#e6f2ed;
$state-danger-bg:#f5e6e6;

$panel-default-border: $gray-light;
$panel-default-heading-bg: #ebebeb;
$navbar-default-bg: #fff;
$brand-primary:$grey-light-5;
$navbar-default-link-active-color: #fff;
$well-bg: #fff;
$well-border: $gray-light;

$icon-default-color:#697789;
//$icon-default-hover-color:#2780F8;
$brand-highlight:#402d3c;
$brand-highlight-2:#401a38;
$brand-highlight-3:#593e54;
$link-color: $brand-highlight-2;
$brand-success:$brand-highlight-3;


//Forms
$input-border-focus:$grey-dark-2;
$input-border:$grey-light-5;
