$gray-base:#000;
$gray-lighter:#eeeeee;
$gray-light:#e0e0e0;

$grey-light-1:#9e9ea6;
$grey-light-2:#FBFBFB;
$grey-light-3:#e8e8e8;
$grey-light-4:#B7B7BD;
$grey-light-5:#C5C8CC;

$grey-dark:#555459;
$grey-dark-1:#3B4550;
$grey-dark-2:#B4B7BB;
$grey-dark-3:#777b80;
$grey-dark-4:#35393D;
$body-bg:#f9f9f9;


$black-full:#000;
$white-full:#FFF;
$white-1:#F8F9FA;
$white-2:#FEFEFE;

$red-dark-1:#6E2C15;

$pink-light-1:#EB4D5C;

$orange-light-1:#f2992e;

$yellow-light-1:#FFCF3B;

$green-light-1:#2AB27B;

$blue-dark-1:#27313C;
$blue-dark-2:#2A3541;
$blue-dark-3:#2D3E50;

$blue-light-1:#3D4b5B;
$blue-light-2:#2C99EE;
$blue-light-3:#439FE0;
$blue-light-4:#0A86CF;

$indigo-light-1:#9e7da6;

$brand-success:$green-light-1;
$state-success-text:#439977;
$state-success-bg:#e6f2ed;

$panel-default-border: $gray-light;
$panel-default-heading-bg: #ebebeb;
$navbar-default-bg: #fff;
$brand-primary:$grey-light-5;
$navbar-default-link-color: $blue-dark-2;
$navbar-default-link-hover-color: $blue-light-1;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: $navbar-default-link-color;
$well-bg: #fff;
$well-border: $gray-light;


$icon-default-color:#697789;
//$icon-default-hover-color:#2780F8;
$icon-blue:#2780F8;
$icon-green:$green-light-1;
$icon-orange:$orange-light-1;
$icon-yellow:$yellow-light-1;
$icon-pink:$pink-light-1;
$icon-indigo:$indigo-light-1;
