$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//name spaces
$left-container:'.left-container';
$right-container:'.right-container';
$logo:'.fifthweek-logo';

$state-active-hover-focus:'&.active,&:hover,&:focus';
$state-hover-focus:'&:hover,&:focus';

//////////////////
//sass variables
//////////////////

$sidebar-width:230px;

//main
$main-cont-padding-small:15px;
$main-cont-padding-large:30px;

//typography
$p-font-size:15px;

//forms
$input-font-size:16px;
