$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$font-family-main:'Lato', cursive;

//name spaces
$left-container:'.left-container';
$right-container:'.right-container';
$logo:'.fifthweek-logo';
$datepicker:'div[fw-datepicker]';


//states
$state-active-hover-focus:'&.active,&:hover,&:focus';
$state-hover-focus:'&:hover,&:focus';
$state-hover:'&:hover';

//////////////////
//sass variables
//////////////////

$sidebar-width:240px;

//main
$main-cont-padding-x-small:10px;
$main-cont-padding-small:15px;
$main-cont-padding-large:30px;

//typography
$p-font-size:15px;
$p-font-size-large:$p-font-size + 3px;

//forms
$input-padding:9px 12px;
$input-font-size:15.5px;
$input-border-radius:4px;
$input-height-base:42px;
