$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$left-container:'.left-container';
$right-container:'.right-container';
$logo:'.fifthweek-logo';

$state-active-hover-focus:'&.active,&:hover,&:focus';
$state-hover-focus:'&:hover,&:focus';