@mixin text-shadow-black {
  text-shadow:0 1px 4px rgba(0, 0, 0, 0.5);
}
@mixin text-shadow-black-soft {
  text-shadow:0 1px 10px rgba(0, 0, 0, 0.5);
}

@mixin header-navbar-heading-spacing {
  @media (min-width:$screen-ss-min) {
    padding-top:11px;
  }
  @media (min-width:$screen-s-min) {
    padding-left:75px;
  }
  @media (min-width:$screen-sm-min) {
    padding-left:90px;
  }
}

@mixin inline-block($v-align) {
  display:inline-block;
  vertical-align:$v-align;
}