@mixin text-shadow-black {
  text-shadow:0 1px 4px rgba(0, 0, 0, 0.5);
}
@mixin text-shadow-black-soft {
  text-shadow:0 1px 10px rgba(0, 0, 0, 0.5);
}

@mixin panel-shadow {
  box-shadow: 0 0.8px 3px 0 rgba(0, 0, 0, 0.22);
}

@mixin vcenter {
  display: flex;
  align-items: center;
}

@mixin header-navbar-heading-spacing {
  @media (min-width:$screen-ss-min) {
    padding-top:11px;
  }
  @media (min-width:$screen-s-min) {
    padding-left:75px;
  }
}

@mixin inline-block($v-align) {
  display:inline-block;
  vertical-align:$v-align;
}

//panel-box-shadow is bootstrap default.
//used in backlog > actionsDropDown
@mixin panel-box-shadow {
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);
}

@mixin form-control-height($height) {
  .form-control {
    height:$height;
  }
  .form-control-feedback {
    line-height:$height;
    height:$height;
    width:$height;
  }
}

@mixin panel-body-slim {
  .panel-body {
    padding-top: $main-cont-padding-small;
    padding-bottom: $main-cont-padding-small;
  }
}

@mixin dot-separator {
  content: '.';
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  line-height: 8px;
}

@mixin transition-delays($transition-delay...) {
  -webkit-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}
