<span ng-controller="blobImageCtrl" class="blob-image">
  <span ng-if="model.imageUri" id="thumbnail-area">
    <img ng-src="{{model.imageUri}}" fw-blob-image-size/>
  </span>
  <span ng-if="model.errorMessage" fw-blob-image-size id="error-area pending-image">
    {{model.errorMessage}}
  </span>
  <span ng-if="model.updating" fw-blob-image-size class="updating-area pending-image">
    <i class="fa fa-refresh fa-spin"></i>
  </span>
  <span ng-if="!model.updating && !model.imageUri" fw-blob-image-size class="blank-area pending-image">
  </span>
</span>
