<div ng-controller="datepickerCtrl">
  <div class="input-group">
    <input type="text"
           class="form-control"
           datepicker-popup="{{format}}"
           ng-model="shortDate"
           is-open="opened"
           ng-click="open($event)"
           min-date="minDate"
           datepicker-options="dateOptions"
           date-disabled="disabled(date, mode)"
           ng-required="true"
           close-text="Close"
           ng-disabled="ngDisabled"/>
    <span class="input-group-btn" >
      <button type="button"
              class="btn btn-default"
              ng-click="open($event)"
              ng-disabled="ngDisabled" >
              <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </span>
  </div>
</div>
