<form novalidate
      role="form"
      name="verifiedDeleteForm"
      ng-if="model.item">
  <fw-form-modal name="Delete {{model.itemType}}">
    <form-body>
      <h5>Are you ABSOLUTELY sure?</h5>
      <p>
        This action CANNOT be undone. This will permanently delete <strong id="delete-hint">{{model.item}}</strong>. All associated content and comments will be removed.
      </p>

      <div class="form-group">
        <label for="deletion-confirmation-text">Please type in the name of the {{model.itemTypeLowered}}</label>
        <input
          id="deletion-confirmation-text"
          name="confirmationText"
          ng-model="model.confirmationText"
          type="text"
          class="form-control"
          focus="true"
          required>
      </div>
    </form-body>
    <form-buttons>
      <button
        id="delete-item-verified-button"
        class="btn btn-block btn-danger"
        data-loading-text="Deleting..."
        data-event-title="{{model.dataEventTitle}}"
        data-event-category="{{model.dataEventCategory}}"
        ng-disabled="model.item !== model.confirmationText"
        fw-form-submit="confirmDelete()">I understand, delete this {{model.itemTypeLowered}}</button>
    </form-buttons>
  </fw-form-modal>
</form>

<form novalidate
      role="form"
      name="unverifiedDeleteForm"
      ng-if="!model.item">
  <fw-form-modal name="Delete {{model.itemType}}">
    <form-body>
      <div class="form-group">
        <p>
          Are you sure you want to delete this?
        </p>
      </div>
    </form-body>
    <form-buttons>
      <button
        id="delete-item-unverified-button"
        class="btn btn-block btn-danger"
        data-loading-text="Deleting..."
        data-event-title="{{model.dataEventTitle}}"
        data-event-category="{{model.dataEventCategory}}"
        can-submit="true"
        fw-form-submit="confirmDelete()">Delete {{model.itemType}}</button>
    </form-buttons>
  </fw-form-modal>
</form>
