<div class="modal-body">
  <form novalidate
        role="form"
        name="form"
        id="manageSubscriptionForm">

    <h5>Are you ABSOLUTELY sure?</h5>
    <div ng-if="item">
      <p>
        This action CANNOT be undone. This will permanently delete <strong>{{item}}</strong>. All associated content and comments will be removed.
      </p>

      <div class="form-group">
        <label for="confirmationText">Please type in the name of the {{itemType}}</label>
        <input
          id="deletion-confirmation-text"
          name="confirmationText"
          ng-model="confirmationText.value"
          type="text"
          class="form-control"
          focus="true"
          required>
      </div>
    </div>

    <div ng-if="!item">
      <p>
        This action CANNOT be undone. This will permanently delete the {{itemType}}.
      </p>
    </div>

    <div class="row-btn">
      <button
        id="delete-item-button"
        class="btn btn-block btn-danger"
        data-loading-text="Deleting..."
        data-event-title="{{data-event-title}}"
        data-event-category="{{data-event-category}}"
        form-name="form"
        can-submit="!item || (form.$valid && form.$dirty)"
        ng-disabled="item && item !== confirmationText.value"
        fw-form-submit="confirmDelete()">I understand, delete this {{itemType}}</button>
      <button class="btn btn-default btn-block"
              ng-click="$close()">Cancel</button>
    </div>

  </form>
</div>
