<fw-form-group input-name="username">
  <label ng-if="label" for="{{inputId}}">{{label}}</label>
  <div class="row">
    <div class="col-{{breakpoint}}-{{inputColumns}}">
      <div fw-form-input-glyphs>
        <input
          id="{{inputId}}"
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          ng-model="ngModel[ngModelAccessor]"
          ng-model-options="{ debounce: 500 }"
          ng-pattern="/^[a-zA-Z0-9_]+$/"
          ng-minlength="2"
          ng-maxlength="20"
          maxlength="20"
          focus="{{focus}}"
          ng-required="required"
          fw-check-username-availability>
      </div>
    </div>
    <div class="col-{{breakpoint}}-{{inputColumns}}">
      <p fw-form-input-invalid-p="pattern">Letters, numbers and underscores only.</p>
      <p fw-form-input-invalid-p="minlength">Must be at least 2 characters.</p>
      <p fw-form-input-invalid-p="maxlength">Allowed 20 characters at most.</p>
      <p fw-form-input-invalid-p="required">A username is required.</p>
      <p ng-if="form.username.$pending.username" class="help-block">Checking availability...</p>
      <p ng-if="form.username.$error.username" class="help-block">This username is already taken!</p>
    </div>
  </div>
</fw-form-group>
