<div class="form-group form-subsection"
     ng-class="{'form-subsection-expanded': formSubsection.expanded, 'form-subsection-collapsed': !formSubsection.expanded}"
     ng-controller="formSubsectionCtrl">
  <div class="row">
    <div class="col-xs-9">
      <label>{{name}}</label>
      <div class="if-collapsed">
        <summary-placeholder></summary-placeholder>
      </div>
      <div class="if-expanded">
        <summary-expanded-placeholder></summary-expanded-placeholder>
      </div>
    </div>
    <div class="col-xs-3 form-subsection-toggle">
      <button ng-click="formSubsection.expanded = true; $event.preventDefault();" class="btn btn-default btn-slim if-collapsed">
        expand
      </button>
      <button ng-click="formSubsection.expanded = false; $event.preventDefault();" class="btn btn-default btn-slim if-expanded">
        close
      </button>
    </div>
    <div class="col-xs-12 if-expanded">
      <section-placeholder></section-placeholder>
    </div>
  </div>
</div>
