<fw-form-group input-name="password">
  <label ng-if="label" for="{{inputId}}">{{label}}</label>
  <div class="row">
    <div class="col-{{breakpoint}}-6">
      <div fw-form-input-glyphs>
        <input
          id="{{inputId}}"
          ng-model="ngModel[ngModelAccessor]"
          name="password"
          type="password"
          class="form-control"
          placeholder="{{placeholder}}"
          ng-minlength="6"
          ng-maxlength="100"
          maxlength="100"
          focus="{{focus}}"
          ng-required="required">
      </div>
    </div>
    <div class="col-{{breakpoint}}-6">
      <p fw-form-input-invalid-p="minlength">Must be at least 6 characters.</p>
      <p fw-form-input-invalid-p="maxlength">Allowed 100 characters at most.</p>
      <span ng-if="required">
        <p fw-form-input-invalid-p="required">A password is required.</p>
      </span>
    </div>
  </div>
</fw-form-group>
