<div class="hour-of-week" ng-controller="formInputHourOfWeekCtrl">

  <div class="form-group">
    <label>Weekly release time</label>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="select">
          <select class="select-full-width" ng-model="model.day" ng-options="item.name for item in model.days"></select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="timepicker">
          <timepicker ng-model="model.time" ng-change="timeChanged()" minute-step="15"></timepicker>
        </div>
      </div>
    </div>
  </div>
</div>
