<header data-ng-controller="IndexCtrl">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
    <div class="container">
      <button snap-toggle="right">Toggle Snap</button>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand fifthweek-logo header-logo" href="#/">fifthweek</a>
      </div>

      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li data-ng-hide="currentUser.authenticated" data-match-route="/register*"><a href="#/register" aria-label="Register" id="registerLink">Register</a></li>
          <li data-ng-hide="currentUser.authenticated" data-match-route="/signin*"><a href="#/signin" aria-label="Sign in" id="signInLink">Sign In</a></li>
          <li data-ng-hide="!currentUser.authenticated" data-match-route="/dashboard*"><a href="#/dashboard">Dashboard</a></li>
          <li data-ng-hide="!currentUser.authenticated" data-match-route="/account*"><a href="#/account"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="nav-small-text">{{currentUser.username}}</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>