<div class="managed-list">
  <fw-panel12 class="managed-list-create" ui-sref="{{newItemState}}">
    <div class="row-selection-slim">
      <div class="row">
        <div class="col-xs-9">
          <h5><a href>Add a new {{itemName}}</a></h5>
        </div>
        <div class="col-xs-3">
          <button
            id="add-button"
            class="btn btn-success btn-slim">
            <span class="visible-over-s">add</span>
            <i class="fa fa-plus-circle btn-icon-right-collapsible"></i>
          </button>
        </div>
      </div>
    </div>
  </fw-panel12>

  <fw-panel12>
    <div class="row-selection" ng-repeat="item in items" ui-sref="{{manageItemState}}({id: item.id})">
      <div class="row">
        <div class="col-xs-9" ng-transclude="parent">
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default btn-slim">
            <span class="visible-over-s">edit</span>
            <i class="fa fa-chevron-right btn-icon-right-collapsible"></i>
          </button>
        </div>
      </div>
    </div>
  </fw-panel12>
</div>
