<nav class="navbar navbar-default navbar-fixed-top" ng-controller="informationHeaderCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#info-page-navbar" aria-expanded="false" aria-controls="info-page-navbar">
        <i class="fa fa-navicon fa-lg"></i>
      </button>
      <a class="navbar-brand" ui-sref="home">fifthweek.</a>
    </div>
    <div id="info-page-navbar" class="navbar-collapse collapse">
      <ul ng-if="!isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a id="register-link" ui-sref="register">Register</a></li>
        <li><a id="sign-in-link" ui-sref="signIn">Sign in</a></li>
      </ul>
      <ul ng-if="isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a class="btn-navbar btn-navbar-account" ui-sref="user">Back to Account</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="pricing" id="pricing-link">Pricing</a></li>
        <li ui-sref-active="active"><a ui-sref="support.contact" id="contact-link">Contact</a></li>
        <li ui-sref-active="active"><a ui-sref="support.help">Help</a></li>
        <!--li ng-class="{ active: ('about.*' | includedByState) || ('support.help' | includedByState) }" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active"><a ui-sref="about.about">About Fifthweek</a></li>
            <li ui-sref-active="active"><a ui-sref="about.team">Meet the Team</a></li>
            <li ui-sref-active="active"><a href="http://blog.fifthweek.com/">Blog</a></li>
            <li class="divider"></li>
            <li ui-sref-active="active"><a ui-sref="support.help">Help</a></li>
          </ul>
        </li-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="clear-navbar"></div>
