
<form novalidate
      role="form"
      name="registerInterestForm"
      ng-if="model.page === pages.form">
  <fw-form-modal name="{{model.title}}">
    <form-body>

      <fw-form-input-creator-name ng-model="model.input.name" input-columns="12" required focus="true"></fw-form-input-creator-name>

      <fw-form-group>
        <div class="row">
          <div class="col-md-12">
            <div fw-form-input-glyphs>
              <input
                id="input-email"
                ng-model="model.input.email"
                type="email"
                class="form-control"
                name="email"
                placeholder="Email address"
                required>
            </div>
          </div>
          <div class="col-md-12">
            <p fw-form-input-invalid-p>A valid email address is required.</p>
          </div>
        </div>
      </fw-form-group>

      <fw-error-message value="registerInterestForm.message" id="register-message"></fw-error-message>
    </form-body>
    <form-buttons>
      <button
        class="btn btn-success btn-block btn-continue"
        type="submit"
        id="register-button"
        data-event-title="Registered Interest"
        data-event-category="Interest Registration"
        fw-form-submit="registerInterest()">{{model.buttonText}}</button>
    </form-buttons>
  </fw-form-modal>
</form>

<form novalidate
      role="form"
      name="form"
      ng-if="model.page === pages.done">
  <fw-form-modal-title name="{{model.template === 'register' ? 'Registration pending...' : model.title}}"></fw-form-modal-title>
  <div class="modal-body" ng-if="model.template === 'register'">
    <p>
      <strong>We'll contact you shortly</strong> to show you how to get the most out of Fifthweek - at which point your account will become active.
    </p>
    <p>
      Please check your email inbox!
    </p>
  </div>
  <div class="modal-body" ng-if="model.template !== 'register'">
    <p><strong>Thank you for your interest!</strong> Someone from our team will be in touch shortly.</p>
  </div>
  <div class="row-btn">
    <button
      id="dismiss-button"
      class="btn btn-success btn-block"
      type="submit"
      ng-click="$close()">Okay</button>
  </div>
</form>
