
<form novalidate
      role="form"
      name="submitFeedbackForm"
      ng-if="model.page === pages.form">
  <fw-form-modal name="{{model.title}}">
    <form-body>

      <fw-form-group>
        <div class="row">
          <div class="col-md-12">
            <div fw-form-input-glyphs>
              <input
                id="input-email"
                ng-model="model.input.email"
                type="email"
                class="form-control"
                name="email"
                placeholder="Email address (optional)">
            </div>
          </div>
          <div class="col-md-12">
            <p fw-form-input-invalid-p>Email address is not valid.</p>
          </div>
        </div>
      </fw-form-group>

      <fw-form-input-comment ng-model="model.input.message" placeholder="Your message" focus required></fw-form-input-comment>

      <fw-error-message value="submitFeedbackForm.message" id="register-message"></fw-error-message>
    </form-body>
    <form-buttons>
      <button
        class="btn btn-success btn-block btn-continue"
        type="submit"
        id="register-button"
        data-event-title="{{model.trackingEventTitle}}"
        data-event-category="{{model.trackingEventCategory}}"
        fw-form-submit="submitFeedback()">{{model.buttonText}}</button>
    </form-buttons>
  </fw-form-modal>
</form>

<form novalidate
      role="form"
      name="form"
      ng-if="model.page === pages.done">
  <fw-form-modal-title name="{{model.title}}"></fw-form-modal-title>
  <div class="modal-body">
    <p><strong>Thank you for your feedback!</strong> Someone from our team will be in touch shortly if a response is required.</p>
  </div>
  <div class="row-btn">
    <button
      id="dismiss-button"
      class="btn btn-success btn-block"
      type="submit"
      ng-click="$close()">Okay</button>
  </div>
</form>
