<fw-form-modal-title name="Post {{postType}}"></fw-form-modal-title>

<div class="compose-upload-form">
  <div ng-show="!model.postLater">

    <div ng-if="!model.committedCollection">
      <form novalidate name="collectionForm" id="collection-form">
        <div class="modal-body form-modal-body">
          <div ng-if="!model.createCollection">
            <label>Choose a Collection</label>
            <p>
              Posts are organised into collections, which allow your subscribers to more
              easily explore your work. Please select a collection for this post, or create a new one.
            </p>
            <fw-form-input-select-collection
              id="model-input-selected-collection"
              selected-item="model.input.selectedCollection" items="model.collections"
              create-new-collection-disabled="collectionForm.isSubmitting"
              create-new-collection="createNewCollection()"></fw-form-input-select-collection>
          </div>

          <div ng-if="model.createCollection" id="new-collection-area">
            <label>Create a Collection</label>
            <p>
              Posts are organised into collections, which allow your subscribers to more
              easily explore your work. Because this is your first post, you need to create a new collection.
            </p>
            <fw-form-input-collection-name input-id="new-collection-area-input" ng-model="model.input.newCollectionName" placeholder="New collection name" ng-required="model.createCollection" show-help></fw-form-input-collection-name>
            <fw-form-input-select ng-if="model.channels.length > 1" selected-item="model.input.selectedChannel" items="model.channels"></fw-form-input-select>
          </div>
          <fw-error-message value="collectionForm.message"></fw-error-message>
        </div>

        <div class="row-btn">
          <button class="btn btn-success btn-block"
                  ng-disabled="collectionForm.isSubmitting"
                  can-submit="collectionForm.$valid"
                  data-loading-text="Saving..."
                  fw-form-submit="commitCollection()">Next</button>
        </div>
      </form>
    </div>

    <div ng-if="model.committedCollection">
      <form novalidate name="contentForm" id="content-form">

        <div class="modal-body form-modal-body">
          <p id="posting-to-text">Posting to <strong>{{model.committedCollection.collectionName}}</strong><span ng-if="!model.committedCollection.isDefaultChannel"> in <strong>{{model.committedCollection.channelName}}</strong></span>.</p>

          <div ng-include="'modules/creator-compose/compose-' + uploadFormFile + '.html'"></div>

          <div ng-if="model.fileUploaded">
            <fw-form-input-comment ng-model="model.input.comment" placeholder="Add a comment, if you like" focus></fw-form-input-comment>
          </div>

          <fw-error-message value="model.errorMessage"></fw-error-message>
          <fw-error-message value="contentForm.message"></fw-error-message>
        </div>

        <div class="row-btn" ng-if="model.fileUploaded">
          <button type="submit"
                  class="btn btn-block btn-success"
                  data-loading-text="Posting..."
                  data-event-title="{{postType}} posted"
                  data-event-category="New post"
                  can-submit="contentForm.$valid"
                  fw-form-submit="postNow()">Post Now</button>

          <button class="btn btn-default btn-block"
                  ng-disabled="contentForm.isSubmitting"
                  can-submit="contentForm.$valid"
                  fw-form-submit="postLater()">Schedule</button>
        </div>
      </form>
    </div>
  </div>

  <div ng-show="model.postLater" class="compose-upload-schedule">
    <form novalidate name="scheduleForm" id="schedule-form">
      <div class="modal-body form-modal-body">
        <div class="form-group">
          <div class="radio bottom-buffer-l">
            <label><input type="radio"
                          ng-model="model.postToQueue"
                          ng-value="true"/>
              After other posts in queue
              <span ng-if="!model.queuedLiveDate && !shouldCreateCollection()">(loading...)</span>
              <span ng-if="model.queuedLiveDate">(will appear <strong>{{model.queuedLiveDate | date:fifthweekConstants.longDateTimeFormat:'UTC'}}</strong>)</span>
            </label>
          </div>

          <div class="radio bottom-buffer">
            <label><input type="radio"
                          ng-model="model.postToQueue"
                          ng-value="false" /> On specific date and time (UTC):</label>
          </div>

          <fw-form-input-date-time-picker ng-model="model.input.date"></fw-form-input-date-time-picker>
        </div>

        <fw-error-message value="model.errorMessage"></fw-error-message>
        <fw-error-message value="scheduleForm.message"></fw-error-message>
      </div>

      <div class="row-btn">
        <button type="submit"
                class="btn btn-block btn-success"
                data-loading-text="Scheduling..."
                data-event-title="{{postType}} scheduled"
                data-event-category="New post"
                can-submit="scheduleForm.$valid"
                fw-form-submit="postToBacklog()">Schedule</button>

        <!-- Note we do not use fw-form-submit here because we don't care about validity -->
        <button class="btn btn-default btn-block"
                ng-disabled="scheduleForm.isSubmitting"
                ng-click="cancelPostLater()">Back</button>
      </div>

    </form>
  </div>
</div>
