<fw-panel12 ng-init="newChannelData = {
  name: '',
  description: '',
  hidden: false,
  price: '1.00'
}">

  <form novalidate
        role="form"
        name="form"
        id="createSubscriptionForm">

    <fw-form-input-channel-name ng-model="newChannelData.name" placeholder="New channel name" required focus></fw-form-input-channel-name>
    <fw-form-input-channel-description ng-model="newChannelData.description" required></fw-form-input-channel-description>
    <fw-form-input-channel-price ng-model="newChannelData.price" required hide-help></fw-form-input-channel-price>
    <fw-form-input-channel-visibility ng-model="newChannelData.hidden" required hide-help></fw-form-input-channel-visibility>

    <div class="row-btn">
      <button
        id="create-channel-button"
        class="btn btn-block btn-success"
        data-loading-text="Saving..."
        data-event-title="Channel created"
        data-event-category="Customization"
        form-name="form"
        fw-form-submit="createChannel()">Create Channel</button>
      <button class="btn btn-default btn-block"
              ui-sref="creators.customize.channels">Cancel</button>
    </div>

  </form>

</fw-panel12>
