@import '_base';

$html-name-space:'.page-register';

#{$html-name-space} {
  .register-form-wrapper {
    max-width:750px;
  }

  .form-group:last-child {
    margin-bottom:30px;
  }

  .btn-block {
    @media (min-width:768px) {
      width:auto;
    }
  }
}