
<form novalidate
      role="form"
      name="createCollectionForm">

  <fw-form-modal name="Create Collection">

    <fw-form-input-collection-name ng-model="model.input.newCollectionName" placeholder="New collection name" required focus></fw-form-input-collection-name>

    <fw-form-input-select ng-if="model.channels.length > 1" selected-item="model.input.selectedChannel" items="model.channels"></fw-form-input-select>

    <div class="row-btn">
      <button
        id="create-collection-button"
        class="btn btn-block btn-success"
        data-loading-text="Please wait..."
        data-event-title="New collection selected"
        data-event-category="New post"
        form-name="createCollectionForm"
        fw-form-submit="submit()">Continue</button>
      <button class="btn btn-default btn-block"
              ui-sref="creators.customize.collections">Cancel</button>
    </div>
  </fw-form-modal>

</form>
