<fw-panel12>

  <form name="form" ng-show="postLaterSelected === false">

    <div class="row" ng-if="!uploaded">
      <div class="col-xs-12">
        <div fw-file-upload file-type="Image" on-upload-complete="onUploadComplete(fileId)"></div>
      </div>
    </div>

    <div ng-if="uploaded">
      <div class="form-group form-group-image">
        <div class="row">
          <div class="col-xs-3">
            <img src="images/avatar-default.png" alt="" />
          </div>
          <div class="col-xs-9">
            <div fw-file-upload file-type="Image" on-upload-complete="onUploadComplete(fileId)"></div>
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="collections.length > 0">
        <fw-form-input-select selected-item="selectedCollection" items="collections"></fw-form-input-select>
      </div>

      <div class="form-group" fw-form-group-validation ng-if="collections.length === 0">
        <div class="row">
          <div class="col-sm-6">
            <div fw-form-input-glyphs>
              <input type="text"
                     class="form-control"
                     name="newCollectionName"
                     placeholder="New collection name"
                     ng-model="newCollectionName"
                     ng-maxlength="50"
                     maxlength="50"
                     required
                     focus=true />
            </div>
            <small>(it's like an album, except not just for photos!)</small>
          </div>
          <div class="col-sm-6">
            <p fw-form-input-invalid-p="maxlength">Allowed 50 characters at most.</p>
            <p fw-form-input-invalid-p="required">A collection name is required.</p>
          </div>
        </div>
      </div>

      <div class="row-btn">
        <button type="submit"
                class="btn btn-block btn-success"
                ng-click="postNow()"
                data-loading-text="Posting..."
                fw-button-loading="isSubmitting">Post Now</button>
        <button class="btn btn-block btn-grey"
                ng-click="postLater()">Post Later</button>
      </div>
    </div>

  </form>

  <form name="postNoteLater" ng-show="postLaterSelected === true">

    <div class="radio">
      <label><input type="radio"
                    ng-click="uncheck($event)"
                    ng-model="postDate"
                    ng-value="postFunnel" /> After other posts in queue (will appear Wednesday 7th Jan)</label>
    </div>

    <div class="radio">
      <label><input type="radio"
                    ng-click="uncheck($event)"
                    ng-model="postDate"
                    ng-value="postSpecificDate" /> On specific date:</label>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <div fw-datepicker></div>
      </div>
    </div>

    <div class="row-btn">
      <button type="submit"
              class="btn btn-block btn-success"
              ng-click="postToBacklog()"
              data-loading-text="Posting to Backlog..."
              fw-button-loading="isSubmitting">Post to Backlog</button>
    </div>

  </form>

</fw-panel12>
