<fw-panel12>

  <form novalidate name="formCompose" ng-show="!model.postLater">

    <div class="row" ng-if="!model.uploaded">
      <div class="col-xs-12">
        <div fw-file-upload file-type="Image" on-upload-complete="onUploadComplete(fileId)"></div>
      </div>
    </div>

    <div ng-if="model.uploaded">
      <div class="form-group form-group-image">
        <div class="row">
          <div class="col-xs-3">
            <img src="images/avatar-default.png" alt="" />
          </div>
          <div class="col-xs-9">
            <div fw-file-upload file-type="Image" on-upload-complete="onUploadComplete(fileId)"></div>
          </div>
        </div>
      </div>

      <fw-form-group>
        <div class="row">
          <div class="col-xs-12">
            <textarea msd-elastic
                      class="form-control"
                      name="comment"
                      ng-model="newImageData.comment"
                      placeholder="Add a comment, if you like"
                      focus=true></textarea>
          </div>
        </div>
      </fw-form-group>

      <div class="form-group" ng-if="model.collections.length > 0">
        <fw-form-input-select selected-item="model.input.selectedCollection" items="model.collections"></fw-form-input-select>
      </div>

      <fw-form-group ng-if="model.collections.length === 0">
        <div class="row">
          <div class="col-sm-6">
            <div fw-form-input-glyphs>
              <input type="text"
                     class="form-control"
                     name="newCollectionName"
                     placeholder="New collection name"
                     ng-model="model.input.newCollectionName"
                     ng-maxlength="50"
                     maxlength="50"
                     required />
            </div>
            <small>(it's like an album, except not just for photos!)</small>
          </div>
          <div class="col-sm-6">
            <p fw-form-input-invalid-p="maxlength">Allowed 50 characters at most.</p>
            <p fw-form-input-invalid-p="required">A collection name is required.</p>
          </div>
        </div>
        </fw-form-group>

      <div class="row-btn">
        <button type="submit"
                class="btn btn-block btn-success"
                data-loading-text="Posting..."
                data-event-title="Image posted"
                data-event-category="New post"
                form-name="formCompose"
                fw-form-submit="postNow()">Post Now</button>
        <button class="btn btn-block btn-grey"
                form-name="formCompose"
                fw-form-submit="postLater()">Post Later</button>
      </div>
    </div>

  </form>

  <form novalidate name="formSchedule" ng-show="model.postLater">

    <div class="radio">
      <label><input type="radio"
                    ng-model="model.postToQueue"
                    ng-value="true"/> After other posts in queue (will appear Wednesday 7th Jan)</label>
    </div>

    <div class="radio">
      <label><input type="radio"
                    ng-model="model.postToQueue"
                    ng-value="false" /> On specific date:</label>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <div fw-datepicker></div>
      </div>
    </div>

    <div class="row-btn">
      <button type="submit"
              class="btn btn-block btn-success"
              data-loading-text="Posting to Backlog..."
              data-event-title="Image queued"
              data-event-category="New post"
              form-name="formSchedule"
              fw-form-submit="postToBacklog()">Post to Backlog</button>
      <button class="btn btn-block btn-grey"
              ng-click="cancelPostLater()">Cancel</button>
    </div>

  </form>

</fw-panel12>
