<fw-panel12>

  <fw-error-message value="model.errorMessage"></fw-error-message>

  <div ng-if="model.submissionSucceeded">
    <div class="alert alert-success" >
      <p>{{model.postLater ? 'Scheduled' : 'Posted'}} successfully</p>
    </div>
    <button class="btn btn-default btn-block"
            ng-click="postAnother()">Post Another</button>
  </div>

  <div ng-show="!model.errorMessage && !model.submissionSucceeded">
    <div ng-show="!model.postLater">
      <form novalidate name="contentForm" id="content-form">

        <fw-form-input-note ng-model="model.input.note" required focus></fw-form-input-note>

        <div ng-if="model.channels.length > 1">
          <fw-form-input-select id="model-input-selected-channel" selected-item="model.input.selectedChannel" items="model.channels"></fw-form-input-select>
        </div>

        <div class="row-btn">

          <button type="submit"
                  class="btn btn-block btn-success"
                  data-loading-text="Posting..."
                  data-event-title="Note posted"
                  data-event-category="New post"
                  fw-form-submit="postNow()">Post Now</button>

          <!-- Note we use fw-form-submit here to take advantage of the form validity check -->
          <button class="btn btn-default btn-block"
                  ng-disabled="contentForm.isSubmitting"
                  fw-form-submit="postLater()">Post Later</button>
        </div>

      </form>
    </div>

    <div ng-show="model.postLater">
      <form novalidate name="scheduleForm" id="schedule-form">

        <label>On specific date and time (UTC):</label>

        <fw-form-input-date-time-picker ng-model="model.input.date"></fw-form-input-date-time-picker>

        <!--fw-form-input-datepicker ng-model="model.input.date" required></fw-form-input-datepicker-->

        <div class="row-btn">

          <button type="submit"
                  class="btn btn-block btn-success"
                  data-loading-text="Posting to Backlog..."
                  data-event-title="Note queued"
                  data-event-category="New post"
                  fw-form-submit="postToBacklog()">Post to Backlog</button>

          <!-- Note we do not use fw-form-submit here because we don't care about validity -->
          <button class="btn btn-default btn-block"
                  ng-disabled="scheduleForm.isSubmitting"
                  ng-click="cancelPostLater()">Cancel</button>
        </div>

      </form>
    </div>
  </div>
</fw-panel12>
