@import '_base';

$html-name-space:'.page-home';

#{$html-name-space} {
  .navbar,
  footer {
    display:none !important;
  }

  #{$right-container} {
    text-align:center;
  }




}

@import 'blocks/_video';