@import '_base';

$html-name-space:'.page-home';

#{$html-name-space} {
  .navbar,
  footer {
    display:none !important;
  }

  #{$logo} {
    @include text-shadow-black;
    //position:absolute;
    position:relative;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    font-size:35px;
    margin:0;
    padding:10px 0 20px 0;
    opacity:0.5;
    @media (min-width:768px) {
      left:40px;
      font-size:42px;
      width:150px;
      h1 {
        margin-left:40px;
      }
    }
    a {
      color:$white-full;
    }
  }

  /*
  .navbar-toggle {
    .fa {
      color:$white-1;
    }
    @media (min-width:768px) {
      position:absolute;
    }
  }
  */


  #{$right-container} {
    position:relative; //overide snap-content default
    overflow:visible; //overide snap-content default
    text-align:center;
    padding:0;
    .main-container {
      margin-top:0;
      height:100%;
      max-width:100%;
      @media (min-width:768px) {
        max-height:100vh;
        //overflow-y:hidden;
      }
    }
  }

  .home-intro,
  .home-footer {
    position:relative;
    width:100%;
    z-index:2;
    @media (min-width:768px) {
      //position:absolute;
    }
    > .col-md-12 {
      padding:0 37px;
      @media (min-width:992px) {
        padding:0 15px;
      }
    }
  }

}

@import 'blocks/_intro';
@import 'blocks/_form';
@import 'blocks/_footer';
@import 'blocks/_splash-img';
@import 'blocks/_video';
