<div class="page-blog-channels">

  <fw-managed-list id="channels" ng-if="!model.errorMessage" item-name="channel" items="model.channels" new-item-state="creator.channels.new" manage-item-state="creator.channels.edit">
    <h5><a class="channel-name" href>{{item.name}}</a> <span ng-if="item.isDefault" class="tail">Everyone</span></h5>
    <p class="channel-description">
      <fw-price value="item.price"></fw-price>
    </p>
  </fw-managed-list>

  <div ng-if="model.errorMessage" class="alert alert-danger sub-form-alert">
    <p>{{model.errorMessage}}</p>
  </div>

</div>
