@import '_base';

.impersonating-user .right-container {
  background-color: #FFEEEE !important;
}

$table-font-size: 11px;

#{'.page-admin-transactions'},#{'.page-admin-lookup'} {
  .raw-json {
    font-size: 11px;
  }
}

#{'.page-admin-transactions'},#{'.page-creator-revenues'} {

  .right-container {
    background-color: white;
  }

  table {
    p {
      white-space: nowrap;
      font-size: $table-font-size;
    }
  }

  th{
    font-size: $table-font-size;
  }

  td{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}

#{'.page-admin-transactions'} {

  #refund-credit-form{
    .input-group-addon:last-child{
      visibility: collapse;
    }
  }

  table{
    tr.fifthweekCredit p{
      font-weight: bold;
    }
    tr.fifthweekRevenue p{
      font-weight: bold;
    }
  }

  a {
    color:$grey-dark;
  }

  .price-negative {
    color: #AA7777;
  }
}

