<div class="row page-backlog">
  <div class="col-md-12">

    <div class="backlog-post" ng-repeat="post in posts">
      <div class="publish-info">
        <div class="visible-over-s">
          <p class="publish-info-day">{{post.dayOfWeek}}</p>
          <p class="publish-info-date">{{post.date}}</p>
          <hr />
        </div>
        <p class="publish-info-mode" ng-if="!post.queued">
          <span class="visible-over-s">
            scheduled
          </span>
          <i class="fa fa-calendar"></i>
        </p>
        <p class="publish-info-mode" ng-if="post.queued">
          <span class="visible-over-s">
            queued
          </span>
          <i class="fa fa-clock-o"></i>
        </p>
      </div>

      <div class="panel panel-default">
        <div class="panel-body jumbo-panel">

          <div class="row info">
            <div class="col-md-12">
              <ul>
                <li><span class="poster-name">Marc Holmes</span> <span class="poster">@marc-holmes</span></li>
                <li>live in {{post.liveIn}}</li>
              </ul>
            </div>
          </div>

          <div class="row main">
            <div class="col-md-12">
              <p>{{post.bodyText}}</p>
            </div>
          </div>

          <div class="row actions">
            <div class="col-md-12">
              <ul>
                <li>
                  <i class="fa fa-comment"></i>
                </li>
                <li ng-click="activeFavourite = !activeFavourite" ng-class="{'active-favourite': activeFavourite}">
                  <i class="fa fa-heart" ng-class="{'active' : activeFav}"></i>
                </li>
                <li class="actions-more"
                    ng-init="dropDownFocus=false;dropDownBlur=false;"
                    ng-class="{'active-actions-drop-down': dropDownFocus===true}">
                    <button
                      ng-focus="dropDownFocus=true;dropDownBlur=false;"
                      ng-blur="dropDownBlur=true;dropDownFocus=false;">
                      <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="actions-drop-down" ng-show="dropDownFocus">
                      <ul>
                        <li><a ui-sref="creators.backlog">Edit</a></li>
                        <li><a ui-sref="creators.backlog">Post Now</a></li>
                        <li><a ui-sref="creators.backlog">Delete</a></li>
                      </ul>
                    </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
