<fw-panel12>

  <form novalidate
        role="form"
        name="form"
        id="createSubscriptionForm">

    <fw-form-group>
      <div class="row">
        <div class="col-sm-6">
          <div fw-form-input-glyphs>
            <input type="text"
                   class="form-control"
                   name="subscriptionName"
                   placeholder="Subscription name"
                   ng-model="newSubscriptionData.subscriptionName"
                   ng-maxlength="25"
                   maxlength="25"
                   required
                   focus=true />
            </div>
          <small>e.g. your name</small>
        </div>
        <div class="col-sm-6">
          <p fw-form-input-invalid-p="maxlength">Allowed 25 characters at most.</p>
          <p fw-form-input-invalid-p="required">A name is required.</p>
        </div>
      </div>
    </fw-form-group>

    <fw-form-group>
      <div class="row">
        <div class="col-sm-6">
          <div fw-form-input-glyphs>
            <input type="text"
                   class="form-control"
                   name="subscriptionTagline"
                   placeholder="Tagline"
                   ng-model="newSubscriptionData.tagline"
                   ng-minlength="5"
                   ng-maxlength="55"
                   maxlength="55"
                   required/>
          </div>
          <small>e.g. &#34;Web Comics And More&#34;</small>
        </div>
        <div class="col-sm-6">
          <p fw-form-input-invalid-p="minlength">Must be at least 5 characters.</p>
          <p fw-form-input-invalid-p="maxlength">Allowed 55 characters at most.</p>
          <p fw-form-input-invalid-p="required">A tagline is required.</p>
        </div>
      </div>
    </fw-form-group>

    <fw-form-input-channel-price ng-model="newSubscriptionData.basePrice" required></fw-form-input-channel-price>

    <div class="row-btn">
      <button
        id="create-subscription-button"
        class="btn btn-block btn-success"
        data-loading-text="Saving..."
        data-event-title="Subscription created"
        data-event-category="Registration"
        form-name="form"
        fw-form-submit="continue()">Save and Continue</button>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div ng-show="form.message" class="alert alert-danger sub-form-alert" id="sign-in-message">
          <p>{{form.message}}</p>
        </div>
      </div>
    </div>
  </form>

</fw-panel12>
