<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body jumbo-panel">
          <form novalidate
                role="form"
                name="form"
                id="createSubscriptionForm">

            <div class="form-group" fw-form-group-validity>
              <div class="inner-row">
                <div class="col-md-6">
                  <input type="text"
                         class="form-control"
                         name="subscriptionName"
                         placeholder="Subscription name"
                         ng-model="newSubscriptionData.subscriptionName"
                         required/>
                  <small>e.g. your name</small>
                </div>
              </div>
            </div>

            <div class="form-group" fw-form-group-validity>
              <div class="inner-row">
                <div class="col-md-6">
                  <input type="text"
                         class="form-control"
                         name="subscriptionTagline"
                         placeholder="Tagline"
                         ng-model="newSubscriptionData.tagline"
                         required/>
                  <small>e.g. &#34;Web Comics And More&#34;</small>
                </div>
              </div>
            </div>

            <div class="form-group" fw-form-group-validity>
              <div class="inner-row">
                <div class="col-md-6">
                  <div class="input-group">
                    <div class="input-group-addon">&#36;</div>
                    <input type="text"
                           class="form-control"
                           name="subscriptionPrice"
                           placeholder="1.00"
                           ng-model="newSubscriptionData.basePrice"
                           required>
                    <div class="input-group-addon">per week</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row-btn">
              <button
                id="create-subscription-button"
                class="btn btn-block btn-success"
                data-loading-text="Saving..."
                data-event-title="Subscription created"
                data-event-category="Registration"
                fw-can-submit-form="form.$valid && form.$dirty"
                fw-submit-form="continue()">Save and Continue</button>
            </div>

          </form>
      </div>
    </div>

  </div>
</div>
