<div class="landing-header">
  <div class="img-wrap">
    <img ng-src="images/creator/landing-page/header-default.jpg" alt="Slackbot Introduction"/>
    <div class="overlay"></div>
    <div class="content">
      <img ng-src="images/avatar-default.png" class="avatar" alt="Slackbot"/>
      <h2 class="hidden-xs visible-sm visible-md visible-lg">Slackbot</h2>
      <h3 class="hidden-xs visible-sm visible-md visible-lg">Web Comics and more</h3>
    </div>
  </div>
  <h2 class="visible-xs hidden-sm">Slackbot</h2>
  <h3 class="visible-xs hidden-sm">Web Comics and more</h3>
</div>

<div class="row landing-main-content">
  <div class="col-md-12">

    <button class="btn btn-lg btn-primary btn-subscribe">Subscribe &#36;{{totalPrice}}/week</button>

    <div class="panel panel-default intro">
      <div class="panel-body jumbo-panel">
        <p>Hi! I'm Slackbot. Right le derp in just drink hulk.facepalm amet really? Note sexy time sandwich lol a wodka avengers tank. Portfolio left that so close why facebook geek crying trolololo. T-rex nother to do here dummies i know that feel lose yao silent hill dog face.</p>
      </div>
    </div>

    <h4 class="heading-light">What you’ll get...</h4>

    <div class="panel panel-default subscription-panel">
      <div class="panel-body jumbo-panel">
        <div class="row">
          <div class="col-sm-8 name">
            <form>
              <label>
                <input type="checkbox" 
                       ng-model="subscriptions.basic.checked"
                       ng-checked="subscriptions.basic.checked"
                       ng-change="checkboxHandler()">
                <h5>Basic Subscription</h5>
              </label>
            </form>
          </div>
          <div class="col-sm-4 price">
            <p>&#36;{{subscriptions.basic.price}}/week</p>
          </div>
        </div>
        <div class="col-sm-8">
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default subscription-panel last">
      <div class="panel-body jumbo-panel">
        <div class="row">
          <div class="col-sm-8 name">
            <form>
              <label>
                <input type="checkbox" 
                       ng-model="subscriptions.extras.checked"
                       ng-checked="subscriptions.extras.checked">
                <h5>Extras Channel</h5>
              </label>
            </form>
          </div>
          <div class="col-sm-4 price">
            <p>&#36;{{subscriptions.extras.price}}/week</p>
          </div>
        </div>
        <div class="col-sm-8">
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
          </ul>
        </div>
      </div>
    </div>

    <h4 class="heading-light">About the subscription...</h4>

    <div class="panel panel-default">
      <div class="panel-body jumbo-panel">
        <p>Hi! I'm Slackbot. Right le derp in just drink hulk.facepalm amet really? Note sexy time sandwich lol a wodka avengers tank. Portfolio left that so close why facebook geek crying trolololo. T-rex nother to do here dummies i know that feel lose yao silent hill dog face.</p>
      </div>
    </div>
  </div>
</div>
