<div class="row">
  <div class="col-md-12">

    <div class="landing-header">
      <img ng-src="images/avatar-default.png" alt="Slackbot"/>
      <h2>Slackbot</h2>
      <h3>Web Comics and more</h3>
      <div class="img-wrap">
        <img ng-src="images/creator/landing-page/header-default.jpg" alt="Slackbot Introduction"/>
        <div class="overlay"></div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary">Subscribe &#36;0.50/week</button>

    <div class="panel panel-default">
      <div class="panel-body jumbo-panel">
        <p>Hi! I'm Slackbot. Right le derp in just drink hulk.facepalm amet really? Note sexy time sandwich lol a wodka avengers tank. Portfolio left that so close why facebook geek crying trolololo. T-rex nother to do here dummies i know that feel lose yao silent hill dog face.</p>
      </div>
    </div>

    <h4>What you’ll get...</h4>

    <div class="panel panel-default">
      <div class="panel-body jumbo-panel">
        <div class="row">
          <div class="col-sm-1">
            <form>
              <input type="checkbox" />
            </form>
          </div>
          <div class="col-sm-8">
            <h5>Basic Subscription</h5>
          </div>
          <div class="col-sm-3">
            <p>&#36;0.50/week</p>
          </div>
        </div>
        <div class="col-sm-8">
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body jumbo-panel">
        <div class="row">
          <div class="col-sm-1">
            <form>
              <input type="checkbox" />
            </form>
          </div>
          <div class="col-sm-8">
            <h5>Extras Channel</h5>
          </div>
          <div class="col-sm-3">
            <p>&#36;0.75/week</p>
          </div>
        </div>
        <div class="col-sm-8">
          <ul>
            <li>Item 1</li>
            <li>Item 2</li>
          </ul>
        </div>
      </div>
    </div>

    <h4>About the subscription...</h4>

    <div class="panel panel-default">
      <div class="panel-body jumbo-panel">
        <p>Hi! I'm Slackbot. Right le derp in just drink hulk.facepalm amet really? Note sexy time sandwich lol a wodka avengers tank. Portfolio left that so close why facebook geek crying trolololo. T-rex nother to do here dummies i know that feel lose yao silent hill dog face.</p>
      </div>
    </div>



  </div>
</div>