<div class="landing-header">
  <div class="img-wrap">
    <img ng-src="images/creator/landing-page/header-default.jpg" alt="Slackbot Introduction"/>
    <div class="overlay"></div>
    <div class="content">
      <div class="avatar-wrap">
        <img ng-src="images/avatar-default-large.png" class="avatar" alt="Slackbot"/>
      </div>
      <h2 class="hidden-xs visible-sm visible-md visible-lg">Slackbot</h2>
      <h3 class="hidden-xs visible-sm visible-md visible-lg">Web Comics and more</h3>
    </div>
  </div>
  <h2>Slackbot</h2>
  <h3>Web Comics and more</h3>
</div>
<div ng-include="'views/partials/logo-sm.html'"></div>
