<div class="header-image" style="background-image:url('images/creator/landing-page/header-default.jpg')">
  <div ng-include="'views/partials/logo-sm.html'"></div>
</div>
<div class="main-content restore-row-behaviour">
  <div class="row header">
    <div class="col-s-4">
      <fw-blob-image control="blobImage" thumbnail="600x600-crop" file-uri="https://fifthweek.blob.core.windows.net/public/WuZ1Yr3lEeST-gAVXcJ6Nw2" container-name="public"></fw-blob-image>
    </div>
    <div class="col-s-8">
      <h2>Lawrence Wagerfield</h2>
      <h3>Web Comics and More</h3>
      <h4>Hello! Thinking of subscribing? Awesome! Subscriptions allow me to produce more of my awesome creations for all you lovely people to see here! And here's another line.</h4>
    </div>
  </div>
</div>
