@import '_base';

$html-name-space:'.page-timeline';
$header-image-height:500px;
$header-image-height-sm:300px;
$header-image-height-xs:220px;
$header-height:108px;

@mixin light-text {
  font-weight: 200;
  text-shadow: 0.5px 0.5px 0 #ddd;
  color: $grey-dark-4;
}

@mixin header-shadow {
  box-shadow: 0 2px 9px $image-overlay;
}

#{$html-name-space} {
  #{$logo-sm} {
    position: absolute;
    top: 12px;
    left: $main-cont-padding-small;
    z-index: 1;
    background-color: $black-off;
    border-radius: 1px;
    width:39px;
    height:39px;
    text-align: center;
    padding-top: 9px;
    @media (min-width:$screen-s-min) {
      left: 27px;
    }
  }
  .header-image {
    @include header-shadow;
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-size: cover;
    background-position: center center;
    height:$header-image-height-xs;
    @media (min-width:$screen-ss-min) {
      height:$header-image-height-sm;
    }
    @media (min-width:$screen-s-min) {
      height:$header-image-height;
    }
  }
  .header {
    margin-top:90px;
    @media (min-width:$screen-s-min) {
      margin-top:$header-image-height - $header-height;
      &:before {
        content:' ';
        display:block;
        position: absolute;
        left:50%;
        right:0;
        height:$header-height;
        background: $image-overlay;
        margin-left:-200px;
        @media (min-width:$screen-lg-min) {
          margin-left:-400px;
        }
      }
    }

    .header-text {
      @include post-left-right-padding;
    }

    h2, h3 {
      color: $grey-dark-4;
      text-align: center;
      @media (min-width:$screen-s-min) {
        color: #fff;
        text-align:left;
        text-shadow:0 1px 1px #1d1d1b;
      }
    }
    h2 {
      font-size: 36px;
      font-weight:bold;
      letter-spacing: -1.8px;
      margin-top:0;
      padding-top:70px;
      margin-bottom: 5px;
      @media (min-width:$screen-s-min) {
        padding-top:17px;
      }
    }
    h3 {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 20px;
      @media (min-width:$screen-s-min) {
        margin-bottom: 48px;
      }
    }
    h4 {
      @include light-text;
      text-align: center;
      font-size: 20px;
      line-height: 26px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 0;
      margin: 0 0 25px;
      @media (min-width:$screen-s-min) {
        text-align:left;
        margin-bottom: 60px;
      }
      @media (min-width:$screen-sm-min) and (max-width:$screen-md-max){
        margin-bottom: 100px;
      }
    }
    .creator {
      position: relative;
      margin: -25px auto 0 auto;
      width:70%;
      @media (min-width:$screen-ss-min) {
        width:60%;
        margin-top:0;
      }
      @media (min-width:$screen-s-min) {
        width:auto;
        margin-top:-20px;
      }
      @media (min-width:$screen-sm-min) {
        margin-right:-30px;
        margin-left:30px;
        margin-top:-35px;
      }
      @media (min-width:($screen-lg-min + 70px)) {
        margin-left:0;
        margin-right:0;
      }
      .image-container {
        background: $body-bg;
        border-radius: $post-border-radius;
        min-width: 176px; /* Ensures button is never wider than image */
        .image-area {
          @include header-shadow;
          border-radius: $post-border-radius;
        }
      }

      button {
        font-size: $p-font-size;
        color:#fff;
        box-shadow: $post-shadow;
        border:none;
        height: auto;
        padding: 10px 20px;
        margin:-20px auto 0;
        display: block;
        width:auto;
      }
      #subscribe-button {
        background-color: $blue-light-4;
        font-weight: normal;
      }
      #subscribed-button {
        text-transform: uppercase;

        font-weight: 200;
        letter-spacing: 1px;
        background-color: $brand-highlight;
        padding-right: 15px;
        &:after {
          content:"\f00c";
          font-family:'FontAwesome';
          margin-left: 8px;
        }
      }
      .subscribe-button-wrapper {
        position: absolute;
        width:100%;
      }
      p {
        @include light-text;
        text-align:center;
        padding-top: 15px;
      }
      .subscribed {
        text-transform: uppercase;
      }
    }
  }
  .main-content {
    padding: 0 $main-cont-padding-small;
    margin:0 auto;
    max-width:945px; /* Creates a col-8 with width of 600px for posts */
    .col-s-4:first-child { /* must make up normal width of 33.3333333333% */
      @media (min-width:$screen-sm-min) {
        margin-left: 3.66666666666%;
        width: 29.66666666666%;
      }
    }
    .left-margin-offset {
      @media (min-width:$screen-lg-min) {
        margin-left: -16%;
        margin-right: 16%;
      }
    }
    h5 {
      text-transform: uppercase;
      font-size: $p-font-size;
      font-weight: normal;
      color:#fff;
      padding: 28px 0 11px;
      span {
        @include post-left-right-padding;
        padding-top: 3px;
        padding-bottom: 3px;
        background: $grey-dark;
      }
    }
    .channels {
      .row {
        label {
          margin: 0;
          position: relative;
        }
        input {
          margin: 0;
          position: absolute;
          top: 0;
        }
        h6 {
          position: absolute;
          top: 0;
          left: 35px;
          font-size: $p-font-size;
          font-weight: bold;
          display: inline;
          line-height: $p-line-height-hug;
        }
        .price {
          text-align: right;
          line-height: $p-line-height-hug;
        }
        ul {
          padding: 15px 0 20px 52px;

          li {
            margin-bottom: 5px;
            padding-left: 12px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &:last-child {
          ul {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
