@import '_base';

$html-name-space:'.page-timeline';
$header-image-height:410px;
$header-image-height-sm:300px;
$header-height:108px;

#{$html-name-space} {
  #{$logo-sm} {
    position: absolute;
    top: 12px;
    left: $main-cont-padding-small;
    z-index: 1;
    @media (min-width:$screen-s-min) {
      left: 27px;
    }
  }
  .header-image {
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-size: cover;
    background-position: center center;
    height:$header-image-height-sm;
    @media (min-width:$screen-s-min) {
      height:$header-image-height;
    }
  }
  .header {
    margin-top:90px;
    @media (min-width:$screen-s-min) {
      margin-top:$header-image-height - $header-height;
      &:before {
        content:' ';
        display:block;
        position: absolute;
        left:30%;
        right:0;
        height:$header-height;
        background: rgba(52,52,44,0.5);
      }
    }

    h2, h3 {
      color: $grey-dark-4;
      text-align: center;
      @media (min-width:$screen-s-min) {
        color: #fff;
        text-align:left;
        text-shadow:0 1px 1px #1d1d1b;
      }
    }
    h2 {
      font-size: 36px;
      font-weight:bold;
      letter-spacing: -1.8px;
      margin-top:0;
      padding-top:17px;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 16px;
      @media (min-width:$screen-s-min) {
        margin-bottom: 40px;
      }
    }
    h4 {
      color: $grey-dark-4;
      text-align: center;
      font-size: 18px;
      font-weight: 200;
      text-shadow: 0.5px 0.5px 0 #c8c8c8;
      line-height: 20px;
      padding: 0;
      margin: 0;
      @media (min-width:$screen-s-min) {
        text-align:left;
      }
    }
    img {
      display:block;
      margin: -45px auto 0 auto;
      width:70%;
      height:auto;
      border-radius: $post-border-radius;
      box-shadow: $post-shadow;
      @media (max-width:$screen-sm-max) {
        margin-top: -20px;
      }
      @media (min-width:$screen-s-min) {
        width:100%;
      }
    }
  }
  .main-content {
    padding: 0 $main-cont-padding-small;
    margin:0 auto;
    max-width:915px; /* Creates a col-8 with width of 600px for posts */
    .col-s-4:first-child { /* must make up normal width of 33.3333333333% */
      @media (min-width:$screen-sm-min) {
        margin-left: 3.66666666666%;
        width: 29.66666666666%;
      }
    }
  }
}
