@import '_base';

@mixin li-cancel-first-last-margins {
  li:first-child {
    margin-left:0;
  }
  li:last-child {
    margin-right:0;
  }
}

$html-name-space:'.page-backlog';

#{$html-name-space} {

  @import 'elements/_actions-drop-down';

  .backlog-post {

    ul {
      padding-left:0;
      margin-bottom:0;
    }

    .info,
    .actions {
      color:$grey-light-4;
      font-weight:bold;
    }

    .info {
      @include li-cancel-first-last-margins;
      li {
        list-style-type:none;
        display:inline-block;
        vertical-align:top;
        margin-bottom:0;
        &::after {
          content:'.';
          @include inline-block(top);
          margin:0 10px;
          font-size:22px;
          line-height:8px;
        }
        &:last-child {
          &::after {
            display:none;
          }
        }
      }
      .fa {
        margin-left:3px;
      }
    }

    .main {
      font-size:$p-font-size-large;
      padding:{
        top:$main-cont-padding-large - 10px;
        bottom:$main-cont-padding-large - 10px;
      }
    }

    .actions {
      color:$grey-light-5;
      ul > li {
        @include inline-block(top);
        padding:0 10px;
        margin:0 10px;
        @include li-cancel-first-last-margins;
        &.actions-more {
          position:relative;
          cursor:pointer;
        }
      }
      .fa {
        font-size:19px;
      }
    }


    @media (min-width:$screen-md) {
      #{$state-hover} {
        cursor:move;
      }
    }

  }
}
