@import '_base';

@mixin li-cancel-first-last-spacing {
  li:first-child {
    margin-left:0;
    padding-left:0;
  }
  li:last-child {
    margin-right:0;
    padding-right:0;
  }
}

$html-name-space:'.page-backlog';

#{$html-name-space} {

  @import 'elements/_actions-drop-down';

  .backlog-post {

    ul {
      padding-left:0;
      margin-bottom:0;
    }

    .info,
    .actions {
      color:$grey-light-4;
      font-weight:bold;
    }

    .info {
      @include li-cancel-first-last-spacing;
      li {
        list-style-type:none;
        margin-bottom:0;
        @media (min-width:$screen-xs) {
          @include inline-block(top);
          &::after {
            @include dot-separator;
            margin:0 10px;
          }
          &:last-child {
            &::after {
              display:none;
            }
          }
        }
      }
      .fa {
        margin-left:3px;
      }
    }

    .main {
      font-size:$p-font-size-large;
      padding:{
        top:$main-cont-padding-large - 10px;
        bottom:$main-cont-padding-large - 10px;
      }
    }

    .actions {
      color:$grey-light-5;
      ul > li {
        @include inline-block(top);
        padding:0 5px;
        margin:0 5px;
        cursor:pointer;
        @media (min-width:$screen-xs - 100px) {
          padding:0 10px;
          margin:0 10px;
        }
        button {
          border:0 none;
          background:none;
          padding:0;
          outline:0 none;
        }
        &.actions-more {
          position:relative;
        }
      }
      @include li-cancel-first-last-spacing;
      .fa {
        font-size:19px;
      }

      .active-comment .fa,
      .active-actions-drop-down .fa {
        color:$blue-light-2;
      }
      .active-favourite .fa {
        color:$pink-light-1;
      }
      .fa-comment,
      .fa-ellipsis-h {
        #{$state-hover-focus} {
          color:$blue-light-2;
        }
      }
      .fa-heart {
        #{$state-hover-focus} {
          color:$pink-light-1;
        }
      }
    }

  }
}
