@import '_base';

@mixin li-cancel-first-last-spacing {
  li:first-child {
    margin-left:0;
    padding-left:0;
  }
  li:last-child {
    margin-right:0;
    padding-right:0;
  }
}

$html-name-space:'.page-backlog';

#{$html-name-space} {

  @import 'elements/_actions-drop-down';

  .backlog-post {

    .publish-info {
      width:64px;
      position:fixed;
      margin-top:12px;
      float:left;
      font-weight: bold;
      text-align: center;
      color:$grey-light-1;
      &:hover {
        cursor: pointer;
        color:$grey-dark-3;
      }

      .publish-info-day {
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom:2px;
      }
      .publish-info-date {
        font-size: 12px;
        margin-bottom: 0;
      }
      .publish-info-mode {
        font-size: 12px;
        i {
          display:block;
          margin-top:3px;
          font-size: 14px;

          @media (max-width:$screen-s-max) {
            font-size: 18px;
          }
        }
      }
      hr {
        margin: 10px 0 8px 0;
        width:20px;
      }

      @media (max-width:$screen-s-max) {
        width:18px;
        margin-top:9px;
      }
    }
    .panel {
      margin-left: 80px;
      @media (max-width:$screen-s-max) {
        margin-left: 34px;
      }
      .panel-body {
        padding: 10px 10px;
        @media (min-width:$screen-sm-min) {
          padding: 11px 27px;
        }
      }
    }

    ul {
      padding-left:0;
      margin-bottom:0;
    }

    .info {
      @include li-cancel-first-last-spacing;

      li, p {
        color:$grey-light-4;
        font-weight: bold;
        font-size: 14px;

        a {
          color:$grey-light-1;
          i {
            color:$grey-light-4;
          }
        }
      }

      li {
        list-style-type:none;
        margin-bottom:0;
        @media (min-width:$screen-xs) {
          @include inline-block(top);
          &::after {
            @include dot-separator;
            margin:0 8px;
          }
          &:last-child {
            &::after {
              display:none;
            }
          }
        }

        .poster-name {
          color:$grey-light-1;
          font-weight: bold;
          margin-right: 3px;
        }
      }
      .fa {
        margin-left:3px;
      }
    }

    .main {
      font-size:$p-font-size-large;
      padding:{
        top:$main-cont-padding-large - 10px;
        bottom:$main-cont-padding-large - 10px;
      }
    }

    .actions {
      color:$grey-light-6;
      ul > li {
        @include inline-block(top);
        padding:0 5px;
        margin:0 5px;
        cursor:pointer;
        @media (min-width:$screen-xs - 100px) {
          padding:0 9px;
          margin:0 9px;
        }
        button {
          border:0 none;
          background:none;
          padding:0;
          outline:0 none;
        }
        &.actions-more {
          position:relative;
        }
      }
      @include li-cancel-first-last-spacing;
      .fa {
        font-size:18px;
      }

      .active-comment .fa,
      .active-actions-drop-down .fa {
        color:$blue-light-2;
      }
      .active-favourite .fa {
        color:$pink-light-1;
      }
      .fa-comment,
      .fa-ellipsis-h {
        #{$state-hover-focus} {
          color:$blue-light-2;
        }
      }
      .fa-heart {
        #{$state-hover-focus} {
          color:$pink-light-1;
        }
      }
    }
  }
}
