@import '_base';

.btn {
  font-size:15px;
  font-weight:bold;
  height:35px;
}

.btn-default {
  background: $grey-light-2;
  border: solid 1px $grey-light-5;
  #{$state-active-hover-focus} {
    background: $white-full;
  }
}

.btn-success {
  #{$state-active-hover-focus} {
    background:darken($green-light-1, 10%);
    border-color:darken($green-light-1, 10%);
  }
}

.btn-sm {
  font-size:12px;
}

.btn-no-border {
  border:0 none;
}

.input-group-btn .btn {
  height:auto;
}

.btn + .btn {
  @media (min-width:$screen-s-min) {
    margin-left:$main-cont-padding-small;
  }
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block,
.btn-block {
  @include inline-block(top);
  @media (min-width:$screen-s-min) {
    width:auto;
  }
  @media (max-width:$screen-s-max) {
    height: $input-height-base;
  }
}

.btn-block + .btn-block {
  margin-top:$main-cont-padding-small;
  @media (min-width:$screen-s-min) {
    margin-top:0;
  }
}

.btn-transparent {
  @include text-shadow-black;
  background:none;
  border:solid 1px $white-full;
  color:$white-full;
  #{$state-active-hover-focus} {
    background:none;
    color:$white-full;
  }
}

.btn-transparent-text {
  @extend .btn-transparent;
  border:0 none;
}

.btn i {
  font-size: 14px;
}

.btn-icon-right {
  margin-left: 6px;
}

.btn-slim {
  height: 36px;
}

.form-group small {
  padding-top: 5px;
  display: block;
}

.row-btn {
  padding-top:10px;
}

.help-block {
  margin: 11px 0 0 0;
}

.btn-alternate-action {
  text-align:right;
  margin-top:8px;
  @media (max-width:$screen-ss-max) {
    margin-top:15px;
    text-align:center;
  }
}

// http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
