@import '_base';

div[fw-datepicker] {
  margin-bottom:$main-cont-padding-large - 10px;

  .input-group {
    border:solid 1px $grey-light-5;
    border-radius:$input-border-radius;
    .form-control {
      height:auto;
      padding:8px 12px;
      border:0 none;
      box-shadow:none;
    }
  }

  .input-group-btn {
    .btn {
      border:0 none;
      border-left:solid 1px $grey-light-5;
      margin-left:0;
      padding:{
        top:9px;
        bottom:8px;
      }
    }
  }
  .fa {
    margin-left:2px;
  }

  .dropdown-menu {
    padding:0 0 10px 0;
  }
  table {
    outline:0 none;
  }
}

.timepicker {
  font-size: $p-font-size;
  button, input {
    height: $input-height-base;
  }
}

.hour-of-week {
  .timepicker {
    margin-top: -35px;
  }
  .row {
    div:first-child {
      padding-right: 0;
    }
    div:last-child {
      padding-left: 2px;
    }
  }
}
