@import '_base';

div[fw-datepicker] {
  margin-bottom:$main-cont-padding-large - 10px;

  .input-group {
    border:solid 1px $grey-light-3;
    border-radius:$input-border-radius;
    .form-control {
      height:auto;
      padding:8px 12px;
      border:0 none;
      background:$body-bg;
      box-shadow:none;
    }
  }

  .input-group-btn {
    .btn {
      background:#ededed;
      border:0 none;
      border-left:solid 1px $grey-light-3;
      margin-left:0;
      padding:{
        top:8px;
        bottom:8px;
      }
    }
  }
  .fa {
    margin-left:2px;
  }

  .dropdown-menu {
    padding:0 0 10px 0;
  }
  table {
    outline:0 none;
  }
}