@import '_base';

label {
  display:block;
  font-size:15px;
  color:$grey-dark;
}

div[fw-file-upload] {
  input[type="submit"] {
    margin-top:10px;
    font-weight:bold;
  }
}

@include form-control-height(42px);

.form-group {
  margin-bottom: 16px;
}

.sub-form-alert {
  margin: $grid-gutter-width 0 0 0;
}

textarea.form-control {
  width:100%;
  max-width:100%;
  resize:none !important;
}

.input-group {
  .form-control {
    margin-bottom:0;
  }
}

input[type="file"] {
  font-size:10px;
}

select {
  width:100%;
  @media (min-width:$screen-s-min) {
    width:auto;
  }

  &.select-full-width {
    width:100%;
  }
}

.radio {
  margin-top:0;
}

.help-block {
  margin: 11px 0 0 0;
}

