@import '_base';

ul.header-navbar-menu {
  list-style-type: none;
  @include inline-block(top);
  padding:11px 11px 9px 60px;
  margin:0;
  white-space: nowrap;
  font-size:18px;
  z-index: 10;

  @media (min-width:$screen-s-min) {
    float:left;
    margin-left:0;
    padding-left:75px;
  }

  @media (min-width:$navbar-lg-min) {
    padding-top: 12px;
  }

  li {
    display: inline;
    margin: 0px 40px 0px 0px;
    font-size: 14px; //this hack removes excess height

    a {
      color:$grey-light-4;
      text-transform:uppercase;
      padding-bottom:14px;
      outline:0 none;

      @media (min-width:$navbar-lg-min) {
        padding-bottom: 17px;
      }

      &:hover{
        text-decoration: none;
        color: $grey-dark-2;
      }
      &.active{
        border-bottom: 2px solid $brand-highlight;
        color: #222;
      }

      span{
        vertical-align: middle;
        height: 24px;
        font-size: 16px; //this hack removes excess height
        &:last-child {
          font-size: 11px;
          letter-spacing: 0.9px;
          font-weight:bold;
          line-height: 19px;
        }
        i {
          margin-right: 4px;
          font-size: 15px;
        }
      }
    }
  }
}

//mobile navbar scrolling page specifics
.page-customize-landing, .page-creator-channels {
  @include mobile-nav-scroll(380px);
}

.page-creator-backlog-post-list, .page-creator-queues {
  @include mobile-nav-scroll(360px);
}

.page-account-settings, .page-update-payment-information {
  @include mobile-nav-scroll(360px);
}
