@import '_base';

.fifthweek-logo {
  font:{
    family:'Oleo Script', cursive;
    size:26px;
    weight:300;
  }
  a {
    color:$brand-primary;
    #{$state-hover-focus} {
      color:$white-1;
      text-decoration:none;
    }
  }
}
.navbar-default .fifthweek-logo {
  padding:7px 15px 7px 3px;
  height:auto;
  line-height:36px;
  @media (min-width:992px) {
    display:none;
  }
  #{$state-hover-focus} {
    color:$navbar-default-link-hover-color;
  }
}