@import '_base';

.navbar-toggle {
  float:left;
  z-index:3;
  margin:{
    top:0;
    right:0;
    bottom:0;
  }
  padding:{
    top:16.5px;
    bottom:17px;
    left:15px;
  }
  background:$white-full;
  border:0 none;
  font-size:12px;
  #{$state-hover-focus} {
    background:none !important;
  }
  //overide bootstrap default
  @media (min-width:$screen-sm-min) {
    display:block !important;
  }
  @media (min-width:$screen-md-min) {
    display:none !important;
  }
  .fa {
    vertical-align:initial;
    color:#777B80;
    font-size:1.5em;
  }
}
