@import '_base';

@mixin modal-box-shadow {
  box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .05);
}

.modal-content {
  border-radius: $border-radius;
  @include modal-box-shadow;

  h4 {
    font-size:16px;
    background: $body-bg;
    border-bottom: 1px solid $grey-light-3;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    margin-bottom: 0;
  }

  .row-btn {
    background: $white-2;
    border-top: 1px solid $grey-light-3;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding:($modal-padding - 5) $modal-padding;
  }

  .btn-close {
    float:right;
    font-size: 18px;
    color:$grey-light-5;
    &:hover {
      color:$grey-light-4;
    }
  }

  .modal-body, h4 {
    padding:$modal-padding;
  }

  .modal-body {
    padding-bottom: 0;
  }
}

.modal-dialog {
  @media (min-width:$screen-sm-min) {
    margin:9.5% auto;
  }
}
.modal-backdrop.in {
  position:fixed;
  height:100%;
  opacity:0.4;
}

.modal-sm {
  width: 360px; /* Deleting release times is currently the longest modal */
}

.modal-fw-large-image {
  .modal-dialog {
    @media (min-width:$screen-sm-min) {
      width:80%;
      max-width:1200px;
    }
  }
  .modal-content {
    background:none;
    box-shadow:none;
    border:0 none;
  }
  .modal-body {
    text-align:center;
  }
  img {
    @include modal-box-shadow;
    margin:0 auto;
  }
}
