@import '_base';

.modal-dialog {
  @media (min-width:$bp-medium) {
    margin:9.5% auto;
  }
}
.modal-backdrop.in {
  position:fixed;
  height:100%;
  opacity:0.6;
}
.modal-body {
  padding:5px;
}
.modal-content {
  background-color:$grey-dark;
}
.modal iframe {
  width:100%;
}