@import '_base';

.modal-content {
  border-radius: $border-radius;
}

.modal-dialog {
  @media (min-width:$screen-sm-min) {
    margin:9.5% auto;
  }
}
.modal-backdrop.in {
  position:fixed;
  height:100%;
  opacity:0.6;
}
.modal-body {
  padding:$main-cont-padding-small;
}
