@import '_base';

$html-name-space:'.page-landing';
$panel-margin-bottom:40px;

#{$html-name-space} {

  .main-container {
    margin-top:0;
  }

  #{$right-container} {
    padding:0;
  }

  .landing-header {
    margin-bottom:25px;
    @media (min-width:$screen-md-min) {
      margin-bottom:0;
    }

    .img-wrap {
      position:relative;
      display:inline-block;
      width:100%;
      z-index:1;
      margin-bottom:15px;
      text-align:center;
      @media (min-width:$screen-sm-min) {
        margin-bottom:0;
      }

      .overlay {
        position:absolute;
        display:inline-block;
        z-index:2;
        width:100%;
        height:101%;
        top:0;
        left:0;
        background:$black-full;
        opacity:0.6;
      }

      .content {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index:3;
        text-align:center;
      }

    }

    .avatar-wrap {
      @include inline-block(top);
      width:17%;
      max-width:140px;
      margin:5% 0;
      border:solid 2px $white-full;
      border-radius:50%;
      background:$white-full;
      @media (min-width:$screen-sm-min) {
        width:10%;
        margin:1.2em;
        border-width:3px;
      }
      img {
        width:100%;
      }
    }
    h2,
    h3 {
      color:$blue-dark-3;
      margin:0;
      text-align:center;
      @media (min-width:$screen-sm-min) {
        color:$white-2;
      }
    }
    h2 {
      margin:0;
      font:{
        family:"HelveticaNeue-CondensedBold", "Helvetica Neue";
        size:34px;
      }
      @media (min-width:$screen-s-min) {
        font-size:40px;
      }
      @media (min-width:$screen-sm-min) {
        margin-bottom:5px;
      }
    }
    h3 {
      font-size:20px;
      @media (min-width:$screen-s-min) {
        font-size:24px;
      }
    }
  }

  .landing-main-content {
    margin:0 auto;
    max-width:800px;
  }

  .btn-subscribe {
    display:block;
    margin:0 auto 30px auto;
    width:100%;
    //this could be global if btn-lg used elsewhere
    padding:8px 21px;
    font-size:18px;
    box-shadow:0 3px 1px $grey-dark-4;
    @media (min-width:$screen-ss-min) {
      width:auto;
    }
    @media (min-width:$screen-sm-min) {
      //this could be global if btn-lg used elsewhere
      padding:18px 31px;
    }
    @media (min-width:935px) {
      position:relative;
      z-index:4;
      margin:{
        top:-60px;
      }
    }
    @media (min-width:$screen-md-min) {
      margin-top:-32px;
    }
  }

  h4 {
    font-size:24px;
    margin-bottom:0;
  }

  .intro {
    margin-bottom:$panel-margin-bottom;
  }

  .subscription-panel {
    margin:{
      top:0;
      bottom:0;
    }
    &.first {
      margin-top:10px;
    }
    &.last {
      margin:{
        top:0;
        bottom:$panel-margin-bottom;
      }
    }
    .col-sm-8 {
      @media (min-width:$screen-ss-min) {
        float:left;
        width:66.6666666667%;
      }
    }
    .col-sm-4 {
      @media (min-width:$screen-ss-min) {
        width:33.3333333333%;
      }
    }
    h5 {
      font-size:$p-font-size;
    }
    ul {
      margin-bottom:0;
      padding-left:10px;
      @media (min-width:$screen-ss-min) {
        padding-left:30px;
      }
    }
    .price {
      color:$blue-light-4;
      font-weight:bold;
      padding-bottom:10px;
      @media (min-width:$screen-ss-min) {
        float:right;
        text-align:right;
        padding-bottom:0;
      }
      p {
        font-size:16px;
        @media (min-width:$screen-ss-min) {
          font-size:$p-font-size;
        }
      }
    }
    li {
      margin-bottom:0;
    }
  }

  label {
    display:block;
    cursor:pointer;
    font-size:17px;
  }
  input[type="checkbox"] {
    float:left;
    cursor:pointer;
    margin:{
      top:2px;
      right:10px;
    }
  }


}
