<div class="page-customize-channels">

  <fw-panel12 class="create-channel">

    <div class="row-selection-slim">
      <div class="row">
        <div class="col-xs-9">
          <h5><a href>Create a channel</a></h5>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-success btn-slim">
            <span class="visible-over-s">Create</span>
            <i class="fa fa-plus-circle btn-icon-right"></i>
          </button>
        </div>
      </div>
    </div>

  </fw-panel12>

  <fw-panel12>

    <div class="row-selection">
      <div class="row">
        <div class="col-xs-9">
          <h5><a href>Base Channel</a> <span class="price">$0.99</span></h5>
          <ul>
            <li>Backstage News Feed</li>
            <li>Eternal Gratitude</li>
          </ul>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default btn-slim">
            <span class="visible-over-s">Manage</span>
            <i class="fa fa-chevron-right btn-icon-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row-selection">
      <div class="row">
        <div class="col-xs-9">
          <h5><a href>Extras Channel</a> <span class="price">$0.75</span></h5>
          <ul>
            <li>Weekly exclusive wallpapers</li>
            <li>New side comic</li>
          </ul>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default btn-slim">
            <span class="visible-over-s">Manage</span>
            <i class="fa fa-chevron-right btn-icon-right"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row-selection">
      <div class="row">
        <div class="col-xs-9">
          <h5><a href>HD Channel</a> <span class="price">$0.25</span></h5>
          <ul>
            <li>Signed digital prints</li>
            <li>Behind the scenes production videos</li>
            <li>Behind the scenes photos</li>
          </ul>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default btn-slim">
            <span class="visible-over-s">Manage</span>
            <i class="fa fa-chevron-right btn-icon-right"></i>
          </button>
        </div>
      </div>
    </div>

  </fw-panel12>
</div>
