<fw-panel12 class="page-customize-channels">
  <div class="row channel">
    <div class="col-s-8">
      <h5>Base Channel</h5>
      <ul>
        <li>Backstage News Feed</li>
        <li>Eternal Gratitude</li>
      </ul>
    </div>
    <div class="col-s-4 hidden-ss">
      <button class="btn btn-default btn-slim">
        Manage
        <i class="fa fa-chevron-right btn-icon-right"></i>
      </button>
    </div>
  </div>

  <div class="row channel">
    <h5>Extras Channel</h5>
    <ul>
      <li>Weekly exclusive wallpapers</li>
      <li>New side comic</li>
    </ul>
  </div>

  <div class="row channel">
    <h5>HD Channel</h5>
    <ul>
      <li>Signed digital prints</li>
      <li>Behind the scenes production videos</li>
      <li>Behind the scenes photos</li>
    </ul>
  </div>
</fw-panel12>
