<fw-panel12 class="page-customize-collections">
  <div class="collection">
    <div class="row">
      <div class="col-s-8">
        <h5><a href>Blog</a></h5>
        <p>
          Wednesday
        </p>
      </div>
      <div class="col-s-4 hidden-ss">
        <button class="btn btn-default btn-slim">
          Manage
          <i class="fa fa-chevron-right btn-icon-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="collection">
    <div class="row">
      <div class="col-s-8">
        <h5><a href>Wallpapers</a> <span class="channel">HD Channel</span></h5>
        <p>
          Monday
        </p>
      </div>
      <div class="col-s-4 hidden-ss">
        <button class="btn btn-default btn-slim">
          Manage
          <i class="fa fa-chevron-right btn-icon-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="collection">
    <div class="row">
      <div class="col-s-8">
        <h5><a href>Side Comic</a> <span class="channel">Extras Channel</span></h5>
        <p>
          Tuesday,
          Thursday
        </p>
      </div>
      <div class="col-s-4 hidden-ss">
        <button class="btn btn-default btn-slim">
          Manage
          <i class="fa fa-chevron-right btn-icon-right"></i>
        </button>
      </div>
    </div>
  </div>

</fw-panel12>
