<div class="page-customize-collections" ng-init="collections = [
  {name:'Blog', schedule:['Wednesday']},
  {name:'Wallpapers', channel:'HD Channel', schedule:['Monday']},
  {name:'Side Comic', channel:'Extras Channel', schedule:['Tuesday', 'Thursday']}
]">

  <fw-managed-list item-name="collection" items="collections">
    <h5><a href>{{item.name}}</a>
      <span class="channel" ng-if="item.channel !== undefined">{{item.channel}}</span></h5>
    <p>
      <span ng-repeat="weekday in item.schedule">{{weekday}}</span>
    </p>
  </fw-managed-list>

</div>
