<!-- customize-landing-page class here until GH issue #167 is resolved -->
<div class="row page-customize-landing">
  <div class="col-md-12">
    <tabset>
      <tab heading="Basics">
        <div ng-include="'views/creators/customize/partials/landingpage-basics.html'"></div>
      </tab>
      <tab heading="Header Image">
        <div ng-include="'views/creators/customize/partials/landingpage-header-image.html'"></div>
      </tab>
      <tab heading="Full Description">
        <div ng-include="'views/creators/customize/partials/landingpage-full-description.html'"></div>
      </tab>
    </tabset>
  </div>
</div>