<div class="post-new">
  <fw-panel12>
    <ul class="post-new-options">
      <li class="post-new-options-image"><a ng-click="newImage()" href><span>Image</span></a></li>
      <li class="post-new-options-file"><a ng-click="newFile()" href><span>File</span></a></li>
      <li class="post-new-options-video post-new-options-disabled"><a href><span>Video</span></a></li>
      <li class="post-new-options-audio post-new-options-disabled"><a href><span>Audio</span></a></li>
      <li class="post-new-options-article post-new-options-disabled"><a href><span>Article</span></a></li>
    </ul>
  </fw-panel12>

  <p class="post-new-announcement">
    Want to say something to your subscribers? <a class="post-new-announcement-link" ng-click="newAnnouncement()" href>Make an announcement</a>
  </p>
</div>
