<div class="post-new">
  <fw-panel12>
    <ul class="post-new-options">
      <li class="post-new-options-image" ng-click="newImage()"><a id="post-image-link"><span>Image</span></a></li>
      <li class="post-new-options-file" ng-click="newFile()"><a id="post-file-link"><span>File</span></a></li>
      <li class="post-new-options-video post-new-options-disabled"><a><span>Video</span></a></li>
      <li class="post-new-options-audio post-new-options-disabled"><a><span>Audio</span></a></li>
      <li class="post-new-options-article post-new-options-disabled"><a><span>Article</span></a></li>
    </ul>
  </fw-panel12>

  <p class="post-new-announcement">
    Want to say something to your subscribers? <br class="visible-under-ss" /> <a id="post-note-link" class="post-new-announcement-link" ng-click="newAnnouncement()" href>Make an announcement</a>
  </p>
</div>
