@import '_base';

$html-name-space:'.page-frequently.asked.questions';

#{$html-name-space} {

  .col-sm-4 {
    padding-left:0;
  }

  .jumbo-panel  {
    p.first {
      margin-bottom:20px;
    }
    .beyond p {
      margin-bottom:0;
    }
  }

}