@import '_base';

$html-name-space:'.page-frequently.asked.questions';

#{$html-name-space} {

  .jumbo-panel  {
    > div {
      padding:{
        right:0;
        left:0;
      }
    }
    p.first {
      margin-bottom:20px;
    }
  }

}