<div class="main-content" ng-class="{'main-content-introduction-empty': !model.blog.introduction}">
  <div class="row">
    <div class="col-xs-12">
      <div class="content-padding">
        <fw-error-message value="model.errorMessage"></fw-error-message>

        <a ng-if="model.isOwner" id="edit-introduction-link" class="btn btn-edit btn-default" ui-sref="creator.landingPage.edit">
          <span ng-if="!model.blog.introduction">add introduction</span>
          <span ng-if="model.blog.introduction">edit introduction</span>
        </a>
        <h4 id="blog-introduction">{{model.blog.introduction}}</h4>

      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-xs-12">
      <div class="posts content-padding">
        <a ng-if="model.isOwner" id="edit-channels-link" class="btn btn-edit btn-default" ui-sref="creator.channels.list">
          <span ng-if="!model.channels.length">add channels</span>
          <span ng-if="model.channels.length">edit channels</span>
        </a>
        <h5 ng-if="!model.channels.length">
          <span>No Channels Currently Available</span>
        </h5>
        <h5 ng-if="model.channels.length">
          <span>Available Channels</span>
        </h5>
        <div class="post non-image-post channels" ng-if="model.channels.length">
          <form novalidate
                name="form"
                role="form">
            <div class="text text-standard-border">
              <div class="content">
                <div id="channel-{{$index}}" class="row channel" ng-repeat="channel in model.channels" ng-class="{first:$first, last:$last}">
                  <div class="col-xs-7">
                    <h6 class="channel-name">{{channel.name}} <span ng-if="item.isVisibleToNonSubscribers" class="tail">Hidden</span></h6>
                  </div>
                  <div class="col-xs-5 channel-price-column">
                    <span class="channel-price" id="channel-price-{{$index}}" ng-click="channel.checked = !channel.checked"
                          ng-class="{'unchecked':!channel.checked, 'checked':channel.checked, 'guest-list-price':model.hasFreeAccess}">
                      <fw-price value="channel.price"></fw-price>
                    </span>
                  </div>
                  <div class="col-xs-5 channel-previous-price-column" id="channel-previous-price-{{$index}}">
                    <p ng-if="channel.subscriptionInformation.isIncrease">
                      Increased from <fw-price value="channel.subscriptionInformation.acceptedPrice"></fw-price>
                    </p>
                    <p ng-if="channel.subscriptionInformation.isDecrease">
                      Decreased from <fw-price value="channel.subscriptionInformation.acceptedPrice"></fw-price>
                    </p>
                  </div>
                </div>
              </div>
              <p class="subscribe-now-total" ng-if="!model.hasFreeAccess">
                <span>Total:</span> <fw-price value="model.totalPrice"></fw-price>
              </p>
              <p class="subscribe-now-total" ng-if="model.hasFreeAccess">
                <span>Guest List Price:</span> <fw-price value="0"></fw-price>
              </p>
              <hr />
              <div class="subscribe-now">
                <p ng-if="model.isSubscribed">
                  <a href class="pull-left"
                     id="unsubscribe-button"
                     data-event-title="{{model.tracking.unsubscribedTitle}}"
                     data-event-category="{{model.tracking.category}}"
                     data-loading-text="Unsubscribing..."
                     can-submit="true"
                     fw-form-submit="unsubscribe()"
                     error-message="model.errorMessage">Unsubscribe</a>

                  <a href
                     id="update-subscriptions-button"
                     data-event-title="{{model.tracking.updatedTitle}}"
                     data-event-category="{{model.tracking.category}}"
                     data-loading-text="Saving..."
                     can-submit="true"
                     fw-form-submit="subscribe()"
                     error-message="model.errorMessage">
                    Accept Changes
                  </a>
                </p>
                <p ng-if="!model.isSubscribed">
                  <a href
                     id="channel-list-subscribe-button"
                     data-event-title="{{model.tracking.subscribedTitle}}"
                     data-event-category="{{model.tracking.category}}"
                     data-loading-text="Subscribing..."
                     can-submit="true"
                     fw-form-submit="subscribe()"
                     ng-disabled="model.subscribedChannelCount === 0"
                     error-message="model.errorMessage">
                    Subscribe Now
                  </a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="video-content" ng-class="{'video-content-empty':!model.videoUrl}">
  <div class="main-content">
    <div class="row">
      <div class="col-xs-12">
        <div id="video-area" class="content-padding">
          <div id="edit-video-area">
            <a ng-if="model.isOwner" id="edit-video-link" class="btn btn-edit btn-default" ui-sref="creator.landingPage.edit">
              <span ng-if="!model.videoUrl">add video</span>
              <span ng-if="model.videoUrl">edit video</span>
            </a>
          </div>
          <div id="video" class="video" ng-if="model.videoUrl">
            <embed-video data-ng-href="{{model.videoUrl}}" rel="0" autohide="1" frameborder="0" showinfo="0"></embed-video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content" ng-class="{'main-content-empty': !model.blog.description}">
  <div class="row">
    <div class="col-xs-12">
      <div class="content-padding">
        <a ng-if="model.isOwner" id="edit-description-link" class="btn btn-edit btn-default" ui-sref="creator.landingPage.edit">
          <span ng-if="!model.blog.description">add full description</span>
          <span ng-if="model.blog.description">edit full description</span>
        </a>
        <div id="description-area">
          <fw-markdown replace="true" ng-model="model.blog.description"></fw-markdown>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="standard-blurb-area">
  <div class="main-content">
    <div class="standard-blurb-content">
      <p class="intro">By subscribing to this profile on Fifthweek, you get access to the following benefits:</p>
      <ul>
        <li>Full access to the user's profile content.</li>
        <li>You can comment, give feedback and ask questions.</li>
        <li>You can cancel anytime.</li>
        <li>Minimum billing period of just one week.</li>
      </ul>
    </div>
  </div>
</div>
