<div ng-if="model.isLoaded">

  <ng-include src="'modules/landing-page/landing-page-header-information.html'"></ng-include>

  <ng-include src="'modules/landing-page/landing-page-body-information.html'" ng-if="model.currentView === views.manage"></ng-include>

  <div class="main-content" ng-if="model.currentView === views.blog">
    <div class="row">
      <div class="col-xs-12">
        <span>
          <p ng-if="!model.isOwner" class="channel-count-information">
            Subscribed to {{model.subscribedChannelCount}} channel{{model.subscribedChannelCount === 1 ? '' : 's'}}
            - <fw-price value="model.hasFreeAccess ? 0 : model.totalPrice"></fw-price>
          </p>
          <p ng-if="model.isOwner" class="channel-count-information">Showing all channels.</p>
        </span>

        <fw-post-list source="timeline"
                      user-id="{{model.userId}}"
                      channel-id="{{model.channelId}}"></fw-post-list>
      </div>
    </div>
  </div>

  <div class="main-content" ng-class="{ 'landing-page-posts': model.currentView === views.manage }"
       ng-if="model.currentView === views.manage || model.currentView === views.previewBlog">

    <div class="row">
      <div class="col-xs-12">
        <span ng-if="model.currentView === views.manage">
          <div class="content-padding">
            <a ng-if="model.isOwner" id="edit-live-posts-link" class="btn btn-edit btn-default" ui-sref="creator.posts.live">
              <span>edit live posts</span>
            </a>
          </div>
          <h5>
            <span>Previews of Latest Content</span>
          </h5>
        </span>
        <span ng-if="model.currentView === views.previewBlog"><p class="channel-count-information">Previewing channels.</p></span>

        <fw-post-list source="preview"
                      user-id="{{model.userId}}"
                      channel-id="{{model.channelId}}"></fw-post-list>
      </div>
    </div>
  </div>

  <ng-include src="'modules/landing-page/landing-page-footer-information.html'" ng-if="model.currentView === views.manage"></ng-include>

</div>
