<div id="subscribe-button-area">
  <form novalidate
        name="form"
        role="form">

    <div class="subscribe-button-wrapper">

      <span ng-if="model.currentView !== views.previewBlog">
        <span ng-if="model.isSubscribed" class="subscribed">
          <button ng-if="model.currentView === views.manage"
                  id="cancel-changes-button"
                  class="btn header-button"
                  type="submit"
                  can-submit="true"
                  fw-form-submit="cancelManageSubscription()"
                  error-message="model.errorMessage">
            Cancel Changes
          </button>

          <button ng-if="model.currentView !== views.manage && !model.isOwner"
                  id="manage-subscription-button"
                  class="btn header-button"
                  type="submit"
                  can-submit="true"
                  fw-form-submit="manageSubscription()"
                  error-message="model.errorMessage">Manage Subscription</button>

          <button ng-if="model.currentView !== views.manage && model.isOwner"
                  id="subscribe-back-button"
                  class="btn header-button"
                  type="submit"
                  can-submit="true"
                  fw-form-submit="unsubscribe()"
                  error-message="model.errorMessage"><i class="fa fa-arrow-left"></i>Back</button>
        </span>

        <span ng-if="!model.isSubscribed" class="subscribe">
          <button id="subscribe-button"
                  class="btn header-button"
                  type="submit"
                  data-event-title="{{model.tracking.subscribedTitle}}"
                  data-event-category="{{model.tracking.category}}"
                  data-loading-text="Subscribing..."
                  can-submit="true"
                  fw-form-submit="subscribe()"
                  ng-disabled="model.subscribedChannelCount === 0"
                  error-message="model.errorMessage">
            Subscribe
            <span ng-if="!model.hasFreeAccess"><fw-price value="model.totalPrice"></fw-price></span>
            <span ng-if="model.hasFreeAccess"><i class="fa fa-street-view"></i> FREE</span></button>
        </span>

        <!--button ng-if="model.currentView === views.manage"
                id="preview-button"
                class="btn header-button preview-button"
                type="submit"
                can-submit="true"
                fw-form-submit="preview()"
                error-message="model.errorMessage"><i class="fa fa-th-large"></i>Peek</button-->

      </span>

      <!--span ng-if="model.currentView === views.previewBlog">
        <button id="cancel-preview-button"
                class="btn header-button"
                type="submit"
                can-submit="true"
                fw-form-submit="cancelPreview()"
                error-message="model.errorMessage"><i class="fa fa-arrow-left"></i>Back</button>
      </span-->

    </div>
  </form>
</div>
