
<div ng-if="!model.isLoaded && !model.errorMessage" class="updating-area">
  <i class="fa fa-refresh fa-spin"></i>
</div>

<fw-error-message value="model.errorMessage"></fw-error-message>

<div ng-if="model.isLoaded" ng-class="{ 'main-post-content': model.currentView === views.post }">

  <ng-include src="'modules/landing-page/landing-page-content-header.html'"></ng-include>

  <fw-subscription-information username="{{model.username}}"
                               landing-page-data="model.post ? undefined : model.landingPage"
                               ng-if="model.landingPage && model.currentView !== views.post"></fw-subscription-information>

  <div class="main-content">
    <div class="row">
      <div class="col-xs-12">

        <div ng-if="model.currentView === views.timeline">
          <h1 class="landing-page-h1">Latest Content</h1>

          <div class="landing-page-content-buttons">

            <button class="landing-page-content-button"
                    id="show-channel-posts-button"
                    ng-if="model.channelId"
                    ng-class="{'active-button': model.currentView === views.timeline && model.timelineType === timelineTypes.channel }"
                    ng-click="showChannel()">Channel</button>

            <button class="landing-page-content-button"
                    id="show-post-button"
                    ng-if="model.postId"
                    ng-class="{'active-button': model.currentView === views.post }"
                    ng-click="showPost()">Post</button>

            <button class="landing-page-content-button"
                    id="show-all-posts-button"
                    ng-if="!model.landingPage.isOwner || model.channelId || model.postId"
                    ng-class="{'active-button': model.currentView === views.timeline && model.timelineType === timelineTypes.all }"
                    ng-click="showAllPosts()">All Posts</button>

            <button class="landing-page-content-button"
                    id="show-subscribed-posts-button"
                    ng-if="!model.landingPage.isOwner"
                    ng-class="{'active-button': model.currentView === views.timeline && model.timelineType === timelineTypes.subscribed }"
                    ng-click="showSubscribedPosts()">Subscribed Posts</button>
          </div>

          <div  ng-if="model.timelineType === timelineTypes.all">
            <fw-post-list source="preview"
                          user-id="{{model.landingPage.userId}}"></fw-post-list>

          </div>

          <div  ng-if="model.timelineType === timelineTypes.channel">
            <fw-post-list source="preview"
                          user-id="{{model.landingPage.userId}}"
                          channel-id="{{model.channelId}}"></fw-post-list>

          </div>

          <div ng-if="model.timelineType === timelineTypes.subscribed">
            <fw-post-list source="timeline"
                          user-id="{{model.landingPage.userId}}""></fw-post-list>
          </div>
        </div>

        <div ng-if="model.currentView === views.post && model.post">
          <!--p>
            This post requires a subscription to <strong>{{model.post.channel.name}}</strong>.
            <a href ng-click="showAllPosts()">Find out more...</a>.
          </p>

          <fw-post-subscription-information username="{{model.username}}"
                                            required-channel-id="{{model.post.channel.channelId}}"></fw-post-subscription-information-->

          <fw-full-post post="model.post"></fw-full-post>
        </div>
      </div>
    </div>
  </div>

  <ng-include src="'modules/landing-page/landing-page-content-footer.html'"></ng-include>

</div>
