<form novalidate
      id="accountSettingsForm"
      role="form"
      name="form">

  <fw-panel12>

    <fw-error-message value="model.errorMessage"></fw-error-message>

    <div ng-show="model.accountSettings">
      <div class="form-group form-group-has-buffers">
        <label>Profile Image</label>
        <div class="row">
          <div class="col-xs-8 col-s-5 col-md-4">
            <fw-blob-image control="blobImage" thumbnail="preview"></fw-blob-image>
          </div>
          <div class="col-xs-4 col-s-7 col-md-5">
            <fw-file-upload description="Upload" on-upload-complete="onUploadComplete(data)" file-purpose="profile-image" accept="image/jpeg"></fw-file-upload>
          </div>
          <div class="col-xs-12 bottom-buffer">
            <small class="sub-image-input">We recommend images at least 600x600 pixels.</small>
          </div>
        </div>
      </div>

      <fw-form-group>
        <label for="email">Email</label>
        <div class="row">
          <div class="col-md-6">
            <div fw-form-input-glyphs>
              <input type="email" id="email" class="form-control" name="email" placeholder="Email"
                     ng-model="model.accountSettings.email"
                     required>
            </div>
          </div>
          <div class="col-md-6">
            <p fw-form-input-invalid-p>A valid email address is required.</p>
          </div>
        </div>
      </fw-form-group>

      <fw-form-input-username ng-model="model.accountSettings.username" label="Username" breakpoint="md" required></fw-form-input-username>

      <fw-form-input-password ng-model="model.password" placeholder="New password" label="Password" breakpoint="md"></fw-form-input-password>

      <div class="row-btn">
        <div ng-show="form.submissionSucceeded && form.$pristine" class="alert alert-success" >
          <p>Saved successfully</p>
        </div>
        <fw-error-message value="form.message"></fw-error-message>
        <button type="submit"
               id="save-changes-button"
               class="btn btn-block btn-success"
               data-loading-text="Saving..."
               data-event-title="Account settings saved"
               data-event-category="Account"
               ng-disabled="form.$pristine || form.isSubmitting"
               fw-form-submit="submitForm()">
          Save Changes
        </button>

        <fw-form-cancel-button ng-disabled="form.$pristine || form.isSubmitting" id="cancel-button"></fw-form-cancel-button>
        <fw-form-dirty-confirmation form="form"></fw-form-dirty-confirmation>
      </div>
    </div>
  </fw-panel12>
</form>
