<fw-panel12 ng-show="!form.submissionSucceeded && !tokenInvalid" id="password-reset-confirmation-panel">

  <form novalidate
        role="form"
        name="form">

    <fw-form-input-password model="passwordResetConfirmationData.newPassword" placeholder="New password" required focus></fw-form-input-password>

    <div class="row-btn">
      <button
        id="password-reset-confirmation-button"
        class="btn btn-success btn-block"
        type="submit"
        data-event-title="Password reset completed"
        data-event-category="Sign-in"
        data-loading-text="Resetting..."
        form="form"
        fw-form-submit="confirmPasswordReset()">Reset Password</button>
    </div>

    <div ng-show="form.message" class="alert alert-danger sub-form-alert" id="password-reset-confirmation-message">
      <p>{{form.message}}</p>
    </div>

  </form>

</fw-panel12>

<fw-col7 ng-show="form.submissionSucceeded && !tokenInvalid" id="password-reset-confirmation-success">
  <div class="jumbo-panel alert alert-success">
    <p>
      <strong>Password has been reset.</strong> Please sign in with your new password. <strong><a ui-sref="signIn">Continue to sign in page &raquo;</a></strong>
    </p>
  </div>
</fw-col7>

<fw-col7 ng-show="tokenInvalid" id="password-reset-token-invalid">
  <div class="jumbo-panel alert alert-warning">
    <p>
      <strong>This link has expired.</strong> If you need to reset your password, please go to the <strong><a ui-sref="signIn.forgot">forgot your details</a></strong> page.
    </p>
  </div>
</fw-col7>
