<fw-error-message value="model.errorMessage"></fw-error-message>

<div ng-if="model.isLoading && !model.errorMessage" class="updating-area">
  <i class="fa fa-refresh fa-spin"></i>
</div>

<fw-panel12 ng-if="!model.isLoading && !model.errorMessage">
  <p>
    You have <strong id="total-subscriptions">{{model.totalSubscriptions}}</strong> subscriptions
    from <strong id="total-subscribers">{{model.billableSubscribers}}</strong> subscribers.
    <span ng-if="model.unacceptablePrices"><strong id="total-unacceptable-prices">{{model.unacceptablePrices}}</strong>
    subscriptions are inactive because the user has not accepted the current price.</span>
  </p>
  <p>
    Your total revenue to date is
    <strong><fw-price value="model.releasedRevenue + model.unreleasedRevenue" show-interval="false" id="total-revenue"></fw-price></strong>.
  </p>
  <p>
    <strong><fw-price value="model.releasedRevenue" show-interval="false" id="released-revenue"></fw-price></strong>
    has already been paid out and
    <strong><fw-price value="model.releasableRevenue" show-interval="false" id="releasable-revenue"></fw-price></strong>
    is available.
  </p>
  <p>
    Your estimated revenue for the next week is
    <strong><fw-price value="model.estimatedWeeklyRevenue" show-interval="false" id="estimated-weekly-revenue"></fw-price></strong>.
  </p>
  <!--p>
    You have <span ng-if="model.estimatedFailedPayments"><strong id="total-failed-payment-subscriptions">{{model.estimatedFailedPayments}}</strong>
    subscriptions from <strong id="total-failed-payment-subscribers">{{model.subscribers.length - model.billableSubscribers}}</strong> subscribers
    which cannot be billed because either we do not have their payment information or the billing has failed.
    Those subscribers cannot view your channels, and are not included in your total subscriptions figure or the list of subscribers.</span>
  </p-->
  <table class="table" ng-if="model.billableSubscribers">
    <thead>
    <tr>
      <th>Username</th>
      <th>Channels</th>
      <th>Subscribed</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="subscriber in model.subscribers | filter: { shouldDisplay: true }" class="subscriber-row" id="subscriber-row-{{$index}}">
      <td><p>{{subscriber.username}}</p></td>
      <td><p ng-repeat="channel in subscriber.channels">{{channel.name}}</p></td>
      <td><p ng-repeat="channel in subscriber.channels">{{channel.subscriptionStartDate | date: 'd MMM yy':'UTC'}}</p></td>
      <td><p ng-repeat="channel in subscriber.channels">
        <i ng-if="!subscriber.freeAccessEmail && channel.isPaying" class="fa fa-check price-accepted-indicator"></i>
        <i ng-if="!subscriber.freeAccessEmail && !channel.isPaying" class="fa fa-times price-not-accepted-indicator"></i>
        <i ng-if="subscriber.freeAccessEmail" class="fa fa-street-view guest-list-indicator"></i>
      </p></td>
    </tr>
    </tbody>
  </table>
</fw-panel12>
