<fw-panel12 class="page-account-settings">

  <form name="form">

    <div class="form-group form-group-image">
      <div class="row">
        <div class="col-xs-12 your-photo-label">
          <label>Your Photo</label>
        </div>
        <div class="col-xs-3">
          <fw-blob-image control="blobImage" width="150" height="150" thumbnail="150x150-crop"></fw-blob-image>
        </div>
        <div class="col-xs-9">
          <fw-file-upload description="Upload Profile Image" on-upload-complete="onUploadComplete(data)" file-purpose="profile-image" accept="image/jpeg,image/gif,image/png"></fw-file-upload>
        </div>
      </div>
    </div>

    <fw-form-group>
      <div class="row">
        <div class="col-sm-6">
          <label for="email">Email</label>
          <div fw-form-input-glyphs>
            <input type="email"
                   class="form-control"
                   name="email"
                   ng-model="accountSettingsData.email"
                   placeholder="{{accountSettingsData.emailDefault}}" required/>
          </div>
        </div>
        <div class="col-md-6">
          <p fw-form-input-invalid-p>A valid email address is required.</p>
        </div>
      </div>
    </fw-form-group>

    <fw-form-group>
      <div class="row">
        <div class="col-sm-6">
          <label for="username">Username</label>
          <div fw-form-input-glyphs>
            <input type="text"
                   class="form-control"
                   name="username"
                   ng-model="accountSettingsData.username"
                   placeholder="{{accountSettingsData.usernameDefault}}" required/>
          </div>
        </div>
      </div>
    </fw-form-group>

    <fw-form-group>
      <div class="row">
        <div class="col-sm-6">
          <label for="password">Password</label>
          <div fw-form-input-glyphs>
            <input type="password"
                   class="form-control"
                   ng-model="accountSettingsData.password"
                   name="username" required/>
          </div>
        </div>
      </div>
    </fw-form-group>

    <div class="row-btn">
      <input type="submit"
             class="btn btn-block btn-success"
             value="Save Changes"
             data-loading-text="Saving..."
             data-event-title="Account settings saved"
             data-event-category="Account"
             form-name="form"
             fw-form-submit="submitForm()" />
    </div>
  </form>

</fw-panel12>
