<div class="modal-body has-modal-cross-button-outside">
  <a id="modal-cross-button" class="modal-cross-button-outside" ng-click="$close()" href>
    <i class="fa fa-close"></i>
  </a>
  <div class="video">
    <!-- IMPORTANT: ensure SRC is updated to reflect ID (http://stackoverflow.com/a/6537832/592768) -->
    <iframe id="home-modal-video" vimeo-video title="Creator Journey" src="//player.vimeo.com/video/114229222?player_id=home-modal-video" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
