<div class="row home-intro">
  <div class="col-md-12">
    <h2>Comics, photos, videos, blogs.</h2>
    <h3>We allow creators to bring extra content to life, so you don't miss out.</h3>
    <a class="btn btn-primary" ng-href="#">Play video</a>
  </div>
</div>

<div class="row home-footer">
  <p>Fifthweek is for sharing quality content. We make it really simple for creators to make a low-cost subscription and share whatever they want through it.</p>
</div>

<img ng-src="images/home/bg/rwd-spacer-512x384.png" width="512" height="384" alt="A responsive, retina-quality image" />