<div ng-include="'views/partials/logo.html'"></div>
<a id="sign-in-link" ui-sref="signIn" class="btn btn-transparent btn-signin">Sign In</a>

<div class="row home-intro">
  <div class="col-md-12">
    <h2 id="intro-heading">Comics, photos, <br>videos, blogs.</h2>
    <h3 id="intro-sub-heading">Bring more of your best creations to life. Launch your own subscription.</h3>

    <div class="form-wrap">
      <form novalidate
            autocomplete="off"
            role="form"
            name="form"
            id="registrationForm">

        <div ng-show="!registrationSucceeded">
          <div class="input-wrap">
            <fw-form-group>
              <div class="row">
                <div class="col-md-6">
                  <div fw-form-input-glyphs>
                    <input
                      id="registrationData-email"
                      ng-model="registrationData.email"
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Email"
                      required>
                  </div>
                </div>
                <div class="col-md-6">
                  <p fw-form-input-invalid-p>A valid email address is required.</p>
                </div>
              </div>
            </fw-form-group>

            <fw-form-input-username ng-model="registrationData.username" breakpoint="md" required></fw-form-input-username>

            <fw-form-input-password ng-model="registrationData.password" placeholder="Password" breakpoint="md" required></fw-form-input-password>
          </div>

          <div class="row row-btn">
            <div class="col-md-6">
              <button
                class="btn btn-success btn-lg btn-block"
                type="submit"
                id="register-button"
                data-loading-text="Registering..."
                data-event-title="Registration succeeded"
                data-event-category="Registration"
                fw-form-submit="register()">Register as creator</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div id="messageBox" class="sub-form-alert" ng-show="form.message" ng-class="registrationSucceeded ? 'alert alert-success' : 'alert alert-danger'">
              <p>{{form.message}}</p>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-6">
          <a id="play-video-link"
             class="btn btn-lg btn-transparent-text btn-video"
             ng-class="{'fade-out': form.$dirty}"
             ng-href
             ng-click="openModal()"><i class="fa fa-play"></i> Play the video</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row home-footer">
  <div class="col-md-12">
    <div class="row text-wrap">
      <p><strong>Fifthweek is for sharing quality content.</strong> <span>We make it really simple for creators to make a low-cost subscription and share whatever they want through it. <br/><a ui-sref="help.faq">Learn more</a></span></p>
    </div>
  </div>
</div>
