<div class="row home-intro">
  <div class="col-md-12">
    <h2>Comics, photos, <br/>videos, blogs.</h2>
    <h3>We allow creators to bring extra content to life, so you don't miss out.</h3>
    <a class="btn btn-lg btn-plain" ng-href ng-click="openModal()"><i class="fa fa-play"></i> Play Video</a>
  </div>
</div>

<div class="row home-footer">
  <div class="col-md-12">
    <div class="row text-wrap">
      <p><strong>Fifthweek is for sharing quality content.</strong> <span>We make it really simple for creators to make a low-cost subscription and share whatever they want through it.</span></p>
    </div>
    <div class="row form-wrap">
      <form action="#">
        <div class="col-sm-8">
          <input type="email" class="form-control" placeholder="Email Address" />
        </div>
        <div class="col-sm-3">
          <button class="btn btn-block btn-success">Start Creating</button>
        </div>
      </form>
    </div>
  </div>
</div>

<img ng-src="images/home/bg/rwd-spacer-512x384.png" width="512" height="384" alt="A responsive, retina-quality image" />