<div class="row">
  <div class="col-sm-6">

    <div class="panel panel-default top-of-page">
      <div class="panel-body jumbo-panel">

        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" ng-model="signInData.username" required focus=true>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="signInData.password" required>
          </div>

          <div class="row-btn">
            <button
              id="sign-in-button"
              class="btn btn-success btn-block"
              type="submit"
              data-event-title="Sign-in succeeded"
              data-event-category="Sign-in"
              data-loading-text="Signing In..."
              fw-submit-form="signIn()">Sign In</button>
          </div>

          <div ng-show="message" class="alert alert-danger sub-form-alert" id="sign-in-message">
            <p>{{message}}</p>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>


