.home-footer {
  @media (min-width:992px) and (min-height:450px) {
    position:fixed;
    bottom:0;
    background:rgba(255, 255, 255, 0.2);
  }
  p {
    @include text-shadow-black;
    font:{
      size:16px;
      weight:300;
    }
    color:#CECECE;
    margin:0;
    @media (min-width:600px) {
      font-size:21px;
    }
    @media (min-width:768px) {
      color:$white-1;
    }
    span {
      display:block;
      @media (min-width:768px) {
        display:inline;
      }
    }
  }
  a {
    color:$white-full;
    text-decoration:underline;
    #{$state-active-hover-focus} {
      text-decoration:none;
    }

  }
  .text-wrap {
    max-width:420px;
    margin:0 auto;
    padding:10px 0;
    @media (min-width:600px) {
      padding:25px 0;
      max-width:500px;
    }
    @media (min-width:768px) {
      max-width:735px;
    }
  }
}