.home-footer {
  @media (min-width:$screen-sm-min) and (min-height:$screen-xs-max - 50px) {
    position:fixed;
    bottom:0;
    left:0;
    background:rgba(30, 30, 30, 0.3);
  }
  p {
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(30, 30, 30, 0.5);
    font:{
      size:16px;
    }
    color:$grey-light-3;
    margin:0;
    @media (min-width:$screen-s-min) {
      @include text-shadow-black;
      font-size:19px;
    }
    @media (min-width:$screen-sm-min) {
      color:#ffffff;
    }
  }
  a {
    color:$white-full;
    text-decoration:underline;
    #{$state-active-hover-focus} {
      text-decoration:none;
    }
    @media (max-width:$screen-xs-max) {
      display: block;
    }
  }
  .text-wrap {
    max-width:420px;
    margin:0 auto;
    padding:10px 0;
    @media (min-width:$screen-s-min) {
      padding:25px 0;
      max-width:535px;
    }
    @media (min-width:$screen-sm-min) {
      max-width:765px;
    }
  }
}
