.home-footer {
  @media (min-width:$bp-medium) and (min-height:$bp-x-small - 50px) {
    position:fixed;
    bottom:0;
    background:rgba(255, 255, 255, 0.1);
  }
  p {
    @include text-shadow-black;
    font:{
      size:16px;
    }
    color:#CECECE;
    margin:0;
    @media (min-width:$bp-small) {
      font-size:19px;
    }
    @media (min-width:$bp-medium) {
      color:#ffffff;
    }
    span {
      display:block;
      @media (min-width:$bp-medium) {
        display:inline;
      }
    }
    br {
      display:none;
      @media (min-width:420px) {
        display:block;
      }
      @media (min-width:$bp-small) {
        display:none;
      }
    }
  }
  a {
    color:$white-full;
    text-decoration:underline;
    #{$state-active-hover-focus} {
      text-decoration:none;
    }

  }
  .text-wrap {
    max-width:420px;
    margin:0 auto;
    padding:10px 0;
    @media (min-width:$bp-small) {
      padding:25px 0;
      max-width:535px;
    }
    @media (min-width:$bp-medium) {
      max-width:735px;
    }
  }
}
