.form-wrap {
  margin:0 auto 0.8% auto;
  width:100%;
  max-width:320px;
  @media (min-width:992px) {
    max-width:960px;
    margin:0 auto;
    padding-left:290px;
  }
  .help-block,
  .has-error .help-block {
    background:rgba(0, 0, 0, 0.33);
    text-align:left;
    color:$white-full;
    border-radius:3px;
    margin:0;
    padding:10px 13px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .btn {
    width:100%;
    font-size: 18px;
  }
}