.form-wrap {
  margin:0 auto 0.8% auto;
  max-width:300px;
  @media (min-width:992px) {
    width:100%;
    max-width:600px;
    margin:0 0 0 36%;
  }
  .help-block,
  .has-error .help-block {
    background:$red-dark-1;
    color:$white-full;
    border-radius:3px;
    margin:0;
    padding:10px;
  }

  .btn {
    width:100%;
  }

}