.form-wrap {
  margin:0 auto 0.8% auto;
  width:100%;
  max-width:320px;
  @media (min-width:$screen-md-min) {
    max-width:920px;
    margin:0 auto;
    padding-left:310px;
  }
  .help-block,
  .has-error .help-block,
  .sub-form-alert {
    background:rgba(0, 0, 0, 0.33);
    text-align:left;
    color:$white-full;
    margin:0;
    padding:10px 13px;
    border:0 none;
    border-radius:3px;
  }
  .sub-form-alert {
    text-align: center;
    margin-top:10px;
  }
  .form-group {
    margin-bottom: 10px;
    @media (min-width:$screen-md-min) {
      .col-md-6:last-child {
        padding: 0;
      }
    }
  }
  .btn {
    width:100%;
    font-size: 17px;
  }
}
