.home-intro {
  clear:both;
  padding-bottom:15%;
  @media (min-width:500px) {
    padding-top:5%;
  }
  @media (min-width:768px) {
    padding:{
      top:120px;
      bottom:120px;
    }
  }

  @media (min-width:992px) {
    padding:{
      top:5%;
      bottom:210px;
    }
  }
  h2,
  h3 {
    @include text-shadow-black;
    margin:0;
  }
  h2 {
    color:$white-1;
    margin-bottom:20px;
    font:{
      weight:bold;
      size:37px;
    }
    @media (min-width:600px) {
      font-size:45px;
    }
    @media (min-width:768px) {
      font-size:49px;
    }
    @media (min-width:992px) {
      font-size:55px;
    }
    br {
      @media (min-width:600px) {
        display:none;
      }
    }
  }
  h3 {
    font-size:19px;
    color:#CECECE;
    max-width:355px;
    margin:0 auto 40px auto;
    @media (min-width:600px) {
      font-size:24px;
      max-width:385px;
    }
    @media (min-width:768px) {
      color:$white-1;
      max-width:100%;
      font-size:21px;
    }
    @media (min-width:992px) {
      font-size:24px;
    }
  }
  .btn-video {
    margin:15px auto 0 auto;
  }
}