<div class="full-post-dialog"  id="full-post">
  <div class="modal-title" id="modal-title" ng-if="isDialog">
    <a id="post-cross-button" class="btn-close" href ng-click="closeDialog()" ng-if="isDialog">
      <i class="fa fa-close"></i>
    </a>
    <div class="info">
      <a ng-click="closeIfDialog()" class="author" ui-sref="landingPage({username: post.creator.username, action: null, key: null})">
        <img class="author-image" ng-if="post.creator.profileImage" ng-src="{{post.creator.profileImage.resolvedUri}}" />
        <img class="author-image" ng-if="!post.creator.profileImage" ng-src="{{fifthweekConstants.defaultProfileImageUrl}}" />
      </a>
      <ul ng-if="!post">
        <li>Loading Post...</li>
      </ul>
      <ul ng-if="post">
        <li>
          <a ng-click="closeIfDialog()" ui-sref="landingPage({username: post.creator.username, action: null, key: null})" class="poster-name">{{post.blog.name}}</a>
        </li>
        <li ng-if="post.blog.name !== post.channel.name">
          <a ng-click="closeIfDialog()" ui-sref="landingPage({username: post.creator.username, action: landingPageConstants.actions.channel, key: post.channelId })" class="container-name">
            {{post.channel.name}}
          </a>
        </li>
        <li>
          <span ng-if="post.isScheduled">Live in </span>
          <span class="live-in-info">{{post.liveIn}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div ng-if="!isDialog">
    <div class="row">
      <div class="col-xs-12">
        <p class="live-date-information">
          <span ng-if="!post.isScheduled">Posted to </span>
          <span ng-if="post.isScheduled">Live in </span>
          <a ng-click="closeIfDialog()" ui-sref="landingPage({username: post.creator.username, action: landingPageConstants.actions.channel, key: post.channelId })" class="container-name">
            {{post.channel.name}}
          </a>
          <span class="live-in-info">{{post.liveIn}}</span>
        </p>
      </div>
    </div>
  </div>

  <div class="post-additional-content"
       ng-if="post.creator.username && (!post.readAccessIgnoringPayment || !post.priceAccepted)">
    <div class="row">
      <div class="col-xs-12">
        <p ng-if="!post.readAccessIgnoringPayment">
          This post requires a subscription to <strong>{{post.channel.name}}</strong>.
          <a ng-click="closeIfDialog()" ui-sref="landingPage({username: post.creator.username, action: null, key: null})">Find out more...</a>.
        </p>
        <p ng-if="post.readAccessIgnoringPayment && !post.readAccess && !post.priceAccepted">
          The price of <strong>{{post.channel.name}}</strong> has increased. You must accept the new price to continue accessing this channel.
        </p>
        <fw-post-subscription-information
          username="{{post.creator.username}}"
          required-channel-id="{{post.channelId}}"></fw-post-subscription-information>
      </div>
    </div>
  </div>

  <div class="post-additional-content">
    <fw-account-balance-warning displaying-account-balance-warning="model.displayingAccountBalanceWarning" ng-if="post"></fw-account-balance-warning>
  </div>

  <fw-error-message value="model.errorMessage"></fw-error-message>

  <div class="posts full-post-container">
    <div ng-if="model.isLoading" class="updating-area">
      <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div data-live-date="{{post.liveDate}}" class="post timeline-post" ng-if="post">

      <div class="post-blocks">
        <div ng-repeat="block in post.blocks" class="post-block">

          <div ng-if="block.type === 'text'" class="text">
            <span fw-markdown ng-model="block.data.text"></span>
          </div>

          <div ng-if="block.type === 'file'" class="text">
            <p>
              <span ng-if="!post.readAccess" class="file-content">{{block.source.fileName}}.{{block.source.fileExtension}}</span>
              <a ng-if="post.readAccess" class="btn-file-download file-content" ng-click="openFile(post.file)">
                {{block.source.fileName}}.{{block.source.fileExtension}}
              </a>
              <span class="file-size">{{block.source.readableSize}}</span>
            </p>
          </div>

          <div ng-if="block.type === 'image'" class="post-visual">
            <div class="full-width-image-container" ng-style="block.renderSizeMaximumWidth ? { 'max-width': block.renderSizeMaximumWidth + 'px' } : {}">
              <div ng-style="{'padding-top': block.renderSizeRatio}"></div>
              <img class="full-width-image" ng-class="{'read-access-image': post.readAccess}" ng-if="block.information" ng-src="{{block.information.resolvedUri}}" ng-click="post.readAccess && viewImage(block.information, block.source)" />
            </div>
          </div>

          <div ng-if="block.type === 'video'" class="post-visual">
            <div ng-if="block.data.source === 'vimeo' || block.data.source === 'youtube'" class="video">
              <embed-video data-ng-href="{{block.data.source === 'vimeo' ? 'https://vimeo.com/' : 'https://youtube.com/watch?v='}}{{block.data.remote_id}}" rel="0" autohide="1" frameborder="0" showinfo="0"></embed-video>
            </div>
          </div>

          <div ng-if="block.type === 'break'">
            <p class="post-break-line">⁂</p>
          </div>

        </div>
      </div>

      <hr />

      <div class="post-footer-actions post-section-narrow-border">
        <span class="like-comment-buttons" ng-if="post.readAccess">
          <span>
            <a ng-click="toggleLikePost(post)">{{post.hasLiked ? 'Unlike' : 'Like'}}</a>
          </span>
          <span>
            <a ng-click="commentOnPost(post)">Comment</a>
          </span>
        </span>
        <span class="like-comment-buttons" ng-if="!post.readAccess">
          <span>
            <a ng-click="viewComments(post)">View Comments</a>
          </span>
        </span>
        <span class="like-comment-counters">
          <span class="likes-count" ng-class="{ 'has-liked': post.hasLiked, 'has-not-liked': !post.hasLiked }">
            {{post.likesCount}}
          </span>
          <span class="comments-count">
            {{post.commentsCount}}
          </span>
        </span>
      </div>

      <hr />

    </div>

    <div class="post-buttons-container">
      <button id="close-post-button" ng-if="isDialog"
              class="btn btn-block btn-success"
              ng-click="closeDialog()">Close</button>

      <button id="more-posts-button"
              class="btn btn-block btn-success"
              ng-click="closeIfDialog()"
              ui-sref="landingPage({username: post.creator.username, action: null, key: null})">More from this author</button>
    </div>

    <p class="share-post-link">
      Share this post:
      <a ng-click="closeIfDialog()" ui-sref="landingPage({username: post.creator.username, action: landingPageConstants.actions.post, key: post.postId})">
        {{fifthweekConstants.websiteRoot + post.creator.username + '/post/' + post.postId}}
      </a>
    </p>
  </div>
</div>
