<div class="posts" ng-class="{ 'tagged-posts': source ===  sources.creatorBacklog }">

  <fw-post-list-information source="{{source}}" user-id="{{userId}}"></fw-post-list-information>

  <fw-post-list-header source="{{source}}" user-id="{{userId}}" channel-id="{{channelId}}"></fw-post-list-header>

  <fw-error-message value="model.errorMessage"></fw-error-message>

  <div ng-if="source === sources.timeline">
    <fw-account-balance-warning displaying-account-balance-warning="model.displayingAccountBalanceWarning"></fw-account-balance-warning>
  </div>

  <div ng-if="model.isLoading && !model.errorMessage" class="updating-area">
    <i class="fa fa-refresh fa-spin"></i>
  </div>

  <div ng-if="model.posts.length === 0">
    <fw-panel12 ng-if="source === sources.creatorBacklog">
      <h4>Nothing scheduled</h4>
      <p>The schedule makes it easy for you to provide a steady flow of posts to your subscribers.</p>
      <p>Use this feature by clicking 'Schedule' when creating a post.</p>
    </fw-panel12>

    <fw-panel12 ng-if="source === sources.creatorTimeline">
      <div ng-include="'modules/posts/creator-welcome-message.html'"></div>
    </fw-panel12>

    <fw-panel12 ng-if="source === sources.timeline && userId && !model.displayingAccountBalanceWarning">
      <h4>This creator has not released any posts</h4>
      <p>Don't panic! You will only be billed for the weeks where you receive content.</p>
      <p>Hopefully something will come along shortly :)</p>
    </fw-panel12>

    <fw-panel12 ng-if="source === sources.timeline && !userId && !model.displayingAccountBalanceWarning">
      <h4>There are no posts to display.</h4>
      <p>Once you have subscribed to some creators, their posts will appear on this page.</p>
      <p>If you have subscribed already, don't panic! You will only be billed for the weeks where you receive content.</p>
      <p>Hopefully something will come along shortly :)</p>
    </fw-panel12>
  </div>

  <div ng-repeat="post in model.posts track by post.postId" ng-include="'modules/posts/post.html'" id="post-{{$index}}"></div>
</div>
