<div class="posts" ng-class="{ 'tagged-posts': source ===  sources.creatorBacklog }">

  <div ng-if="model.isLoading && !model.errorMessage" class="updating-area">
    <i class="fa fa-refresh fa-spin"></i>
  </div>

  <fw-error-message value="model.errorMessage"></fw-error-message>

  <div ng-repeat="post in model.posts" ng-include="'modules/posts/post.html'" id="post-{{$index}}"></div>

  <fw-panel12 ng-if="model.posts.length === 0">
    <h4>Backlog empty</h4>
    <p>The backlog makes it easy for you to provide a steady flow of posts to your subscribers.</p>
    <p>Use this feature by clicking 'Post Later' when creating a post.</p>
  </fw-panel12>
</div>
