<div class="posts" ng-class="{ 'tagged-posts': source ===  sources.creatorBacklog }">

  <div ng-if="model.isLoading && !model.errorMessage" class="updating-area">
    <i class="fa fa-refresh fa-spin"></i>
  </div>

  <fw-error-message value="model.errorMessage"></fw-error-message>

  <div ng-repeat="post in model.posts" ng-include="'modules/posts/post.html'" id="post-{{$index}}"></div>

  <fw-panel12 ng-if="model.posts.length === 0">
    <h4>Backlog Empty</h4>
    <p>There are currently no posts in your backlog.</p>
  </fw-panel12>
</div>
