<form novalidate
  role="form"
  name="editPostForm"
  class="edit-post-form">

  <fw-form-modal name="Edit Post">
    <form-body>
      <div ng-if="model.postType !== postTypes.note">

        <div class="form-group form-group-has-buffers" ng-if="model.postType === postTypes.file">
          <label>File</label>
          <div class="row">
            <div class="col-s-6 bottom-buffer">
              <p>
                <a class="btn-file-download file-content" ng-click="openFile(model.input.file)">
                  {{model.input.fileSource.fileName}}.{{model.input.fileSource.fileExtension}}
                </a>
              </p>
            </div>
            <div class="col-s-6 bottom-buffer">
              <fw-file-upload class="pull-right" description="Upload File" on-upload-complete="onUploadComplete(data)" file-purpose="post-file"></fw-file-upload>
            </div>
          </div>
        </div>

        <div class="form-group form-group-has-buffers" ng-if="model.postType === postTypes.image">
          <label>Image</label>
          <div class="row">
            <div class="col-s-7 bottom-buffer">
              <fw-blob-image control="blobImage" file-id="{{model.input.image.fileId}}" container-name="{{model.input.image.containerName}}" thumbnail="preview"></fw-blob-image>
            </div>
            <div class="col-s-5 bottom-buffer">
              <fw-file-upload description="Upload Image" on-upload-complete="onUploadComplete(data)" file-purpose="post-image" accept="image/tiff,image/jpeg,image/gif,image/png"></fw-file-upload>
            </div>
          </div>
        </div>

        <label>Comment</label>
        <fw-form-input-comment
          ng-model="model.input.comment"
          placeholder="Add a comment, if you like"
          focus>
        </fw-form-input-comment>

        <label>Post to</label>
        <fw-form-input-select selected-item="model.input.selectedCollection" items="model.collections" ng-disabled="true"></fw-form-input-select>
      </div>

      <div ng-if="model.postType === postTypes.note">
        <label>Note</label>
        <fw-form-input-note ng-model="model.input.comment" required focus></fw-form-input-note>

        <label>Share with</label>
        <div ng-if="model.channels.length > 1">
          <fw-form-input-select selected-item="model.input.selectedChannel" items="model.channels" ng-disabled="true"></fw-form-input-select>
        </div>
      </div>

      <div class="form-group">
        <fw-form-subsection name="Release time">
          <summary>
            <p ng-if="model.savedScheduleMode === scheduleModes.now">This post has been released</p>
            <p ng-if="model.savedScheduleMode !== scheduleModes.now">Currently scheduled for <strong>{{model.savedDate | date:fifthweekConstants.longDateTimeFormat:'UTC'}}</strong></p>
          </summary>
          <section>
            <div class="radio">
              <label><input type="radio"
                            ng-model="model.input.scheduleMode"
                            ng-value="scheduleModes.now"/> {{model.savedScheduleMode === scheduleModes.now ? 'No change' : 'Post now'}}</label>
            </div>

            <div class="radio" ng-if="model.postType !== postTypes.note">
              <label>
                <input
                  type="radio"
                  ng-model="model.input.scheduleMode"
                  ng-value="scheduleModes.queued" />
                Scheduled by queue
                <span ng-if="model.savedScheduleMode !== scheduleModes.queued">(<strong>{{model.queuedLiveDate | date:fifthweekConstants.dayGroupingDateFormat:'UTC'}}</strong>)</span>
              </label>
            </div>

            <div class="radio">
              <label><input type="radio"
                            ng-model="model.input.scheduleMode"
                            ng-value="scheduleModes.scheduled" /> On specific date (UTC):</label>
            </div>

            <fw-form-input-date-time-picker ng-model="model.input.date"></fw-form-input-date-time-picker>
          </section>
        </fw-form-subsection>
      </div>

      <fw-error-message value="editPostForm.message"></fw-error-message>
    </form-body>
    <form-buttons>
      <button
        id="save-post-button"
        class="btn btn-block btn-success"
        data-loading-text="Saving..."
        data-event-title="Backlog post edited"
        data-event-category="Edited post"
        fw-form-submit="save()">
        <span ng-if="model.savedScheduleMode === scheduleModes.now">{{model.input.scheduleMode === scheduleModes.now ? 'Save' : 'Post Later'}}</span>
        <span ng-if="model.savedScheduleMode !== scheduleModes.now">{{model.input.scheduleMode === scheduleModes.now ? 'Post Now' : 'Save'}}</span>
      </button>
    </form-buttons>
  </fw-form-modal>

</form>
