<h5 ng-if="post.dayGrouping"><span>{{post.dayGrouping}}</span></h5>
<div class="post timeline-post" ng-class="{'non-image-post': !post.image, 'image-post': post.image}">

  <img class="full-width-image" ng-if="post.image" ng-src="{{post.image.resolvedUri}}" ng-click="post.fileSource ? openFile(post.image) : viewImage(post.image, post.imageSource)" />

  <div ng-if="post.isScheduled">
    <p class="tag" ng-if="!post.scheduledByQueue">Scheduled, {{post.liveDate | date: fifthweekConstants.newsfeedDateFormat}}</p>
    <p class="tag" ng-if="post.scheduledByQueue">Queued, {{post.liveDate | date: fifthweekConstants.newsfeedDateFormat}}</p>
  </div>

  <div class="text">
    <div class="content" ng-if="post.comment || post.fileSource">
      <md ng-model="post.comment" ng-if="post.comment"></md>

      <div ng-if="post.fileSource" class="file-download">
        <p>
          <a class="btn-file-download file-content" ng-click="openFile(post.file)">
            {{post.fileSource.fileName}}.{{post.fileSource.fileExtension}}
          </a>
        </p>
        <span class="file-size">{{post.fileSource.readableSize}}</span>
      </div>
    </div>

    <hr />

    <div class="row info-actions">
      <div class="col-xs-8 info">
        <a class="author" ui-sref="account">
          <img class="author-image" ng-src="{{post.creator.profileImage.resolvedUri}}" />
        </a>
        <ul>
          <li>
            <a ui-sref="account" class="poster-name">
              {{post.creator.username}}
            </a>
            <span ng-if="post.collection">
              in
              <a ui-sref="creators.customize.collections.edit({id: post.collectionId})" class="container-name">
                {{post.collection.name}}
              </a>
            </span>
            <span ng-if="!post.collection">
              to
               <a ui-sref="creators.customize.channels.edit({id: post.channelId})" class="container-name">
                 {{post.channel.name}}
               </a>
            </span>
          </li>
          <li>
            <a ng-click="editPost(post.postId)" class="live-in-info">
              <span ng-if="post.isScheduled">live </span>{{post.liveIn}}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-4 actions">
        <ul>
          <li class="actions-more"
              ng-class="{'active-actions-drop-down': post.showMenu}">
            <button
              ng-click="post.showMenu = !post.showMenu"
              ng-blur="post.showMenu = false">
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div class="actions-drop-down" ng-show="post.showMenu">
              <ul>
                <li><a ng-mousedown="editPost(post.postId)">Edit</a></li>
                <li ng-if="post.isScheduled && post.scheduledByQueue"><a ng-mousedown="post.reorder()">Reorder</a></li>
                <li>
                  <fw-delete-link
                    item-type="Post"
                    data-event-title="Post deleted"
                    data-event-category="Backlog"
                    delete="deletePost(post.postId)">
                    Delete
                  </fw-delete-link>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
