<form novalidate
      name="form"
      role="form">

  <fw-azure-image output-url="model.profileImageUrl" thumbnail="600x600-crop" uri="{{model.accountSettings.profileImage.uri}}" container-name="{{model.accountSettings.profileImage.containerName}}"></fw-azure-image>
  <fw-azure-image output-url="model.headerImageUrl" thumbnail="3000x800-crop" uri="{{model.subscription.headerImage.uri}}" container-name="{{model.subscription.headerImage.containerName}}"></fw-azure-image>

  <div class="header-image" style="background-image:url('{{model.headerImageUrl}}')">
    <div ng-include="'../../views/partials/logo-sm.html'"></div>
  </div>

  <div class="main-content">
    <div class="left-margin-offset">
      <div class="row header">
        <div class="col-s-4">
          <div class="creator">
            <div class="image-container">
              <div class="vertical-aspect-ratio"></div>
              <img class="image-area" ng-src="{{model.profileImageUrl}}" />
            </div>
            <div class="subscribe-button-wrapper">
              <div ng-if="model.subscribed" class="subscribed">
                <button id="subscribed-button"
                        class="btn btn-block"
                        type="submit">Subscribed</button>
                <p>1 Subscriber</p>
              </div>
              <div ng-if="!model.subscribed" class="subscribe">
                <button id="subscribe-button"
                        class="btn btn-block"
                        type="submit"
                        data-event-title="Subscribed"
                        data-event-category="Timeline"
                        data-loading-text="Subscribing..."
                        can-submit="true"
                        fw-form-submit="subscribe()">Subscribe <span>&#36;{{model.totalPrice}}/week</span></button>
                <p>No commitments. Cancel anytime.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-s-8">
          <div class="header-text">
            <h2>{{model.subscription.subscriptionName}}</h2>
            <h3>{{model.subscription.tagline}}</h3>
            <h4>{{model.subscription.introduction}}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-4">
          <div class="posts" ng-if="!model.subscribed">

            <h5><span>What You'll Get</span></h5>
            <div class="pseudo-post-text channels">
              <div class="row" ng-repeat="channel in model.channels" ng-class="{first:$first, last:$last, checked:channel.checked}">
                <div class="col-sm-8 name">
                  <form>
                    <label>
                      <input type="checkbox"
                             ng-model="channel.checked"
                             ng-checked="channel.checked"
                             ng-disabled="$first"
                             ng-change="checkboxHandler()">
                      <h6>{{channel.title}} Subscription</h6>
                    </label>
                  </form>
                </div>
                <div class="col-sm-4 price">
                  <p>&#36;{{channel.price}}/week</p>
                </div>
                <div class="col-sm-8">
                  <ul>
                    <li ng-repeat="descriptionLine in channel.descriptionLines">{{descriptionLine}}</li>
                  </ul>
                </div>
              </div>
            </div>

            <h5><span>More Info</span></h5>
            <div class="pseudo-post-text" ng-if="!model.videoUrl">
              <p>{{model.fullDescription}}</p>
            </div>
            <div class="pseudo-post-video" ng-if="model.videoUrl">
              <div class="video">
                <iframe id="home-modal-video" vimeo-video title="Creator Journey" src="{{model.videoUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div ng-include="'../../views/partials/video-radius-fix.html'"></div>
              </div>
              <div class="text">
                <p>{{model.fullDescription}}</p>
              </div>
            </div>

          </div>

          <div class="posts" ng-if="model.subscribed">
            <div ng-repeat="post in model.posts">
              <h5 ng-if="post.dayGrouping"><span>{{post.dayGrouping}}</span></h5>
              <div class="post">
                <div ng-class="{'non-image-post': !post.imagePath, 'image-post': post.imagePath}">
                  <img ng-if="post.imagePath" ng-src="{{post.imagePath}}" ng-click="viewImage(post)"/>

                  <div class="text">
                    <div class="content" ng-if="post.comment || post.filePath">
                      <md ng-model="post.comment" ng-if="post.comment"></md>

                      <p ng-if="post.filePath">
                        <a class="btn-file-download file-content" href="{{post.filePath}}" target="_blank">
                          {{post.fileName}}
                        </a>
                      </p>
                    </div>

                    <hr />

                    <div class="row info-actions">
                      <div class="col-xs-8 info">
                        <div class="author">
                          <fw-blob-image control="blobImage" thumbnail="128x128-crop" uri="https://fifthweek.blob.core.windows.net/public/WuZ1Yr3lEeST-gAVXcJ6Nw2" container-name="public"></fw-blob-image>
                        </div>
                        <ul>
                          <li>
                            <span class="poster-name">Marc Holmes</span>
                            <span ng-if="post.collection">in {{post.collection}}</span>
                            <span ng-if="!post.collection">to {{post.channel}}</span>
                          </li>
                          <li>{{post.liveIn}} ago</li>
                        </ul>
                      </div>
                      <div class="col-xs-4 actions">
                        <ul>
                          <li>
                            <button>
                              <i class="fa fa-comment-o"></i>
                            </button>
                          </li>
                          <li>
                            <button>
                              <i class="fa fa-heart-o" ng-click="post.liked = !post.liked" ng-class="{'fa-heart-o': !post.liked, 'fa-heart': post.liked}"></i>
                            </button>
                          </li>
                          <li class="actions-more"
                              ng-class="{'active-actions-drop-down': post.showMenu}">
                            <button
                              ng-click="post.showMenu = !post.showMenu"
                              ng-blur="post.showMenu = false">
                              <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="actions-drop-down" ng-show="post.showMenu">
                              <ul>
                                <li><a ng-mousedown="edit(post.postId)">Edit</a></li>
                                <li>
                                  <fw-delete-link
                                    item-type="Post"
                                    data-event-title="Post deleted"
                                    data-event-category="Backlog"
                                    delete="delete(post.postId)">
                                    Delete
                                  </fw-delete-link>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
