<form novalidate
      name="form"
      role="form">

  <fw-azure-image-loader output-url="model.profileImageUrl" thumbnail="600x600-crop" file-id="{{model.accountSettings.profileImage.fileId}}" container-name="{{model.accountSettings.profileImage.containerName}}"></fw-azure-image-loader>
  <fw-azure-image-loader output-url="model.headerImageUrl" thumbnail="3000x800-crop" file-id="{{model.subscription.headerImage.fileId}}" container-name="{{model.subscription.headerImage.containerName}}"></fw-azure-image-loader>

  <div class="header-image" style="background-image:url('{{model.subscription.headerImage.fileId ? model.headerImageUrl : 'images/header-default.jpg'}}')">
    <div ng-include="'../../views/partials/logo-sm.html'"></div>
  </div>

  <div class="main-content">
    <div class="left-margin-offset">
      <div class="row header">
        <div class="col-s-4">
          <div class="creator">
            <fw-image src="{{model.accountSettings.profileImage.fileId ? model.profileImageUrl : 'images/avatar-default.jpg'}}"></fw-image>
            <div class="subscribe-button-wrapper">
              <div ng-if="model.subscribed" class="subscribed">
                <button id="subscribed-button"
                        class="btn btn-block"
                        type="submit">Subscribed</button>
                <p>1 Subscriber</p>
              </div>
              <div ng-if="!model.subscribed" class="subscribe">
                <button id="subscribe-button"
                        class="btn btn-block"
                        type="submit"
                        data-event-title="Subscribed"
                        data-event-category="Timeline"
                        data-loading-text="Subscribing..."
                        can-submit="true"
                        fw-form-submit="subscribe()">Subscribe <span>&#36;{{model.totalPrice}}/week</span></button>
                <p>No commitments. Cancel anytime.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-s-8">
          <div class="header-text">
            <h2>{{model.subscription.subscriptionName}}</h2>
            <h3>{{model.subscription.tagline}}</h3>
            <h4>{{model.subscription.introduction}}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-4">
          <div class="posts landing-page" ng-if="!model.subscribed">

            <h5><span>What You'll Get</span></h5>
            <div class="post non-image-post channels">
              <div class="text">
                <div class="row" ng-repeat="channel in model.channels" ng-class="{first:$first, last:$last}">
                  <div class="col-sm-8 name">
                    <h6>{{channel.name}}</h6>
                  </div>
                  <div class="col-sm-4 price">
                    <p ng-click="channel.checked = !channel.checked || channel.isDefault"
                       ng-class="{'unchecked':!channel.checked, 'non-default':!channel.isDefault}">
                      &#36;{{channel.price}}/week
                    </p>
                  </div>
                  <div class="col-sm-8">
                    <ul>
                      <li ng-repeat="descriptionLine in channel.description">{{descriptionLine}}</li>
                    </ul>
                  </div>
                </div>
                <hr />
              </div>
            </div>

            <div ng-if="model.videoUrl || model.subscription.description">
              <h5><span>More Info</span></h5>
              <div class="post non-image-post" ng-if="!model.videoUrl">
                <div class="text">
                  <md ng-model="model.subscription.description"></md>
                </div>
              </div>
              <div class="post image-post" ng-if="model.videoUrl">
                <div class="video">
                  <embed-video data-ng-href="{{model.videoUrl}}" controls=0></embed-video>
                  <div ng-include="'../../views/partials/video-radius-fix.html'"></div>
                </div>
                <div class="text">
                  <md ng-model="model.subscription.description" ng-if="model.subscription.description"></md>
                  <p ng-if="!model.subscription.description">More of your favourites each and every week -- all for less than a coffee!</p>
                </div>
              </div>
            </div>

          </div>

          <div class="posts" ng-if="model.subscribed">

            <div ng-if="model.isLoading && !model.errorMessage" class="updating-area">
              <i class="fa fa-refresh fa-spin"></i>
            </div>

            <fw-error-message value="model.errorMessage"></fw-error-message>

            <div ng-repeat="post in model.posts" ng-include="'modules/posts/post.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
