<form novalidate
      name="form"
      role="form">

  <fw-azure-image-loader output-url="model.profileImageUrl" thumbnail="header" file-id="{{model.accountSettings.profileImage.fileId}}" container-name="{{model.accountSettings.profileImage.containerName}}"></fw-azure-image-loader>
  <fw-azure-image-loader output-url="model.headerImageUrl" thumbnail="header" file-id="{{model.subscription.headerImage.fileId}}" container-name="{{model.subscription.headerImage.containerName}}"></fw-azure-image-loader>

  <div class="header-image" ng-style="{'background-image':'url(' + (model.subscription.headerImage.fileId ? model.headerImageUrl : model.defaultHeaderImageUrl) + ')'}" id="header-image">
    <div ng-include="'views/partials/logo-sm.html'"></div>
  </div>

  <div class="main-content">
    <div class="left-margin-offset">
      <div class="row header">
        <div class="col-s-4">
          <div class="creator">
            <fw-image id="profile-image" src="{{model.accountSettings.profileImage.fileId ? model.profileImageUrl : model.defaultProfileImageUrl}}"></fw-image>
            <div ng-if="model.subscribed" class="subscribed">
              <div class="subscribe-button-wrapper">
                <button id="subscribed-button"
                        class="btn btn-block"
                        type="submit"
                        data-event-title="Unsubscribed"
                        data-event-category="{{model.tracking.category}}"
                        data-loading-text="Unsubscribing..."
                        can-submit="true"
                        fw-form-submit="unsubscribe()">Subscribed</button>
              </div>
              <p class="button-footer">1 Subscriber</p>
            </div>
            <div ng-if="!model.subscribed" class="subscribe">
              <div class="subscribe-button-wrapper">
                <button id="subscribe-button"
                        class="btn btn-block"
                        type="submit"
                        data-event-title="{{model.tracking.title}}"
                        data-event-category="{{model.tracking.category}}"
                        data-loading-text="Subscribing..."
                        can-submit="true"
                        fw-form-submit="subscribe()">Subscribe <span>&#36;{{model.totalPrice}}/week</span></button>
              </div>
              <p class="button-footer">No commitments. Cancel anytime.</p>
            </div>
          </div>
        </div>
        <div class="col-s-8">
          <div class="header-text">
            <h2 id="subscription-name">{{model.subscription.subscriptionName}}</h2>
            <h3 id="subscription-tagline">{{model.subscription.tagline}}</h3>
            <h4 id="subscription-introduction">{{model.subscription.introduction}}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-4">
          <div class="posts landing-page" ng-if="!model.subscribed">
            <h5><span>What You'll Get</span></h5>
            <div class="post non-image-post channels">
              <div class="text">
                <div class="content">
                  <div id="channel-{{$index}}" class="row channel" ng-repeat="channel in model.channels" ng-class="{first:$first, last:$last}">
                    <div class="col-xs-7 name">
                      <h6>{{channel.name}}</h6>
                    </div>
                    <div class="col-xs-5 price">
                      <span id="channel-price-{{$index}}" ng-click="channel.checked = !channel.checked || channel.isDefault"
                         ng-class="{'unchecked':!channel.checked, 'checked':channel.checked, 'non-default':!channel.isDefault, 'default':channel.isDefault}">
                        &#36;{{channel.price}}/week
                      </span>
                    </div>
                    <div class="col-xs-8">
                      <ul>
                        <li ng-repeat="descriptionLine in channel.description">{{descriptionLine}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <p class="subscribe-now-total">
                  <span>Total:</span> &#36;{{model.totalPrice}}/week
                </p>
                <hr />
                <div class="subscribe-now">
                  <p>
                    <a href
                       id="subscribe-link"
                       data-event-title="{{model.tracking.title}}"
                       data-event-category="{{model.tracking.category}}"
                       data-loading-text="Subscribing..."
                       can-submit="true"
                       fw-form-submit="subscribe()">
                      Subscribe Now
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div id="more-info" ng-if="model.videoUrl || model.subscription.description">
              <h5><span>More Info</span></h5>
              <div class="post non-image-post" ng-if="!model.videoUrl">
                <div class="text">
                  <div id="full-description" class="content">
                    <fw-markdown replace="true" ng-model="model.subscription.description"></fw-markdown>
                  </div>
                </div>
              </div>
              <div class="post image-post" ng-if="model.videoUrl">
                <div id="video" class="video">
                  <embed-video data-ng-href="{{model.videoUrl}}" controls=0></embed-video>
                  <div ng-include="'views/partials/video-radius-fix.html'"></div>
                </div>
                <div class="text">
                  <div id="full-description" class="content">
                    <fw-markdown replace="true" ng-model="model.subscription.description" ng-if="model.subscription.description"></fw-markdown>
                    <p ng-if="!model.subscription.description">More of your favourites each and every week -- for less than a coffee!</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <fw-post-list source="creator-timeline" ng-if="model.subscribed" />
        </div>
      </div>
    </div>
  </div>

</form>
