<fw-panel12>
  <h4>Coming soon...</h4>
  <p>The ability to reorder queued posts is coming very soon.</p>
</fw-panel12>

<div ng-if="false">
  <fw-breadcrumb current="{{model.collectionName}}"></fw-breadcrumb>

  <div class="posts posts-with-margin tagged-posts queue"> <!-- ui-sortable -->
    <div class="post" ng-repeat="post in posts">
      <div ng-class="{'non-image-post': !post.imagePath, 'image-post': post.imagePath, 'file-post': post.filePath}">
        <img ng-if="post.imagePath" ng-src="{{post.imagePath}}" ng-click="viewImage(post)"/>

        <p class="tag">{{post.dayOfWeek}} {{post.date}}</p>

        <div class="text">
          <div class="content" ng-if="post.comment || post.filePath">
            <fw-markdown replace="true" ng-model="post.comment" ng-if="post.comment"></fw-markdown>

            <p ng-if="post.filePath" class="content-file">
              <a class="btn-file-download file-content" href="{{post.filePath}}" target="_blank">
                {{post.fileName}}
              </a>
            </p>
          </div>
          <div class="col-xs-4 actions">
            <ul>
              <li class="actions-more">
                <span class="dropdown" dropdown on-toggle="toggled(open)">
                  <button class="dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a ng-click="editPost(post)">Edit</a></li>
                    <li>
                      <fw-delete-link
                        item-type="Post"
                        event-title="Post deleted"
                        event-category="{{sourceName}}"
                        delete="deletePost(post.postId)">
                        Delete
                      </fw-delete-link>
                    </li>
                  </ul>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
