<div class="payment-information-form">
  <fw-error-message value="model.errorMessage"></fw-error-message>
  <div ng-show="model.success" id="payment-information-updated-notification" class="alert alert-success" >
    <p>Your payment information has been updated.</p>
  </div>

  <div ng-if="model.mode === modes.paymentInformation" ng-include="'modules/payments/fw-update-payment-information-form.html'"></div>
  <div ng-if="model.mode === modes.countryVerification" ng-include="'modules/payments/fw-update-payment-information-country.html'"></div>
  <div ng-if="model.mode === modes.transactionVerification" ng-include="'modules/payments/fw-update-payment-information-transaction.html'"></div>
  <div ng-if="model.mode === modes.countryFailure" ng-include="'modules/payments/fw-update-payment-information-country-failure.html'"></div>
  <div ng-if="model.mode === modes.success" ng-include="'modules/payments/fw-update-payment-information-success.html'"></div>

</div>
